In [1]:

import os, json
import numpy as np, pandas as pd, math

from pprint import pprint
from datetime import datetime as dt

In [2]:

location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\ipl_json'
exp_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\ipl_json_to_csv'

In [3]:

print(location)
print()
print(dt.now().date())

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json

2023-04-20

In [4]:

folder_path = location

# Get a list of all files and directories in the folder
all_files_and_dirs = os.listdir(folder_path)

# Filter the list to include only files (exclude directories)
files_only = [f for f in all_files_and_dirs if os.path.isfile(os.path.join(folder_path, f))]

# Print total # of files
print(len(files_only))

# Print names of first few files 
print(files_only[:5])

975
['1082591.json', '1082592.json', '1082593.json', '1082594.json', '1082595.json']

In [5]:

files_list = files_only
total_files = len(files_list)

#print(np.arange(total_files))
print(total_files)

975

In [6]:

#All file numbers > 1359475 are #2023 IPL onwards
#All file numbers > 1304047 are #2022 IPL onwards

In [7]:

# DEBUGGING

for filenum in np.arange(total_files):

    import_filename = files_only[filenum].replace('.json','')
    print(import_filename)
    
    if (import_filename != 'README.txt') :
        if ( int(import_filename) == 1359493 ):
            # Replace 'file.json' with the path to your JSON file
            json_file_path = location + '\\' + files_only[filenum]
            print(json_file_path)



            #adding a check to see if json file is empty before reading it with pd.read_json.

            if os.path.getsize(json_file_path) > 0:
                # Can't read it directly because of multiple structures inside the json file
                #df = pd.read_json(json_file_path)

                # let's try to flatten it and then import it
                with open(json_file_path, 'r', encoding='utf-8') as file:
                    json_content = json.load(file)

                # Flatten the nested JSON content
                df = pd.json_normalize(json_content)

            else:
                print("The JSON file is empty.")

1082591
1082592
1082593
1082594
1082595
1082596
1082597
1082598
1082599
1082600
1082601
1082602
1082603
1082604
1082605
1082606
1082607
1082608
1082609
1082610
1082611
1082612
1082613
1082614
1082615
1082616
1082617
1082618
1082620
1082621
1082622
1082623
1082624
1082625
1082626
1082627
1082628
1082629
1082630
1082631
1082632
1082633
1082634
1082635
1082636
1082637
1082638
1082639
1082640
1082641
1082642
1082643
1082644
1082645
1082646
1082647
1082648
1082649
1082650
1136561
1136562
1136563
1136564
1136565
1136566
1136567
1136568
1136569
1136570
1136571
1136572
1136573
1136574
1136575
1136576
1136577
1136578
1136579
1136580
1136581
1136582
1136583
1136584
1136585
1136586
1136587
1136588
1136589
1136590
1136591
1136592
1136593
1136594
1136595
1136596
1136597
1136598
1136599
1136600
1136601
1136602
1136603
1136604
1136605
1136606
1136607
1136608
1136609
1136610
1136611
1136612
1136613
1136614
1136615
1136616
1136617
1136618
1136619
1136620
1175356
1175357
1175358
1175359
1175360
1175361
1175362
1175363
1175364
1175365
1175366
1175367
1175368
1175369
1175370
1175371
1175372
1178393
1178394
1178395
1178396
1178397
1178398
1178399
1178400
1178401
1178402
1178403
1178404
1178405
1178406
1178407
1178408
1178409
1178410
1178411
1178412
1178413
1178414
1178415
1178416
1178417
1178418
1178419
1178420
1178421
1178422
1178423
1178424
1178425
1178426
1178427
1178428
1178429
1178430
1178431
1181764
1181766
1181767
1181768
1216492
1216493
1216494
1216495
1216496
1216497
1216498
1216499
1216500
1216501
1216502
1216503
1216504
1216505
1216506
1216507
1216508
1216509
1216510
1216511
1216512
1216513
1216514
1216515
1216516
1216517
1216518
1216519
1216520
1216521
1216522
1216523
1216524
1216525
1216526
1216527
1216528
1216529
1216530
1216531
1216532
1216533
1216534
1216535
1216536
1216537
1216538
1216539
1216540
1216541
1216542
1216543
1216544
1216545
1216546
1216547
1237177
1237178
1237180
1237181
1254058
1254059
1254060
1254061
1254062
1254063
1254064
1254065
1254066
1254067
1254068
1254069
1254070
1254071
1254072
1254073
1254074
1254075
1254076
1254077
1254078
1254079
1254080
1254081
1254082
1254083
1254084
1254085
1254086
1254087
1254088
1254089
1254090
1254091
1254092
1254093
1254094
1254095
1254096
1254097
1254098
1254099
1254100
1254101
1254102
1254103
1254104
1254105
1254106
1254107
1254108
1254109
1254110
1254111
1254112
1254113
1254114
1254115
1254116
1254117
1304047
1304048
1304049
1304050
1304051
1304052
1304053
1304054
1304055
1304056
1304057
1304058
1304059
1304060
1304061
1304062
1304063
1304064
1304065
1304066
1304067
1304068
1304069
1304070
1304071
1304072
1304073
1304074
1304075
1304076
1304077
1304078
1304079
1304080
1304081
1304082
1304083
1304084
1304085
1304086
1304087
1304088
1304089
1304090
1304091
1304092
1304093
1304094
1304095
1304096
1304097
1304098
1304099
1304100
1304101
1304102
1304103
1304104
1304105
1304106
1304107
1304108
1304109
1304110
1304111
1304112
1304113
1304114
1304115
1304116
1312197
1312198
1312199
1312200
1359475
1359476
1359477
1359478
1359479
1359480
1359481
1359482
1359483
1359484
1359485
1359486
1359487
1359488
1359489
1359490
1359491
1359492
1359493
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359493.json
1359494
1359495
1359496
1359497
1359498
335982
335983
335984
335985
335986
335987
335988
335989
335990
335991
335992
335993
335994
335995
335996
335997
335998
335999
336000
336001
336002
336003
336004
336005
336006
336007
336008
336009
336010
336011
336012
336013
336014
336015
336016
336017
336018
336019
336020
336021
336022
336023
336024
336025
336026
336027
336028
336029
336031
336032
336033
336034
336035
336036
336037
336038
336039
336040
392181
392182
392183
392184
392185
392186
392188
392189
392190
392191
392192
392194
392195
392196
392197
392198
392199
392200
392201
392202
392203
392204
392205
392206
392207
392208
392209
392210
392211
392212
392213
392214
392215
392216
392217
392218
392219
392220
392221
392222
392223
392224
392225
392226
392227
392228
392229
392230
392231
392232
392233
392234
392235
392236
392237
392238
392239
419106
419107
419108
419109
419110
419111
419112
419113
419114
419115
419116
419117
419118
419119
419120
419121
419122
419123
419124
419125
419126
419127
419128
419129
419130
419131
419132
419133
419134
419135
419136
419137
419138
419139
419140
419141
419142
419143
419144
419145
419146
419147
419148
419149
419150
419151
419152
419153
419154
419155
419156
419157
419158
419159
419160
419161
419162
419163
419164
419165
501198
501199
501200
501201
501202
501203
501204
501205
501206
501207
501208
501209
501210
501211
501212
501213
501214
501215
501216
501218
501219
501220
501221
501222
501223
501224
501225
501226
501227
501228
501229
501230
501231
501232
501233
501234
501235
501236
501237
501238
501239
501240
501241
501242
501243
501244
501245
501246
501247
501248
501249
501250
501251
501252
501253
501254
501255
501256
501257
501258
501259
501260
501261
501262
501263
501264
501265
501266
501267
501268
501269
501270
501271
548306
548307
548308
548309
548310
548311
548312
548313
548314
548315
548316
548317
548318
548319
548320
548321
548322
548323
548324
548325
548326
548327
548328
548329
548330
548331
548332
548333
548334
548335
548336
548337
548339
548341
548342
548343
548344
548345
548346
548347
548348
548349
548350
548351
548352
548353
548354
548355
548356
548357
548358
548359
548360
548361
548362
548363
548364
548365
548366
548367
548368
548369
548370
548371
548372
548373
548374
548375
548376
548377
548378
548379
548380
548381
597998
597999
598000
598001
598002
598003
598004
598005
598006
598007
598008
598009
598010
598011
598012
598013
598014
598015
598016
598017
598018
598019
598020
598021
598022
598023
598024
598025
598026
598027
598028
598029
598030
598031
598032
598033
598034
598035
598036
598037
598038
598039
598040
598041
598042
598043
598044
598045
598046
598047
598048
598049
598050
598051
598052
598053
598054
598055
598056
598057
598058
598059
598060
598061
598062
598063
598064
598065
598066
598067
598068
598069
598070
598071
598072
598073
729279
729281
729283
729285
729287
729289
729291
729293
729295
729297
729299
729301
729303
729305
729307
729309
729311
729313
729315
729317
733971
733973
733975
733977
733979
733981
733983
733985
733987
733989
733991
733993
733995
733997
733999
734001
734003
734005
734007
734009
734011
734013
734015
734017
734019
734021
734023
734025
734027
734029
734031
734033
734035
734037
734039
734041
734043
734045
734047
734049
829705
829707
829709
829711
829713
829715
829717
829719
829721
829723
829725
829727
829729
829731
829733
829735
829737
829739
829741
829743
829745
829747
829749
829751
829753
829757
829759
829761
829763
829765
829767
829769
829771
829773
829775
829777
829779
829781
829783
829785
829787
829789
829791
829793
829795
829797
829799
829801
829803
829805
829807
829809
829811
829813
829815
829817
829819
829821
829823
980901
980903
980905
980907
980909
980911
980913
980915
980917
980919
980921
980923
980925
980927
980929
980931
980933
980935
980937
980939
980941
980943
980945
980947
980949
980951
980953
980955
980957
980959
980961
980963
980965
980967
980969
980971
980973
980975
980977
980979
980981
980983
980985
980987
980989
980991
980993
980995
980997
980999
981001
981003
981005
981007
981009
981011
981013
981015
981017
981019
README.txt

In [8]:

pprint(json_content)

{'info': {'balls_per_over': 6,
          'city': 'Kolkata',
          'dates': ['2023-04-14'],
          'event': {'match_number': 19, 'name': 'Indian Premier League'},
          'gender': 'male',
          'match_type': 'T20',
          'officials': {'match_referees': ['DS Manohar'],
                        'reserve_umpires': ['M Kuppuraj'],
                        'tv_umpires': ['NA Patwardhan'],
                        'umpires': ['CB Gaffaney', 'GR Sadashiv Iyer']},
          'outcome': {'by': {'runs': 23}, 'winner': 'Sunrisers Hyderabad'},
          'overs': 20,
          'player_of_match': ['HC Brook'],
          'players': {'Kolkata Knight Riders': ['Suyash Sharma',
                                                'Rahmanullah Gurbaz',
                                                'N Jagadeesan',
                                                'VR Iyer',
                                                'SP Narine',
                                                'N Rana',
                                                'AD Russell',
                                                'RK Singh',
                                                'SN Thakur',
                                                'UT Yadav',
                                                'LH Ferguson',
                                                'CV Varun'],
                      'Sunrisers Hyderabad': ['Washington Sundar',
                                              'HC Brook',
                                              'MA Agarwal',
                                              'RA Tripathi',
                                              'AK Markram',
                                              'Abhishek Sharma',
                                              'H Klaasen',
                                              'M Jansen',
                                              'M Markande',
                                              'B Kumar',
                                              'Umran Malik',
                                              'T Natarajan']},
          'registry': {'people': {'AD Russell': 'bbd41817',
                                  'AK Markram': '6a26221c',
                                  'Abhishek Sharma': 'f29185a1',
                                  'B Kumar': '2e81a32d',
                                  'CB Gaffaney': 'd5ac41d8',
                                  'CV Varun': '5b7ab5a9',
                                  'DS Manohar': 'b35f3ac8',
                                  'GD Phillips': '9a46c4e5',
                                  'GR Sadashiv Iyer': '0be62e31',
                                  'H Klaasen': '235c2bb6',
                                  'HC Brook': '4ae1755b',
                                  'LH Ferguson': '2f9d0389',
                                  'M Jansen': '81c36ee9',
                                  'M Kuppuraj': 'aa4063d0',
                                  'M Markande': 'a9fd84fb',
                                  'MA Agarwal': '00ea847a',
                                  'N Jagadeesan': 'bd54eef5',
                                  'N Rana': 'fb2d1dda',
                                  'NA Patwardhan': 'e6ef687d',
                                  'RA Tripathi': '77255a9e',
                                  'RK Singh': '0a509d6b',
                                  'Rahmanullah Gurbaz': '0bacade8',
                                  'SN Thakur': '1abb78f8',
                                  'SP Narine': '9d430b40',
                                  'Suyash Sharma': '9440ef41',
                                  'T Natarajan': 'ce794613',
                                  'UT Yadav': 'cc1e8c68',
                                  'Umran Malik': '81c08fa3',
                                  'VR Iyer': 'a24be938',
                                  'Washington Sundar': 'f19ccfad'}},
          'season': '2023',
          'team_type': 'club',
          'teams': ['Sunrisers Hyderabad', 'Kolkata Knight Riders'],
          'toss': {'decision': 'field', 'winner': 'Kolkata Knight Riders'},
          'venue': 'Eden Gardens, Kolkata'},
 'innings': [{'overs': [{'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 0},
                        {'deliveries': [{'batter': 'MA Agarwal',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 3,
                                                  'extras': 0,
                                                  'total': 3}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'extras': {'wides': 5},
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 0,
                                                  'extras': 5,
                                                  'total': 5}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 1},
                        {'deliveries': [{'batter': 'MA Agarwal',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}}],
                         'over': 2},
                        {'deliveries': [{'batter': 'MA Agarwal',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'SP Narine',

                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'MA Agarwal',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'MA Agarwal',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 3},
                        {'deliveries': [{'batter': 'MA Agarwal',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'CV '
                                                                            'Varun'}],
                                                      'kind': 'caught',
                                                      'player_out': 'MA '
                                                                    'Agarwal'}]},
                                        {'batter': 'RA Tripathi',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'RA Tripathi',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'AD Russell',
                                         'extras': {'wides': 1},
                                         'non_striker': 'RA Tripathi',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'RA Tripathi',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RA Tripathi',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'RA Tripathi',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'Rahmanullah '
                                                                            'Gurbaz'}],
                                                      'kind': 'caught',
                                                      'player_out': 'RA '
                                                                    'Tripathi'}]}],
                         'over': 4},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'extras': {'wides': 1},
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 5},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 6},
                        {'deliveries': [{'batter': 'AK Markram',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',

                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 7},
                        {'deliveries': [{'batter': 'AK Markram',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'SP Narine',
                                         'extras': {'wides': 1},
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 8},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}}],
                         'over': 9},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 10},
                        {'deliveries': [{'batter': 'AK Markram',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 11},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'AK Markram',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'AK Markram',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'AD '
                                                                            'Russell'}],
                                                      'kind': 'caught',
                                                      'player_out': 'AK '
                                                                    'Markram'}]},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 12},
                        {'deliveries': [{'batter': 'Abhishek Sharma',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,

                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 13},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'Abhishek Sharma',
                                         'review': {'batter': 'HC Brook',
                                                    'by': 'Sunrisers Hyderabad',
                                                    'decision': 'upheld',
                                                    'type': 'wicket',
                                                    'umpire': 'CB Gaffaney'},
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'extras': {'noballs': 1},
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 4,
                                                  'extras': 1,
                                                  'total': 5}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'LH Ferguson',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}}],
                         'over': 14},
                        {'deliveries': [{'batter': 'Abhishek Sharma',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'Suyash Sharma',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}}],
                         'over': 15},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'SP Narine',
                                         'extras': {'wides': 1},
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'SP Narine',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}}],
                         'over': 16},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'CV Varun',
                                         'non_striker': 'Abhishek Sharma',
                                         'runs': {'batter': 4,
                                                  'extras': 0,

                                                  'total': 4}}],
                         'over': 17},
                        {'deliveries': [{'batter': 'Abhishek Sharma',
                                         'bowler': 'AD Russell',
                                         'extras': {'wides': 1},
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'Abhishek Sharma',
                                         'bowler': 'AD Russell',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'SN '
                                                                            'Thakur'}],
                                                      'kind': 'caught',
                                                      'player_out': 'Abhishek '
                                                                    'Sharma'}]},
                                        {'batter': 'H Klaasen',
                                         'bowler': 'SN Thakur',
                                         'non_striker': 'HC Brook',
                                         'replacements': {'role': [{'in': 'SN '
                                                                          'Thakur',
                                                                    'out': 'AD '
                                                                           'Russell',
                                                                    'reason': 'injury',
                                                                    'role': 'bowler'}]},
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SN Thakur',
                                         'non_striker': 'H Klaasen',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'SN Thakur',
                                         'non_striker': 'H Klaasen',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'H Klaasen',
                                         'bowler': 'SN Thakur',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'H Klaasen',
                                         'bowler': 'SN Thakur',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}}],
                         'over': 18},
                        {'deliveries': [{'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'H Klaasen',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'H Klaasen',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'HC Brook',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'H Klaasen',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'H Klaasen',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'H Klaasen',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'H Klaasen',
                                         'bowler': 'UT Yadav',
                                         'extras': {'wides': 1},
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'H Klaasen',
                                         'bowler': 'UT Yadav',
                                         'non_striker': 'HC Brook',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 19}],
              'powerplays': [{'from': 0.1, 'to': 5.7, 'type': 'mandatory'}],
              'team': 'Sunrisers Hyderabad'},
             {'overs': [{'deliveries': [{'batter': 'Rahmanullah Gurbaz',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Jagadeesan',
                                         'replacements': {'match': [{'in': 'Washington '
                                                                           'Sundar',
                                                                     'out': 'HC '
                                                                            'Brook',
                                                                     'reason': 'impact_player',
                                                                     'team': 'Sunrisers '
                                                                             'Hyderabad'}]},
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'Rahmanullah Gurbaz',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'Rahmanullah Gurbaz',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'Umran '
                                                                            'Malik'}],
                                                      'kind': 'caught',
                                                      'player_out': 'Rahmanullah '
                                                                    'Gurbaz'}]},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Jagadeesan',
                                         'replacements': {'match': [{'in': 'VR '
                                                                           'Iyer',
                                                                     'out': 'Suyash '
                                                                            'Sharma',
                                                                     'reason': 'impact_player',
                                                                     'team': 'Kolkata '
                                                                             'Knight '
                                                                             'Riders'}]},
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'B Kumar',
                                         'extras': {'legbyes': 1},
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'VR Iyer',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 0},
                        {'deliveries': [{'batter': 'VR Iyer',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Jagadeesan',

                                         'bowler': 'M Jansen',
                                         'non_striker': 'VR Iyer',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'VR Iyer',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'M Jansen',
                                         'extras': {'wides': 1},
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 1},
                        {'deliveries': [{'batter': 'N Jagadeesan',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'VR Iyer',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'VR Iyer',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'VR Iyer',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 2},
                        {'deliveries': [{'batter': 'VR Iyer',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'VR Iyer',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'AK '
                                                                            'Markram'}],
                                                      'kind': 'caught',
                                                      'player_out': 'VR '
                                                                    'Iyer'}]},
                                        {'batter': 'SP Narine',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'AK '
                                                                            'Markram'}],
                                                      'kind': 'caught',
                                                      'player_out': 'SP '
                                                                    'Narine'}]},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 3},
                        {'deliveries': [{'batter': 'N Jagadeesan',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}}],
                         'over': 4},
                        {'deliveries': [{'batter': 'N Rana',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}}],
                         'over': 5},
                        {'deliveries': [{'batter': 'N Jagadeesan',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 6},
                        {'deliveries': [{'batter': 'N Rana',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'N Jagadeesan',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 7},
                        {'deliveries': [{'batter': 'N Jagadeesan',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Jagadeesan',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'GD '
                                                                            'Phillips',
                                                                    'substitute': True}],
                                                      'kind': 'caught',
                                                      'player_out': 'N '
                                                                    'Jagadeesan'}]},
                                        {'batter': 'AD Russell',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'AD Russell',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AD Russell',
                                         'bowler': 'M Markande',

                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'AD Russell',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 8},
                        {'deliveries': [{'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'AD Russell',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'AD Russell',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'AD Russell',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'extras': {'legbyes': 1, 'noballs': 1},
                                         'non_striker': 'AD Russell',
                                         'runs': {'batter': 0,
                                                  'extras': 2,
                                                  'total': 2}},
                                        {'batter': 'AD Russell',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'AD Russell',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'extras': {'wides': 1},
                                         'non_striker': 'AD Russell',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'AD Russell',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}}],
                         'over': 9},
                        {'deliveries': [{'batter': 'AD Russell',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'M '
                                                                            'Jansen'}],
                                                      'kind': 'caught',
                                                      'player_out': 'AD '
                                                                    'Russell'}]},
                                        {'batter': 'RK Singh',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 10},
                        {'deliveries': [{'batter': 'RK Singh',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'Washington Sundar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 11},
                        {'deliveries': [{'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'M Markande',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Markande',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}}],
                         'over': 12},
                        {'deliveries': [{'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'extras': {'wides': 1},
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}}],
                         'over': 13},
                        {'deliveries': [{'batter': 'RK Singh',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Rana',
                                         'review': {'batter': 'RK Singh',
                                                    'by': 'Kolkata Knight '
                                                          'Riders',
                                                    'decision': 'upheld',
                                                    'type': 'wicket',
                                                    'umpire': 'GR Sadashiv '
                                                              'Iyer'},
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 14},
                        {'deliveries': [{'batter': 'RK Singh',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'extras': {'wides': 1},
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'extras': {'wides': 1},
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'M Jansen',
                                         'non_striker': 'N Rana',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'M Jansen',

                                         'bowler': 'T Natarajan',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'N Rana',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'N Rana',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'Washington '
                                                                            'Sundar'}],
                                                      'kind': 'caught',
                                                      'player_out': 'N Rana'}]},
                                        {'batter': 'SN Thakur',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'SN Thakur',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}}],
                         'over': 16},
                        {'deliveries': [{'batter': 'RK Singh',
                                         'bowler': 'B Kumar',
                                         'extras': {'wides': 1},
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 0,
                                                  'extras': 1,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'SN Thakur',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'SN Thakur',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'SN Thakur',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'SN Thakur',
                                         'bowler': 'B Kumar',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}}],
                         'over': 17},
                        {'deliveries': [{'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 2,
                                                  'extras': 0,
                                                  'total': 2}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'T Natarajan',
                                         'non_striker': 'SN Thakur',
                                         'runs': {'batter': 4,
                                                  'extras': 0,
                                                  'total': 4}}],
                         'over': 18},
                        {'deliveries': [{'batter': 'SN Thakur',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0},
                                         'wickets': [{'fielders': [{'name': 'Washington '
                                                                            'Sundar'}],
                                                      'kind': 'caught',
                                                      'player_out': 'SN '
                                                                    'Thakur'}]},
                                        {'batter': 'UT Yadav',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'RK Singh',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'UT Yadav',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'UT Yadav',
                                         'runs': {'batter': 0,
                                                  'extras': 0,
                                                  'total': 0}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'UT Yadav',
                                         'runs': {'batter': 6,
                                                  'extras': 0,
                                                  'total': 6}},
                                        {'batter': 'RK Singh',
                                         'bowler': 'Umran Malik',
                                         'non_striker': 'UT Yadav',
                                         'runs': {'batter': 1,
                                                  'extras': 0,
                                                  'total': 1}}],
                         'over': 19}],
              'powerplays': [{'from': 0.1, 'to': 5.6, 'type': 'mandatory'}],
              'target': {'overs': 20, 'runs': 229},
              'team': 'Kolkata Knight Riders'}],
 'meta': {'created': '2023-04-14', 'data_version': '1.1.0', 'revision': 1}}

In [9]:

for filenum in np.arange(total_files):

    import_filename = files_only[filenum].replace('.json','')
    print(import_filename)
    
    if (import_filename != 'README.txt') :    
        if int(import_filename) >= 1359475:
            # Replace 'file.json' with the path to your JSON file
            json_file_path = location + '\\' + files_only[filenum]
            print(json_file_path)



            #adding a check to see if json file is empty before reading it with pd.read_json.

            if os.path.getsize(json_file_path) > 0:
                # Can't read it directly because of multiple structures inside the json file
                #df = pd.read_json(json_file_path)

                # let's try to flatten it and then import it
                with open(json_file_path, 'r', encoding='utf-8') as file:
                    json_content = json.load(file)

                # Flatten the nested JSON content
                df = pd.json_normalize(json_content)

            else:
                print("The JSON file is empty.")

            i_ss = json_content['info']['season']
            i_mtype = json_content['info']['match_type']
            i_date = json_content['info']['dates'][0].replace('-','_')
            i_city = json_content['info']['city']
            i_tms = json_content['info']['teams'][0] + '_v_' + json_content['info']['teams'][1]
            
            i_match_num = json_content['info']['event']['match_number']

            info_ = [i_match_num, i_ss, i_mtype, i_date, i_city, i_tms ]

            print(info_)
            #json_content['info']['dates'].pop()

            tms_lst = json_content['info']['teams']

            print(tms_lst)




            # looping through the json file(s) to put into dataframe

            colslist = ['mnum','inn','bat_tm','bat','ball','bow','runs','wkt','wkt_how']

            df_innings = pd.DataFrame(columns = colslist)


            for innings in [0,1]:
                print(type(json_content['innings'][innings]['overs']))
                overs_in_this_inn = len(json_content['innings'][innings]['overs'])

                bat_tm = json_content['innings'][innings]['team']
                print(f'Over in Innings is {overs_in_this_inn}')
                for over_num in np.arange(0,overs_in_this_inn,1):
                    #print(len(json_content['innings'][innings]['overs'][over_num]['deliveries']))

                    balls_in_over = len(json_content['innings'][innings]['overs'][over_num]['deliveries'])
                    for ball_num in np.arange(0,balls_in_over,1):
                        wkt = 0
                        wkt_how = ''
                        ball = 1

                        #print(len(json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]))
                        bat_on_str = json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]['batter']
                        bow = json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]['bowler']
                        runs_to_bat = json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]['runs']['batter']

                        if 'wickets' in json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]:
                            wkt = 1
                            wkt_how = json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]['wickets'][0]['kind']
                            
                        if 'extras' in json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]:
                            if ('noballs' in json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]['extras']) or ('wides' in json_content['innings'][innings]['overs'][over_num]['deliveries'][ball_num]['extras']):
                                ball = 0

                        this_ball_details_row = [i_match_num, innings+1, bat_tm, bat_on_str, ball, bow, runs_to_bat, wkt, wkt_how]
                        #print(this_ball_details_row)
                        df_innings.loc[len(df_innings)] = this_ball_details_row


            df_innings['four'] = df_innings['runs'].apply(lambda x : 1 if x==4 else 0)
            df_innings['six'] = df_innings['runs'].apply(lambda x : 1 if x==6 else 0)

            df_innings['bow_tm'] = df_innings.apply(lambda x: next(item for item in tms_lst if item != x.bat_tm), axis=1)

            df_innings.head()




            #batter rollup

            df_bat_stats = df_innings.groupby(['bat_tm','bow_tm','inn','bat','mnum'])\
            .agg({'runs':'sum','four':'sum','six':'sum','wkt':'sum', 'ball':'sum'})\
                .reset_index().rename(columns = {'runs':'rs','ball':'bowf','wkt':'out','inn':'inn_bat','bat':'name'})

            print(df_bat_stats.columns.values.tolist())
            print(df_bat_stats.shape)

            #df_bat_stats['bow_tm'] = df_bat_stats.apply(lambda x : [item for item in two_member_list if item != character_variable] , axis = 1)
            #df_bat_stats['bow_tm'] = df_bat_stats.apply(lambda x : item for item in tms_list if item != x.bat_tm , axis = 1)

            display(df_bat_stats.head())

            #batter rollup

            df_bow_stats = df_innings.groupby(['bow','bow_tm','bat_tm','inn','mnum']).agg({'runs':'sum', 'ball':'sum','wkt':'sum'})\
                .reset_index().rename(columns = {'runs':'rc','ball':'balb','inn':'inn_bow','bow':'name'})

            print(df_bow_stats.columns.values.tolist())
            print(df_bow_stats.shape)

            df_bow_stats['inn_bat'] = df_bow_stats['inn_bow'].apply(lambda x : 2 if x==1 else 1 )

            display(df_bow_stats.head())




            print(df_bow_stats.shape)
            print(df_bat_stats.shape)

            df_match = pd.merge( df_bat_stats, df_bow_stats\
                                , left_on = ['bow_tm','bat_tm','inn_bat','name','mnum']
                                , right_on = ['bat_tm','bow_tm','inn_bat','name','mnum']
                                , how = 'outer'
                                , suffixes=('_inn1', '_inn2') ) 

            print(df_match.shape)


            display(df_match.sort_values(by = ['inn_bat']))


            df_match['season'] = i_ss
            df_match['type'] = i_mtype
            df_match['date'] = i_date
            df_match['city'] = i_city
            df_match['teams'] = i_tms
            
            df_match['bat_tm_inn1'] = df_match['bat_tm_inn1'].astype(str)
            df_match['bow_tm_inn2'] = df_match['bow_tm_inn2'].astype(str)
            
            df_match['team_nm'] = df_match.apply(lambda x : x.bow_tm_inn2 if ( x.bat_tm_inn1 == 'nan') else x.bat_tm_inn1, axis = 1)
            #df_match['team_nm'] = df_match['bat_tm_inn1'] + df_match['bow_tm_inn2']

            display(df_match.head())

            export_fname = import_filename + '_' + i_mtype + '_' + str(i_ss) + '_' + str(i_match_num) + '_' + i_date + '_' + i_tms + '.csv'

            print(export_fname)
            
            dropcols = ['bat_tm_inn1','bat_tm_inn2','bow_tm_inn1','bow_tm_inn2']
            df_match_exp = df_match.sort_values(by='inn_bat').drop(columns = dropcols)

            df_match_exp.to_csv( exp_location + '\\' + export_fname, index = False )

1082591
1082592
1082593
1082594
1082595
1082596
1082597
1082598
1082599
1082600
1082601
1082602
1082603
1082604
1082605
1082606
1082607
1082608
1082609
1082610
1082611
1082612
1082613
1082614
1082615
1082616
1082617
1082618
1082620
1082621
1082622
1082623
1082624
1082625
1082626
1082627
1082628
1082629
1082630
1082631
1082632
1082633
1082634
1082635
1082636
1082637
1082638
1082639
1082640
1082641
1082642
1082643
1082644
1082645
1082646
1082647
1082648
1082649
1082650
1136561
1136562
1136563
1136564
1136565
1136566
1136567
1136568
1136569
1136570
1136571
1136572
1136573
1136574
1136575
1136576
1136577
1136578
1136579
1136580
1136581
1136582
1136583
1136584
1136585
1136586
1136587
1136588
1136589
1136590
1136591
1136592
1136593
1136594
1136595
1136596
1136597
1136598
1136599
1136600
1136601
1136602
1136603
1136604
1136605
1136606
1136607
1136608
1136609
1136610
1136611
1136612
1136613
1136614
1136615
1136616
1136617
1136618
1136619
1136620
1175356
1175357
1175358
1175359
1175360
1175361
1175362
1175363
1175364
1175365
1175366
1175367
1175368
1175369
1175370
1175371
1175372
1178393
1178394
1178395
1178396
1178397
1178398
1178399
1178400
1178401
1178402
1178403
1178404
1178405
1178406
1178407
1178408
1178409
1178410
1178411
1178412
1178413
1178414
1178415
1178416
1178417
1178418
1178419
1178420
1178421
1178422
1178423
1178424
1178425
1178426
1178427
1178428
1178429
1178430
1178431
1181764
1181766
1181767
1181768
1216492
1216493
1216494
1216495
1216496
1216497
1216498
1216499
1216500
1216501
1216502
1216503
1216504
1216505
1216506
1216507
1216508
1216509
1216510
1216511
1216512
1216513
1216514
1216515
1216516
1216517
1216518
1216519
1216520
1216521
1216522
1216523
1216524
1216525
1216526
1216527
1216528
1216529
1216530
1216531
1216532
1216533
1216534
1216535
1216536
1216537
1216538
1216539
1216540
1216541
1216542
1216543
1216544
1216545
1216546
1216547
1237177
1237178
1237180
1237181
1254058
1254059
1254060
1254061
1254062
1254063
1254064
1254065
1254066
1254067
1254068
1254069
1254070
1254071
1254072
1254073
1254074
1254075
1254076
1254077
1254078
1254079
1254080
1254081
1254082
1254083
1254084
1254085
1254086
1254087
1254088
1254089
1254090
1254091
1254092
1254093
1254094
1254095
1254096
1254097
1254098
1254099
1254100
1254101
1254102
1254103
1254104
1254105
1254106
1254107
1254108
1254109
1254110
1254111
1254112
1254113
1254114
1254115
1254116
1254117
1304047
1304048
1304049
1304050
1304051
1304052
1304053
1304054
1304055
1304056
1304057
1304058
1304059
1304060
1304061
1304062
1304063
1304064
1304065
1304066
1304067
1304068
1304069
1304070
1304071
1304072
1304073
1304074
1304075
1304076
1304077
1304078
1304079
1304080
1304081
1304082
1304083
1304084
1304085
1304086
1304087
1304088
1304089
1304090
1304091
1304092
1304093
1304094
1304095
1304096
1304097
1304098
1304099
1304100
1304101
1304102
1304103
1304104
1304105
1304106
1304107
1304108
1304109
1304110
1304111
1304112
1304113
1304114
1304115
1304116
1312197
1312198
1312199
1312200
1359475
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359475.json
[1, '2023', 'T20', '2023_03_31', 'Ahmedabad', 'Chennai Super Kings_v_Gujarat Titans']
['Chennai Super Kings', 'Gujarat Titans']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(16, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Chennai Super Kings,Gujarat Titans,1,AT Rayudu,1,12,0,1,1,12
1,Chennai Super Kings,Gujarat Titans,1,BA Stokes,1,7,1,0,1,6
2,Chennai Super Kings,Gujarat Titans,1,DP Conway,1,1,0,0,1,6
3,Chennai Super Kings,Gujarat Titans,1,MJ Santner,1,1,0,0,0,3
4,Chennai Super Kings,Gujarat Titans,1,MM Ali,1,23,4,1,1,16

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(11, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,AS Joseph,Gujarat Titans,Chennai Super Kings,1,1,33,24,2,2
1,DL Chahar,Chennai Super Kings,Gujarat Titans,2,1,29,24,0,1
2,HH Pandya,Gujarat Titans,Chennai Super Kings,1,1,28,18,0,2
3,J Little,Gujarat Titans,Chennai Super Kings,1,1,41,24,1,2
4,MJ Santner,Chennai Super Kings,Gujarat Titans,2,1,32,24,0,1

(11, 9)
(16, 10)
(23, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Chennai Super Kings,Gujarat Titans,1,AT Rayudu,1,12.0,0.0,1.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Chennai Super Kings,Gujarat Titans,1,BA Stokes,1,7.0,1.0,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Chennai Super Kings,Gujarat Titans,1,DP Conway,1,1.0,0.0,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Chennai Super Kings,Gujarat Titans,1,MJ Santner,1,1.0,0.0,0.0,0.0,3.0,Chennai Super Kings,Gujarat Titans,2.0,32.0,24.0,0.0
4,Chennai Super Kings,Gujarat Titans,1,MM Ali,1,23.0,4.0,1.0,1.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Chennai Super Kings,Gujarat Titans,1,MS Dhoni,1,14.0,1.0,1.0,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Chennai Super Kings,Gujarat Titans,1,RA Jadeja,1,1.0,0.0,0.0,1.0,2.0,Chennai Super Kings,Gujarat Titans,2.0,28.0,24.0,1.0
7,Chennai Super Kings,Gujarat Titans,1,RD Gaikwad,1,92.0,4.0,9.0,1.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Chennai Super Kings,Gujarat Titans,1,S Dube,1,19.0,0.0,1.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,RS Hangargekar,1,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Gujarat Titans,2.0,32.0,24.0,3.0
21,NaN,NaN,1,TU Deshpande,1,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Gujarat Titans,2.0,49.0,20.0,1.0
17,NaN,NaN,1,DL Chahar,1,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Gujarat Titans,2.0,29.0,24.0,0.0
19,NaN,NaN,2,Mohammed Shami,1,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Chennai Super Kings,1.0,28.0,24.0,2.0
18,NaN,NaN,2,J Little,1,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Chennai Super Kings,1.0,41.0,24.0,1.0
16,NaN,NaN,2,AS Joseph,1,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Chennai Super Kings,1.0,33.0,24.0,2.0
11,Gujarat Titans,Chennai Super Kings,2,R Tewatia,1,15.0,1.0,1.0,0.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Gujarat Titans,Chennai Super Kings,2,V Shankar,1,27.0,2.0,1.0,1.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Gujarat Titans,Chennai Super Kings,2,Shubman Gill,1,63.0,6.0,3.0,1.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Gujarat Titans,Chennai Super Kings,2,Rashid Khan,1,10.0,1.0,1.0,0.0,3.0,Gujarat Titans,Chennai Super Kings,1.0,26.0,24.0,2.0
10,Gujarat Titans,Chennai Super Kings,2,HH Pandya,1,8.0,0.0,0.0,1.0,11.0,Gujarat Titans,Chennai Super Kings,1.0,28.0,18.0,0.0
9,Gujarat Titans,Chennai Super Kings,2,B Sai Sudharsan,1,22.0,3.0,0.0,1.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Gujarat Titans,Chennai Super Kings,2,WP Saha,1,25.0,2.0,2.0,1.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,2,Yash Dayal,1,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Chennai Super Kings,1.0,14.0,6.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Chennai Super Kings,Gujarat Titans,1,AT Rayudu,1,12.0,0.0,1.0,1.0,12.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_03_31,Ahmedabad,Chennai Super Kings_v_Gujarat Titans,Chennai Super Kings
1,Chennai Super Kings,Gujarat Titans,1,BA Stokes,1,7.0,1.0,0.0,1.0,6.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_03_31,Ahmedabad,Chennai Super Kings_v_Gujarat Titans,Chennai Super Kings
2,Chennai Super Kings,Gujarat Titans,1,DP Conway,1,1.0,0.0,0.0,1.0,6.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_03_31,Ahmedabad,Chennai Super Kings_v_Gujarat Titans,Chennai Super Kings
3,Chennai Super Kings,Gujarat Titans,1,MJ Santner,1,1.0,0.0,0.0,0.0,3.0,...,2.0,32.0,24.0,0.0,2023,T20,2023_03_31,Ahmedabad,Chennai Super Kings_v_Gujarat Titans,Chennai Super Kings
4,Chennai Super Kings,Gujarat Titans,1,MM Ali,1,23.0,4.0,1.0,1.0,16.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_03_31,Ahmedabad,Chennai Super Kings_v_Gujarat Titans,Chennai Super Kings

1359475_T20_2023_1_2023_03_31_Chennai Super Kings_v_Gujarat Titans.csv
1359476
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359476.json
[2, '2023', 'T20', '2023_04_01', 'Chandigarh', 'Punjab Kings_v_Kolkata Knight Riders']
['Punjab Kings', 'Kolkata Knight Riders']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 16
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(16, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Kolkata Knight Riders,Punjab Kings,2,AD Russell,2,35,3,2,1,18
1,Kolkata Knight Riders,Punjab Kings,2,AS Roy,2,4,1,0,1,5
2,Kolkata Knight Riders,Punjab Kings,2,Mandeep Singh,2,2,0,0,1,4
3,Kolkata Knight Riders,Punjab Kings,2,N Rana,2,24,3,1,1,17
4,Kolkata Knight Riders,Punjab Kings,2,RK Singh,2,4,0,0,1,4

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Arshdeep Singh,Punjab Kings,Kolkata Knight Riders,2,2,19,18,3,1
1,CV Varun,Kolkata Knight Riders,Punjab Kings,1,2,25,24,1,2
2,Harpreet Brar,Punjab Kings,Kolkata Knight Riders,2,2,7,6,0,1
3,NT Ellis,Punjab Kings,Kolkata Knight Riders,2,2,25,18,1,1
4,R Dhawan,Punjab Kings,Kolkata Knight Riders,2,2,15,6,0,1

(12, 9)
(16, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Punjab Kings,Kolkata Knight Riders,1,P Simran Singh,2,23.0,2.0,2.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,1,RD Chahar,2,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Kolkata Knight Riders,2.0,12.0,12.0,1.0
20,NaN,NaN,1,R Dhawan,2,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Kolkata Knight Riders,2.0,15.0,6.0,0.0
19,NaN,NaN,1,NT Ellis,2,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Kolkata Knight Riders,2.0,25.0,18.0,1.0
18,NaN,NaN,1,Harpreet Brar,2,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Kolkata Knight Riders,2.0,7.0,6.0,0.0
16,NaN,NaN,1,Arshdeep Singh,2,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Kolkata Knight Riders,2.0,19.0,18.0,3.0
15,Punjab Kings,Kolkata Knight Riders,1,Sikandar Raza,2,16.0,1.0,1.0,1.0,13.0,Punjab Kings,Kolkata Knight Riders,2.0,24.0,18.0,1.0
14,Punjab Kings,Kolkata Knight Riders,1,SM Curran,2,26.0,0.0,2.0,0.0,17.0,Punjab Kings,Kolkata Knight Riders,2.0,38.0,18.0,1.0
9,Punjab Kings,Kolkata Knight Riders,1,JM Sharma,2,21.0,1.0,2.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Punjab Kings,Kolkata Knight Riders,1,M Shahrukh Khan,2,11.0,2.0,0.0,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Punjab Kings,Kolkata Knight Riders,1,S Dhawan,2,40.0,6.0,0.0,1.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Punjab Kings,Kolkata Knight Riders,1,PBB Rajapaksa,2,50.0,5.0,2.0,1.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,2,CV Varun,2,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Punjab Kings,1.0,25.0,24.0,1.0
0,Kolkata Knight Riders,Punjab Kings,2,AD Russell,2,35.0,3.0,2.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Kolkata Knight Riders,Punjab Kings,2,VR Iyer,2,34.0,3.0,1.0,1.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Kolkata Knight Riders,Punjab Kings,2,SP Narine,2,7.0,0.0,1.0,0.0,2.0,Kolkata Knight Riders,Punjab Kings,1.0,39.0,24.0,1.0
6,Kolkata Knight Riders,Punjab Kings,2,SN Thakur,2,8.0,0.0,1.0,0.0,3.0,Kolkata Knight Riders,Punjab Kings,1.0,42.0,24.0,0.0
5,Kolkata Knight Riders,Punjab Kings,2,Rahmanullah Gurbaz,2,22.0,3.0,1.0,1.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Kolkata Knight Riders,Punjab Kings,2,RK Singh,2,4.0,0.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Kolkata Knight Riders,Punjab Kings,2,N Rana,2,24.0,3.0,1.0,1.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Kolkata Knight Riders,Punjab Kings,2,Mandeep Singh,2,2.0,0.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Kolkata Knight Riders,Punjab Kings,2,AS Roy,2,4.0,1.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,2,TG Southee,2,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Punjab Kings,1.0,54.0,24.0,2.0
23,NaN,NaN,2,UT Yadav,2,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Punjab Kings,1.0,27.0,24.0,1.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Kolkata Knight Riders,Punjab Kings,2,AD Russell,2,35.0,3.0,2.0,1.0,18.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_01,Chandigarh,Punjab Kings_v_Kolkata Knight Riders,Kolkata Knight Riders
1,Kolkata Knight Riders,Punjab Kings,2,AS Roy,2,4.0,1.0,0.0,1.0,5.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_01,Chandigarh,Punjab Kings_v_Kolkata Knight Riders,Kolkata Knight Riders
2,Kolkata Knight Riders,Punjab Kings,2,Mandeep Singh,2,2.0,0.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_01,Chandigarh,Punjab Kings_v_Kolkata Knight Riders,Kolkata Knight Riders
3,Kolkata Knight Riders,Punjab Kings,2,N Rana,2,24.0,3.0,1.0,1.0,17.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_01,Chandigarh,Punjab Kings_v_Kolkata Knight Riders,Kolkata Knight Riders
4,Kolkata Knight Riders,Punjab Kings,2,RK Singh,2,4.0,0.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_01,Chandigarh,Punjab Kings_v_Kolkata Knight Riders,Kolkata Knight Riders

1359476_T20_2023_2_2023_04_01_Punjab Kings_v_Kolkata Knight Riders.csv
1359477
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359477.json
[3, '2023', 'T20', '2023_04_01', 'Lucknow', 'Lucknow Super Giants_v_Delhi Capitals']
['Lucknow Super Giants', 'Delhi Capitals']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(19, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Delhi Capitals,Lucknow Super Giants,2,AR Patel,3,16,1,1,1,11
1,Delhi Capitals,Lucknow Super Giants,2,Aman Hakim Khan,3,4,0,0,1,5
2,Delhi Capitals,Lucknow Super Giants,2,C Sakariya,3,4,1,0,1,4
3,Delhi Capitals,Lucknow Super Giants,2,DA Warner,3,56,7,0,1,48
4,Delhi Capitals,Lucknow Super Giants,2,Kuldeep Yadav,3,6,0,0,0,10

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(11, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,AR Patel,Delhi Capitals,Lucknow Super Giants,1,3,38,24,1,2
1,Avesh Khan,Lucknow Super Giants,Delhi Capitals,2,3,29,24,2,1
2,C Sakariya,Delhi Capitals,Lucknow Super Giants,1,3,50,24,2,2
3,JD Unadkat,Lucknow Super Giants,Delhi Capitals,2,3,33,18,0,1
4,K Gowtham,Lucknow Super Giants,Delhi Capitals,2,3,22,24,0,1

(11, 9)
(19, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Lucknow Super Giants,Delhi Capitals,1,A Badoni,3,18.0,1.0,2.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,JD Unadkat,3,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Delhi Capitals,2.0,33.0,18.0,0.0
19,NaN,NaN,1,Avesh Khan,3,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Delhi Capitals,2.0,29.0,24.0,2.0
18,Lucknow Super Giants,Delhi Capitals,1,N Pooran,3,36.0,2.0,3.0,1.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
17,Lucknow Super Giants,Delhi Capitals,1,MP Stoinis,3,12.0,0.0,1.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
16,Lucknow Super Giants,Delhi Capitals,1,KR Mayers,3,73.0,2.0,7.0,1.0,38.0,Lucknow Super Giants,Delhi Capitals,2.0,6.0,6.0,0.0
15,Lucknow Super Giants,Delhi Capitals,1,KL Rahul,3,8.0,0.0,1.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Lucknow Super Giants,Delhi Capitals,1,KH Pandya,3,15.0,0.0,1.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Lucknow Super Giants,Delhi Capitals,1,K Gowtham,3,6.0,0.0,1.0,0.0,1.0,Lucknow Super Giants,Delhi Capitals,2.0,22.0,24.0,0.0
12,Lucknow Super Giants,Delhi Capitals,1,DJ Hooda,3,17.0,0.0,0.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,1,MA Wood,3,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Delhi Capitals,2.0,12.0,24.0,5.0
23,NaN,NaN,1,Ravi Bishnoi,3,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Delhi Capitals,2.0,31.0,24.0,2.0
9,Delhi Capitals,Lucknow Super Giants,2,RR Rossouw,3,30.0,3.0,1.0,1.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Delhi Capitals,Lucknow Super Giants,2,R Powell,3,1.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Delhi Capitals,Lucknow Super Giants,2,PP Shaw,3,12.0,2.0,0.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Delhi Capitals,Lucknow Super Giants,2,Mukesh Kumar,3,0.0,0.0,0.0,0.0,1.0,Delhi Capitals,Lucknow Super Giants,1.0,33.0,24.0,0.0
5,Delhi Capitals,Lucknow Super Giants,2,MR Marsh,3,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Delhi Capitals,Lucknow Super Giants,2,Kuldeep Yadav,3,6.0,0.0,0.0,0.0,10.0,Delhi Capitals,Lucknow Super Giants,1.0,35.0,24.0,1.0
3,Delhi Capitals,Lucknow Super Giants,2,DA Warner,3,56.0,7.0,0.0,1.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Delhi Capitals,Lucknow Super Giants,2,C Sakariya,3,4.0,1.0,0.0,1.0,4.0,Delhi Capitals,Lucknow Super Giants,1.0,50.0,24.0,2.0
1,Delhi Capitals,Lucknow Super Giants,2,Aman Hakim Khan,3,4.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,2,KK Ahmed,3,NaN,NaN,NaN,NaN,NaN,Delhi Capitals,Lucknow Super Giants,1.0,29.0,24.0,2.0
10,Delhi Capitals,Lucknow Super Giants,2,SN Khan,3,4.0,1.0,0.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Delhi Capitals,Lucknow Super Giants,2,AR Patel,3,16.0,1.0,1.0,1.0,11.0,Delhi Capitals,Lucknow Super Giants,1.0,38.0,24.0,1.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Delhi Capitals,Lucknow Super Giants,2,AR Patel,3,16.0,1.0,1.0,1.0,11.0,...,1.0,38.0,24.0,1.0,2023,T20,2023_04_01,Lucknow,Lucknow Super Giants_v_Delhi Capitals,Delhi Capitals
1,Delhi Capitals,Lucknow Super Giants,2,Aman Hakim Khan,3,4.0,0.0,0.0,1.0,5.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_01,Lucknow,Lucknow Super Giants_v_Delhi Capitals,Delhi Capitals
2,Delhi Capitals,Lucknow Super Giants,2,C Sakariya,3,4.0,1.0,0.0,1.0,4.0,...,1.0,50.0,24.0,2.0,2023,T20,2023_04_01,Lucknow,Lucknow Super Giants_v_Delhi Capitals,Delhi Capitals
3,Delhi Capitals,Lucknow Super Giants,2,DA Warner,3,56.0,7.0,0.0,1.0,48.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_01,Lucknow,Lucknow Super Giants_v_Delhi Capitals,Delhi Capitals
4,Delhi Capitals,Lucknow Super Giants,2,Kuldeep Yadav,3,6.0,0.0,0.0,0.0,10.0,...,1.0,35.0,24.0,1.0,2023,T20,2023_04_01,Lucknow,Lucknow Super Giants_v_Delhi Capitals,Delhi Capitals

1359477_T20_2023_3_2023_04_01_Lucknow Super Giants_v_Delhi Capitals.csv
1359478
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359478.json
[4, '2023', 'T20', '2023_04_02', 'Hyderabad', 'Rajasthan Royals_v_Sunrisers Hyderabad']
['Rajasthan Royals', 'Sunrisers Hyderabad']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(17, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Rajasthan Royals,Sunrisers Hyderabad,1,D Padikkal,4,2,0,0,1,5
1,Rajasthan Royals,Sunrisers Hyderabad,1,JC Buttler,4,54,7,3,1,22
2,Rajasthan Royals,Sunrisers Hyderabad,1,R Ashwin,4,1,0,0,0,2
3,Rajasthan Royals,Sunrisers Hyderabad,1,R Parag,4,7,1,0,1,6
4,Rajasthan Royals,Sunrisers Hyderabad,1,SO Hetmyer,4,22,1,1,0,16

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,AU Rashid,Sunrisers Hyderabad,Rajasthan Royals,1,4,33,24,0,2
1,B Kumar,Sunrisers Hyderabad,Rajasthan Royals,1,4,35,18,0,2
2,Fazalhaq Farooqi,Sunrisers Hyderabad,Rajasthan Royals,1,4,41,24,2,2
3,JO Holder,Rajasthan Royals,Sunrisers Hyderabad,2,4,16,18,1,1
4,KM Asif,Rajasthan Royals,Sunrisers Hyderabad,2,4,14,18,0,1

(12, 9)
(17, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Rajasthan Royals,Sunrisers Hyderabad,1,D Padikkal,4,2.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,NA Saini,4,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Sunrisers Hyderabad,2.0,31.0,12.0,0.0
19,NaN,NaN,1,KM Asif,4,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Sunrisers Hyderabad,2.0,14.0,18.0,0.0
18,NaN,NaN,1,JO Holder,4,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Sunrisers Hyderabad,2.0,16.0,18.0,1.0
22,NaN,NaN,1,TA Boult,4,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Sunrisers Hyderabad,2.0,21.0,24.0,2.0
6,Rajasthan Royals,Sunrisers Hyderabad,1,YBK Jaiswal,4,54.0,9.0,0.0,1.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,1,YS Chahal,4,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Sunrisers Hyderabad,2.0,17.0,24.0,4.0
1,Rajasthan Royals,Sunrisers Hyderabad,1,JC Buttler,4,54.0,7.0,3.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Rajasthan Royals,Sunrisers Hyderabad,1,R Ashwin,4,1.0,0.0,0.0,0.0,2.0,Rajasthan Royals,Sunrisers Hyderabad,2.0,25.0,24.0,1.0
4,Rajasthan Royals,Sunrisers Hyderabad,1,SO Hetmyer,4,22.0,1.0,1.0,0.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Rajasthan Royals,Sunrisers Hyderabad,1,R Parag,4,7.0,1.0,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Rajasthan Royals,Sunrisers Hyderabad,1,SV Samson,4,55.0,3.0,4.0,1.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Sunrisers Hyderabad,Rajasthan Royals,2,AU Rashid,4,18.0,1.0,1.0,1.0,12.0,Sunrisers Hyderabad,Rajasthan Royals,1.0,33.0,24.0,0.0
21,NaN,NaN,2,T Natarajan,4,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Rajasthan Royals,1.0,23.0,18.0,2.0
17,NaN,NaN,2,Fazalhaq Farooqi,4,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Rajasthan Royals,1.0,41.0,24.0,2.0
16,Sunrisers Hyderabad,Rajasthan Royals,2,Washington Sundar,4,1.0,0.0,0.0,1.0,5.0,Sunrisers Hyderabad,Rajasthan Royals,1.0,32.0,18.0,0.0
15,Sunrisers Hyderabad,Rajasthan Royals,2,Umran Malik,4,19.0,1.0,2.0,0.0,7.0,Sunrisers Hyderabad,Rajasthan Royals,1.0,31.0,18.0,1.0
13,Sunrisers Hyderabad,Rajasthan Royals,2,MA Agarwal,4,27.0,3.0,0.0,1.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Sunrisers Hyderabad,Rajasthan Royals,2,HC Brook,4,13.0,1.0,0.0,1.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Sunrisers Hyderabad,Rajasthan Royals,2,B Kumar,4,6.0,0.0,0.0,1.0,10.0,Sunrisers Hyderabad,Rajasthan Royals,1.0,35.0,18.0,0.0
9,Sunrisers Hyderabad,Rajasthan Royals,2,Abhishek Sharma,4,0.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Sunrisers Hyderabad,Rajasthan Royals,2,Abdul Samad,4,32.0,2.0,1.0,0.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Sunrisers Hyderabad,Rajasthan Royals,2,RA Tripathi,4,0.0,0.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Sunrisers Hyderabad,Rajasthan Royals,2,GD Phillips,4,8.0,0.0,1.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Rajasthan Royals,Sunrisers Hyderabad,1,D Padikkal,4,2.0,0.0,0.0,1.0,5.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_02,Hyderabad,Rajasthan Royals_v_Sunrisers Hyderabad,Rajasthan Royals
1,Rajasthan Royals,Sunrisers Hyderabad,1,JC Buttler,4,54.0,7.0,3.0,1.0,22.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_02,Hyderabad,Rajasthan Royals_v_Sunrisers Hyderabad,Rajasthan Royals
2,Rajasthan Royals,Sunrisers Hyderabad,1,R Ashwin,4,1.0,0.0,0.0,0.0,2.0,...,2.0,25.0,24.0,1.0,2023,T20,2023_04_02,Hyderabad,Rajasthan Royals_v_Sunrisers Hyderabad,Rajasthan Royals
3,Rajasthan Royals,Sunrisers Hyderabad,1,R Parag,4,7.0,1.0,0.0,1.0,6.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_02,Hyderabad,Rajasthan Royals_v_Sunrisers Hyderabad,Rajasthan Royals
4,Rajasthan Royals,Sunrisers Hyderabad,1,SO Hetmyer,4,22.0,1.0,1.0,0.0,16.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_02,Hyderabad,Rajasthan Royals_v_Sunrisers Hyderabad,Rajasthan Royals

1359478_T20_2023_4_2023_04_02_Rajasthan Royals_v_Sunrisers Hyderabad.csv
1359479
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359479.json
[5, '2023', 'T20', '2023_04_02', 'Bengaluru', 'Mumbai Indians_v_Royal Challengers Bangalore']
['Mumbai Indians', 'Royal Challengers Bangalore']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 17
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(13, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Mumbai Indians,Royal Challengers Bangalore,1,Arshad Khan,5,15,0,1,0,9
1,Mumbai Indians,Royal Challengers Bangalore,1,C Green,5,5,1,0,1,4
2,Mumbai Indians,Royal Challengers Bangalore,1,HR Shokeen,5,5,1,0,1,3
3,Mumbai Indians,Royal Challengers Bangalore,1,Ishan Kishan,5,10,2,0,1,13
4,Mumbai Indians,Royal Challengers Bangalore,1,N Wadhera,5,21,1,2,1,13

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(13, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Akash Deep,Royal Challengers Bangalore,Mumbai Indians,1,5,29,18,1,2
1,Arshad Khan,Mumbai Indians,Royal Challengers Bangalore,2,5,24,14,1,1
2,C Green,Mumbai Indians,Royal Challengers Bangalore,2,5,30,12,1,1
3,GJ Maxwell,Royal Challengers Bangalore,Mumbai Indians,1,5,15,6,0,2
4,HR Shokeen,Mumbai Indians,Royal Challengers Bangalore,2,5,17,6,0,1

(13, 9)
(13, 10)
(22, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Mumbai Indians,Royal Challengers Bangalore,1,Arshad Khan,5,15.0,0.0,1.0,0.0,9.0,Mumbai Indians,Royal Challengers Bangalore,2.0,24.0,14.0,1.0
1,Mumbai Indians,Royal Challengers Bangalore,1,C Green,5,5.0,1.0,0.0,1.0,4.0,Mumbai Indians,Royal Challengers Bangalore,2.0,30.0,12.0,1.0
2,Mumbai Indians,Royal Challengers Bangalore,1,HR Shokeen,5,5.0,1.0,0.0,1.0,3.0,Mumbai Indians,Royal Challengers Bangalore,2.0,17.0,6.0,0.0
3,Mumbai Indians,Royal Challengers Bangalore,1,Ishan Kishan,5,10.0,2.0,0.0,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Mumbai Indians,Royal Challengers Bangalore,1,N Wadhera,5,21.0,1.0,2.0,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Mumbai Indians,Royal Challengers Bangalore,1,RG Sharma,5,1.0,0.0,0.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Mumbai Indians,Royal Challengers Bangalore,1,SA Yadav,5,15.0,1.0,0.0,1.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Mumbai Indians,Royal Challengers Bangalore,1,TH David,5,4.0,0.0,0.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Mumbai Indians,Royal Challengers Bangalore,1,Tilak Varma,5,84.0,9.0,4.0,0.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,PP Chawla,5,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore,2.0,26.0,24.0,0.0
16,NaN,NaN,1,JP Behrendorff,5,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore,2.0,37.0,18.0,0.0
15,NaN,NaN,1,JC Archer,5,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Royal Challengers Bangalore,2.0,33.0,24.0,0.0
19,NaN,NaN,2,Mohammed Siraj,5,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,1.0,15.0,24.0,1.0
18,NaN,NaN,2,MG Bracewell,5,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,1.0,16.0,12.0,1.0
17,NaN,NaN,2,KV Sharma,5,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,1.0,31.0,24.0,2.0
10,Royal Challengers Bangalore,Mumbai Indians,2,GJ Maxwell,5,12.0,0.0,2.0,0.0,3.0,Royal Challengers Bangalore,Mumbai Indians,1.0,15.0,6.0,0.0
13,NaN,NaN,2,Akash Deep,5,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,1.0,29.0,18.0,1.0
12,Royal Challengers Bangalore,Mumbai Indians,2,V Kohli,5,82.0,6.0,5.0,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Royal Challengers Bangalore,Mumbai Indians,2,KD Karthik,5,0.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Royal Challengers Bangalore,Mumbai Indians,2,F du Plessis,5,73.0,5.0,6.0,1.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,2,HV Patel,5,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,1.0,40.0,24.0,1.0
21,NaN,NaN,2,RJW Topley,5,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Mumbai Indians,1.0,14.0,12.0,1.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Mumbai Indians,Royal Challengers Bangalore,1,Arshad Khan,5,15.0,0.0,1.0,0.0,9.0,...,2.0,24.0,14.0,1.0,2023,T20,2023_04_02,Bengaluru,Mumbai Indians_v_Royal Challengers Bangalore,Mumbai Indians
1,Mumbai Indians,Royal Challengers Bangalore,1,C Green,5,5.0,1.0,0.0,1.0,4.0,...,2.0,30.0,12.0,1.0,2023,T20,2023_04_02,Bengaluru,Mumbai Indians_v_Royal Challengers Bangalore,Mumbai Indians
2,Mumbai Indians,Royal Challengers Bangalore,1,HR Shokeen,5,5.0,1.0,0.0,1.0,3.0,...,2.0,17.0,6.0,0.0,2023,T20,2023_04_02,Bengaluru,Mumbai Indians_v_Royal Challengers Bangalore,Mumbai Indians
3,Mumbai Indians,Royal Challengers Bangalore,1,Ishan Kishan,5,10.0,2.0,0.0,1.0,13.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_02,Bengaluru,Mumbai Indians_v_Royal Challengers Bangalore,Mumbai Indians
4,Mumbai Indians,Royal Challengers Bangalore,1,N Wadhera,5,21.0,1.0,2.0,1.0,13.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_02,Bengaluru,Mumbai Indians_v_Royal Challengers Bangalore,Mumbai Indians

1359479_T20_2023_5_2023_04_02_Mumbai Indians_v_Royal Challengers Bangalore.csv
1359480
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359480.json
[6, '2023', 'T20', '2023_04_03', 'Chennai', 'Chennai Super Kings_v_Lucknow Super Giants']
['Chennai Super Kings', 'Lucknow Super Giants']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(18, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Chennai Super Kings,Lucknow Super Giants,1,AT Rayudu,6,27,2,2,0,14
1,Chennai Super Kings,Lucknow Super Giants,1,BA Stokes,6,8,1,0,1,8
2,Chennai Super Kings,Lucknow Super Giants,1,DP Conway,6,47,5,2,1,28
3,Chennai Super Kings,Lucknow Super Giants,1,MJ Santner,6,1,0,0,0,1
4,Chennai Super Kings,Lucknow Super Giants,1,MM Ali,6,19,3,0,1,13

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(14, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Avesh Khan,Lucknow Super Giants,Chennai Super Kings,1,6,34,18,1,2
1,BA Stokes,Chennai Super Kings,Lucknow Super Giants,2,6,18,6,0,1
2,DL Chahar,Chennai Super Kings,Lucknow Super Giants,2,6,50,24,0,1
3,K Gowtham,Lucknow Super Giants,Chennai Super Kings,1,6,20,6,0,2
4,KH Pandya,Lucknow Super Giants,Chennai Super Kings,1,6,21,12,0,2

(14, 9)
(18, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Chennai Super Kings,Lucknow Super Giants,1,AT Rayudu,6,27.0,2.0,2.0,0.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Chennai Super Kings,Lucknow Super Giants,1,BA Stokes,6,8.0,1.0,0.0,1.0,8.0,Chennai Super Kings,Lucknow Super Giants,2.0,18.0,6.0,0.0
2,Chennai Super Kings,Lucknow Super Giants,1,DP Conway,6,47.0,5.0,2.0,1.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Chennai Super Kings,Lucknow Super Giants,1,MJ Santner,6,1.0,0.0,0.0,0.0,1.0,Chennai Super Kings,Lucknow Super Giants,2.0,21.0,24.0,1.0
4,Chennai Super Kings,Lucknow Super Giants,1,MM Ali,6,19.0,3.0,0.0,1.0,13.0,Chennai Super Kings,Lucknow Super Giants,2.0,25.0,24.0,4.0
5,Chennai Super Kings,Lucknow Super Giants,1,MS Dhoni,6,12.0,0.0,2.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Chennai Super Kings,Lucknow Super Giants,1,RA Jadeja,6,3.0,0.0,0.0,1.0,6.0,Chennai Super Kings,Lucknow Super Giants,2.0,14.0,6.0,0.0
7,Chennai Super Kings,Lucknow Super Giants,1,RD Gaikwad,6,57.0,3.0,4.0,1.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Chennai Super Kings,Lucknow Super Giants,1,S Dube,6,27.0,1.0,3.0,1.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,RS Hangargekar,6,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Lucknow Super Giants,2.0,21.0,12.0,0.0
22,NaN,NaN,1,TU Deshpande,6,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Lucknow Super Giants,2.0,38.0,24.0,2.0
19,NaN,NaN,1,DL Chahar,6,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Lucknow Super Giants,2.0,50.0,24.0,0.0
21,NaN,NaN,2,Ravi Bishnoi,6,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Chennai Super Kings,1.0,27.0,24.0,3.0
18,NaN,NaN,2,Avesh Khan,6,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Chennai Super Kings,1.0,34.0,18.0,1.0
17,Lucknow Super Giants,Chennai Super Kings,2,N Pooran,6,32.0,2.0,3.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
16,Lucknow Super Giants,Chennai Super Kings,2,MP Stoinis,6,21.0,0.0,1.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Lucknow Super Giants,Chennai Super Kings,2,K Gowtham,6,17.0,0.0,1.0,0.0,10.0,Lucknow Super Giants,Chennai Super Kings,1.0,20.0,6.0,0.0
14,Lucknow Super Giants,Chennai Super Kings,2,KR Mayers,6,53.0,8.0,2.0,1.0,20.0,Lucknow Super Giants,Chennai Super Kings,1.0,15.0,12.0,0.0
13,Lucknow Super Giants,Chennai Super Kings,2,KL Rahul,6,20.0,2.0,0.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Lucknow Super Giants,Chennai Super Kings,2,KH Pandya,6,9.0,0.0,1.0,1.0,9.0,Lucknow Super Giants,Chennai Super Kings,1.0,21.0,12.0,0.0
10,Lucknow Super Giants,Chennai Super Kings,2,DJ Hooda,6,2.0,0.0,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Lucknow Super Giants,Chennai Super Kings,2,A Badoni,6,23.0,0.0,0.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Lucknow Super Giants,Chennai Super Kings,2,MA Wood,6,10.0,1.0,1.0,0.0,3.0,Lucknow Super Giants,Chennai Super Kings,1.0,49.0,24.0,3.0
23,NaN,NaN,2,Yash Thakur,6,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Chennai Super Kings,1.0,35.0,24.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Chennai Super Kings,Lucknow Super Giants,1,AT Rayudu,6,27.0,2.0,2.0,0.0,14.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_03,Chennai,Chennai Super Kings_v_Lucknow Super Giants,Chennai Super Kings
1,Chennai Super Kings,Lucknow Super Giants,1,BA Stokes,6,8.0,1.0,0.0,1.0,8.0,...,2.0,18.0,6.0,0.0,2023,T20,2023_04_03,Chennai,Chennai Super Kings_v_Lucknow Super Giants,Chennai Super Kings
2,Chennai Super Kings,Lucknow Super Giants,1,DP Conway,6,47.0,5.0,2.0,1.0,28.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_03,Chennai,Chennai Super Kings_v_Lucknow Super Giants,Chennai Super Kings
3,Chennai Super Kings,Lucknow Super Giants,1,MJ Santner,6,1.0,0.0,0.0,0.0,1.0,...,2.0,21.0,24.0,1.0,2023,T20,2023_04_03,Chennai,Chennai Super Kings_v_Lucknow Super Giants,Chennai Super Kings
4,Chennai Super Kings,Lucknow Super Giants,1,MM Ali,6,19.0,3.0,0.0,1.0,13.0,...,2.0,25.0,24.0,4.0,2023,T20,2023_04_03,Chennai,Chennai Super Kings_v_Lucknow Super Giants,Chennai Super Kings

1359480_T20_2023_6_2023_04_03_Chennai Super Kings_v_Lucknow Super Giants.csv
1359481
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359481.json
[7, '2023', 'T20', '2023_04_04', 'Delhi', 'Delhi Capitals_v_Gujarat Titans']
['Delhi Capitals', 'Gujarat Titans']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 19
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(16, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Delhi Capitals,Gujarat Titans,1,A Nortje,7,4,1,0,0,2
1,Delhi Capitals,Gujarat Titans,1,AR Patel,7,36,2,3,1,22
2,Delhi Capitals,Gujarat Titans,1,Abishek Porel,7,20,0,2,1,11
3,Delhi Capitals,Gujarat Titans,1,Aman Hakim Khan,7,8,0,1,1,8
4,Delhi Capitals,Gujarat Titans,1,DA Warner,7,37,7,0,1,32

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(11, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,A Nortje,Delhi Capitals,Gujarat Titans,2,7,37,24,2,1
1,AS Joseph,Gujarat Titans,Delhi Capitals,1,7,28,24,2,2
2,HH Pandya,Gujarat Titans,Delhi Capitals,1,7,18,18,0,2
3,J Little,Gujarat Titans,Delhi Capitals,1,7,27,24,0,2
4,KK Ahmed,Delhi Capitals,Gujarat Titans,2,7,37,24,1,1

(11, 9)
(16, 10)
(23, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Delhi Capitals,Gujarat Titans,1,A Nortje,7,4.0,1.0,0.0,0.0,2.0,Delhi Capitals,Gujarat Titans,2.0,37.0,24.0,2.0
1,Delhi Capitals,Gujarat Titans,1,AR Patel,7,36.0,2.0,3.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Delhi Capitals,Gujarat Titans,1,Abishek Porel,7,20.0,0.0,2.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Delhi Capitals,Gujarat Titans,1,Aman Hakim Khan,7,8.0,0.0,1.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Delhi Capitals,Gujarat Titans,1,DA Warner,7,37.0,7.0,0.0,1.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Delhi Capitals,Gujarat Titans,1,Kuldeep Yadav,7,1.0,0.0,0.0,0.0,1.0,Delhi Capitals,Gujarat Titans,2.0,17.0,18.0,0.0
6,Delhi Capitals,Gujarat Titans,1,MR Marsh,7,4.0,1.0,0.0,1.0,4.0,Delhi Capitals,Gujarat Titans,2.0,23.0,19.0,1.0
7,Delhi Capitals,Gujarat Titans,1,PP Shaw,7,7.0,1.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Delhi Capitals,Gujarat Titans,1,RR Rossouw,7,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Delhi Capitals,Gujarat Titans,1,SN Khan,7,30.0,2.0,0.0,1.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,Mukesh Kumar,7,NaN,NaN,NaN,NaN,NaN,Delhi Capitals,Gujarat Titans,2.0,41.0,24.0,0.0
18,NaN,NaN,1,KK Ahmed,7,NaN,NaN,NaN,NaN,NaN,Delhi Capitals,Gujarat Titans,2.0,37.0,24.0,1.0
19,NaN,NaN,2,Mohammed Shami,7,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Delhi Capitals,1.0,31.0,24.0,3.0
17,NaN,NaN,2,J Little,7,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Delhi Capitals,1.0,27.0,24.0,0.0
16,NaN,NaN,2,AS Joseph,7,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Delhi Capitals,1.0,28.0,24.0,2.0
11,Gujarat Titans,Delhi Capitals,2,DA Miller,7,31.0,2.0,2.0,0.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Gujarat Titans,Delhi Capitals,2,V Shankar,7,29.0,3.0,0.0,1.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Gujarat Titans,Delhi Capitals,2,Shubman Gill,7,14.0,3.0,0.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Gujarat Titans,Delhi Capitals,2,HH Pandya,7,5.0,1.0,0.0,1.0,3.0,Gujarat Titans,Delhi Capitals,1.0,18.0,18.0,0.0
21,NaN,NaN,2,Rashid Khan,7,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Delhi Capitals,1.0,31.0,24.0,3.0
10,Gujarat Titans,Delhi Capitals,2,B Sai Sudharsan,7,62.0,4.0,2.0,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Gujarat Titans,Delhi Capitals,2,WP Saha,7,14.0,2.0,1.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,2,Yash Dayal,7,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Delhi Capitals,1.0,12.0,6.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Delhi Capitals,Gujarat Titans,1,A Nortje,7,4.0,1.0,0.0,0.0,2.0,...,2.0,37.0,24.0,2.0,2023,T20,2023_04_04,Delhi,Delhi Capitals_v_Gujarat Titans,Delhi Capitals
1,Delhi Capitals,Gujarat Titans,1,AR Patel,7,36.0,2.0,3.0,1.0,22.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_04,Delhi,Delhi Capitals_v_Gujarat Titans,Delhi Capitals
2,Delhi Capitals,Gujarat Titans,1,Abishek Porel,7,20.0,0.0,2.0,1.0,11.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_04,Delhi,Delhi Capitals_v_Gujarat Titans,Delhi Capitals
3,Delhi Capitals,Gujarat Titans,1,Aman Hakim Khan,7,8.0,0.0,1.0,1.0,8.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_04,Delhi,Delhi Capitals_v_Gujarat Titans,Delhi Capitals
4,Delhi Capitals,Gujarat Titans,1,DA Warner,7,37.0,7.0,0.0,1.0,32.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_04,Delhi,Delhi Capitals_v_Gujarat Titans,Delhi Capitals

1359481_T20_2023_7_2023_04_04_Delhi Capitals_v_Gujarat Titans.csv
1359482
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359482.json
[8, '2023', 'T20', '2023_04_05', 'Guwahati', 'Punjab Kings_v_Rajasthan Royals']
['Punjab Kings', 'Rajasthan Royals']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(16, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Punjab Kings,Rajasthan Royals,1,JM Sharma,8,27,2,1,1,16
1,Punjab Kings,Rajasthan Royals,1,M Shahrukh Khan,8,11,1,0,1,9
2,Punjab Kings,Rajasthan Royals,1,P Simran Singh,8,60,7,3,1,34
3,Punjab Kings,Rajasthan Royals,1,PBB Rajapaksa,8,1,0,0,0,1
4,Punjab Kings,Rajasthan Royals,1,S Dhawan,8,86,9,3,1,56

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(11, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Arshdeep Singh,Punjab Kings,Rajasthan Royals,2,8,44,24,2,1
1,Harpreet Brar,Punjab Kings,Rajasthan Royals,2,8,15,12,0,1
2,JO Holder,Rajasthan Royals,Punjab Kings,1,8,29,24,2,2
3,KM Asif,Rajasthan Royals,Punjab Kings,1,8,49,24,0,2
4,NT Ellis,Punjab Kings,Rajasthan Royals,2,8,30,24,4,1

(11, 9)
(16, 10)
(23, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Punjab Kings,Rajasthan Royals,1,JM Sharma,8,27.0,2.0,1.0,1.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Punjab Kings,Rajasthan Royals,1,M Shahrukh Khan,8,11.0,1.0,0.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Punjab Kings,Rajasthan Royals,1,P Simran Singh,8,60.0,7.0,3.0,1.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Punjab Kings,Rajasthan Royals,1,PBB Rajapaksa,8,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Punjab Kings,Rajasthan Royals,1,S Dhawan,8,86.0,9.0,3.0,1.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Punjab Kings,Rajasthan Royals,1,SM Curran,8,1.0,0.0,0.0,0.0,2.0,Punjab Kings,Rajasthan Royals,2.0,44.0,24.0,1.0
6,Punjab Kings,Rajasthan Royals,1,Sikandar Raza,8,1.0,0.0,0.0,1.0,2.0,Punjab Kings,Rajasthan Royals,2.0,18.0,12.0,0.0
20,NaN,NaN,1,RD Chahar,8,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Rajasthan Royals,2.0,31.0,24.0,0.0
19,NaN,NaN,1,NT Ellis,8,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Rajasthan Royals,2.0,30.0,24.0,4.0
17,NaN,NaN,1,Harpreet Brar,8,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Rajasthan Royals,2.0,15.0,12.0,0.0
16,NaN,NaN,1,Arshdeep Singh,8,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Rajasthan Royals,2.0,44.0,24.0,2.0
18,NaN,NaN,2,KM Asif,8,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Punjab Kings,1.0,49.0,24.0,0.0
15,Rajasthan Royals,Punjab Kings,2,YBK Jaiswal,8,11.0,1.0,1.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Rajasthan Royals,Punjab Kings,2,SV Samson,8,42.0,5.0,1.0,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Rajasthan Royals,Punjab Kings,2,R Ashwin,8,0.0,0.0,0.0,1.0,4.0,Rajasthan Royals,Punjab Kings,1.0,24.0,24.0,2.0
12,Rajasthan Royals,Punjab Kings,2,R Parag,8,20.0,1.0,2.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,2,TA Boult,8,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Punjab Kings,1.0,36.0,24.0,0.0
10,Rajasthan Royals,Punjab Kings,2,JO Holder,8,1.0,0.0,0.0,0.0,1.0,Rajasthan Royals,Punjab Kings,1.0,29.0,24.0,2.0
9,Rajasthan Royals,Punjab Kings,2,JC Buttler,8,19.0,1.0,1.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Rajasthan Royals,Punjab Kings,2,Dhruv Jurel,8,32.0,3.0,2.0,0.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Rajasthan Royals,Punjab Kings,2,D Padikkal,8,21.0,1.0,0.0,1.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Rajasthan Royals,Punjab Kings,2,SO Hetmyer,8,36.0,1.0,3.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,2,YS Chahal,8,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Punjab Kings,1.0,49.0,24.0,1.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Punjab Kings,Rajasthan Royals,1,JM Sharma,8,27.0,2.0,1.0,1.0,16.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_05,Guwahati,Punjab Kings_v_Rajasthan Royals,Punjab Kings
1,Punjab Kings,Rajasthan Royals,1,M Shahrukh Khan,8,11.0,1.0,0.0,1.0,9.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_05,Guwahati,Punjab Kings_v_Rajasthan Royals,Punjab Kings
2,Punjab Kings,Rajasthan Royals,1,P Simran Singh,8,60.0,7.0,3.0,1.0,34.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_05,Guwahati,Punjab Kings_v_Rajasthan Royals,Punjab Kings
3,Punjab Kings,Rajasthan Royals,1,PBB Rajapaksa,8,1.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_05,Guwahati,Punjab Kings_v_Rajasthan Royals,Punjab Kings
4,Punjab Kings,Rajasthan Royals,1,S Dhawan,8,86.0,9.0,3.0,1.0,56.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_05,Guwahati,Punjab Kings_v_Rajasthan Royals,Punjab Kings

1359482_T20_2023_8_2023_04_05_Punjab Kings_v_Rajasthan Royals.csv
1359483
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359483.json
[9, '2023', 'T20', '2023_04_06', 'Kolkata', 'Kolkata Knight Riders_v_Royal Challengers Bangalore']
['Kolkata Knight Riders', 'Royal Challengers Bangalore']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 18
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(20, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,AD Russell,9,0,0,0,1,1
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,Mandeep Singh,9,0,0,0,1,1
2,Kolkata Knight Riders,Royal Challengers Bangalore,1,N Rana,9,1,0,0,1,5
3,Kolkata Knight Riders,Royal Challengers Bangalore,1,RK Singh,9,46,2,3,1,31
4,Kolkata Knight Riders,Royal Challengers Bangalore,1,Rahmanullah Gurbaz,9,57,6,3,1,43

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(13, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Akash Deep,Royal Challengers Bangalore,Kolkata Knight Riders,1,9,27,12,0,2
1,CV Varun,Kolkata Knight Riders,Royal Challengers Bangalore,2,9,15,22,4,1
2,DJ Willey,Royal Challengers Bangalore,Kolkata Knight Riders,1,9,15,24,2,2
3,HV Patel,Royal Challengers Bangalore,Kolkata Knight Riders,1,9,37,18,1,2
4,KV Sharma,Royal Challengers Bangalore,Kolkata Knight Riders,1,9,26,18,2,2

(13, 9)
(20, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,AD Russell,9,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,CV Varun,9,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2.0,15.0,22.0,4.0
22,NaN,NaN,1,Suyash Sharma,9,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2.0,29.0,24.0,3.0
8,Kolkata Knight Riders,Royal Challengers Bangalore,1,VR Iyer,9,3.0,0.0,0.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Kolkata Knight Riders,Royal Challengers Bangalore,1,UT Yadav,9,6.0,1.0,0.0,0.0,2.0,Kolkata Knight Riders,Royal Challengers Bangalore,2.0,17.0,12.0,0.0
6,Kolkata Knight Riders,Royal Challengers Bangalore,1,SP Narine,9,0.0,0.0,0.0,0.0,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,2.0,16.0,24.0,2.0
23,NaN,NaN,1,TG Southee,9,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2.0,25.0,12.0,0.0
4,Kolkata Knight Riders,Royal Challengers Bangalore,1,Rahmanullah Gurbaz,9,57.0,6.0,3.0,1.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Kolkata Knight Riders,Royal Challengers Bangalore,1,RK Singh,9,46.0,2.0,3.0,1.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,Mandeep Singh,9,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Kolkata Knight Riders,Royal Challengers Bangalore,1,N Rana,9,1.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Kolkata Knight Riders,Royal Challengers Bangalore,1,SN Thakur,9,68.0,9.0,3.0,1.0,29.0,Kolkata Knight Riders,Royal Challengers Bangalore,2.0,15.0,12.0,1.0
21,NaN,NaN,2,Mohammed Siraj,9,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1.0,36.0,24.0,1.0
19,Royal Challengers Bangalore,Kolkata Knight Riders,2,V Kohli,9,21.0,3.0,0.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
18,Royal Challengers Bangalore,Kolkata Knight Riders,2,Shahbaz Ahmed,9,1.0,0.0,0.0,1.0,5.0,Royal Challengers Bangalore,Kolkata Knight Riders,1.0,6.0,6.0,0.0
17,Royal Challengers Bangalore,Kolkata Knight Riders,2,MG Bracewell,9,19.0,1.0,1.0,1.0,18.0,Royal Challengers Bangalore,Kolkata Knight Riders,1.0,34.0,18.0,1.0
15,Royal Challengers Bangalore,Kolkata Knight Riders,2,KD Karthik,9,9.0,1.0,0.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Royal Challengers Bangalore,Kolkata Knight Riders,2,HV Patel,9,0.0,0.0,0.0,1.0,2.0,Royal Challengers Bangalore,Kolkata Knight Riders,1.0,37.0,18.0,1.0
13,Royal Challengers Bangalore,Kolkata Knight Riders,2,GJ Maxwell,9,5.0,1.0,0.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Royal Challengers Bangalore,Kolkata Knight Riders,2,F du Plessis,9,23.0,2.0,2.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Royal Challengers Bangalore,Kolkata Knight Riders,2,Anuj Rawat,9,1.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Royal Challengers Bangalore,Kolkata Knight Riders,2,Akash Deep,9,17.0,2.0,1.0,1.0,8.0,Royal Challengers Bangalore,Kolkata Knight Riders,1.0,27.0,12.0,0.0
16,Royal Challengers Bangalore,Kolkata Knight Riders,2,KV Sharma,9,1.0,0.0,0.0,1.0,3.0,Royal Challengers Bangalore,Kolkata Knight Riders,1.0,26.0,18.0,2.0
11,Royal Challengers Bangalore,Kolkata Knight Riders,2,DJ Willey,9,20.0,2.0,0.0,0.0,20.0,Royal Challengers Bangalore,Kolkata Knight Riders,1.0,15.0,24.0,2.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,AD Russell,9,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_06,Kolkata,Kolkata Knight Riders_v_Royal Challengers Bang...,Kolkata Knight Riders
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,Mandeep Singh,9,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_06,Kolkata,Kolkata Knight Riders_v_Royal Challengers Bang...,Kolkata Knight Riders
2,Kolkata Knight Riders,Royal Challengers Bangalore,1,N Rana,9,1.0,0.0,0.0,1.0,5.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_06,Kolkata,Kolkata Knight Riders_v_Royal Challengers Bang...,Kolkata Knight Riders
3,Kolkata Knight Riders,Royal Challengers Bangalore,1,RK Singh,9,46.0,2.0,3.0,1.0,31.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_06,Kolkata,Kolkata Knight Riders_v_Royal Challengers Bang...,Kolkata Knight Riders
4,Kolkata Knight Riders,Royal Challengers Bangalore,1,Rahmanullah Gurbaz,9,57.0,6.0,3.0,1.0,43.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_06,Kolkata,Kolkata Knight Riders_v_Royal Challengers Bang...,Kolkata Knight Riders

1359483_T20_2023_9_2023_04_06_Kolkata Knight Riders_v_Royal Challengers Bangalore.csv
1359484
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359484.json
[10, '2023', 'T20', '2023_04_07', 'Lucknow', 'Sunrisers Hyderabad_v_Lucknow Super Giants']
['Sunrisers Hyderabad', 'Lucknow Super Giants']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 16
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(15, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Lucknow Super Giants,Sunrisers Hyderabad,2,DJ Hooda,10,7,0,1,1,8
1,Lucknow Super Giants,Sunrisers Hyderabad,2,KH Pandya,10,34,4,1,1,23
2,Lucknow Super Giants,Sunrisers Hyderabad,2,KL Rahul,10,35,4,0,1,31
3,Lucknow Super Giants,Sunrisers Hyderabad,2,KR Mayers,10,13,2,0,1,14
4,Lucknow Super Giants,Sunrisers Hyderabad,2,MP Stoinis,10,10,2,0,0,13

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(14, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,A Mishra,Lucknow Super Giants,Sunrisers Hyderabad,1,10,23,24,2,2
1,AK Markram,Sunrisers Hyderabad,Lucknow Super Giants,2,10,14,12,0,1
2,AU Rashid,Sunrisers Hyderabad,Lucknow Super Giants,2,10,23,18,2,1
3,B Kumar,Sunrisers Hyderabad,Lucknow Super Giants,2,10,14,12,1,1
4,DJ Hooda,Lucknow Super Giants,Sunrisers Hyderabad,1,10,8,6,0,2

(14, 9)
(15, 10)
(23, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Sunrisers Hyderabad,Lucknow Super Giants,1,HC Brook,10,3.0,0.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,T Natarajan,10,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Lucknow Super Giants,2.0,22.0,18.0,0.0
17,NaN,NaN,1,Fazalhaq Farooqi,10,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Lucknow Super Giants,2.0,12.0,18.0,1.0
16,NaN,NaN,1,B Kumar,10,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Lucknow Super Giants,2.0,14.0,12.0,1.0
7,Sunrisers Hyderabad,Lucknow Super Giants,1,AK Markram,10,0.0,0.0,0.0,1.0,1.0,Sunrisers Hyderabad,Lucknow Super Giants,2.0,14.0,12.0,0.0
8,Sunrisers Hyderabad,Lucknow Super Giants,1,AU Rashid,10,4.0,1.0,0.0,1.0,3.0,Sunrisers Hyderabad,Lucknow Super Giants,2.0,23.0,18.0,2.0
9,Sunrisers Hyderabad,Lucknow Super Giants,1,Abdul Samad,10,21.0,1.0,2.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Sunrisers Hyderabad,Lucknow Super Giants,1,Anmolpreet Singh,10,31.0,3.0,1.0,1.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,1,Umran Malik,10,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Lucknow Super Giants,2.0,14.0,12.0,1.0
12,Sunrisers Hyderabad,Lucknow Super Giants,1,MA Agarwal,10,8.0,1.0,0.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Sunrisers Hyderabad,Lucknow Super Giants,1,RA Tripathi,10,34.0,4.0,0.0,1.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Sunrisers Hyderabad,Lucknow Super Giants,1,Washington Sundar,10,16.0,0.0,0.0,1.0,28.0,Sunrisers Hyderabad,Lucknow Super Giants,2.0,11.0,6.0,0.0
19,NaN,NaN,2,Ravi Bishnoi,10,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Sunrisers Hyderabad,1.0,15.0,24.0,1.0
18,NaN,NaN,2,JD Unadkat,10,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Sunrisers Hyderabad,1.0,25.0,18.0,1.0
15,NaN,NaN,2,A Mishra,10,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Sunrisers Hyderabad,1.0,23.0,24.0,2.0
0,Lucknow Super Giants,Sunrisers Hyderabad,2,DJ Hooda,10,7.0,0.0,1.0,1.0,8.0,Lucknow Super Giants,Sunrisers Hyderabad,1.0,8.0,6.0,0.0
5,Lucknow Super Giants,Sunrisers Hyderabad,2,N Pooran,10,11.0,1.0,1.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Lucknow Super Giants,Sunrisers Hyderabad,2,MP Stoinis,10,10.0,2.0,0.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Lucknow Super Giants,Sunrisers Hyderabad,2,KR Mayers,10,13.0,2.0,0.0,1.0,14.0,Lucknow Super Giants,Sunrisers Hyderabad,1.0,5.0,6.0,0.0
2,Lucknow Super Giants,Sunrisers Hyderabad,2,KL Rahul,10,35.0,4.0,0.0,1.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Lucknow Super Giants,Sunrisers Hyderabad,2,KH Pandya,10,34.0,4.0,1.0,1.0,23.0,Lucknow Super Giants,Sunrisers Hyderabad,1.0,18.0,24.0,3.0
6,Lucknow Super Giants,Sunrisers Hyderabad,2,R Shepherd,10,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,2,Yash Thakur,10,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Sunrisers Hyderabad,1.0,23.0,18.0,1.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Lucknow Super Giants,Sunrisers Hyderabad,2,DJ Hooda,10,7.0,0.0,1.0,1.0,8.0,...,1.0,8.0,6.0,0.0,2023,T20,2023_04_07,Lucknow,Sunrisers Hyderabad_v_Lucknow Super Giants,Lucknow Super Giants
1,Lucknow Super Giants,Sunrisers Hyderabad,2,KH Pandya,10,34.0,4.0,1.0,1.0,23.0,...,1.0,18.0,24.0,3.0,2023,T20,2023_04_07,Lucknow,Sunrisers Hyderabad_v_Lucknow Super Giants,Lucknow Super Giants
2,Lucknow Super Giants,Sunrisers Hyderabad,2,KL Rahul,10,35.0,4.0,0.0,1.0,31.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_07,Lucknow,Sunrisers Hyderabad_v_Lucknow Super Giants,Lucknow Super Giants
3,Lucknow Super Giants,Sunrisers Hyderabad,2,KR Mayers,10,13.0,2.0,0.0,1.0,14.0,...,1.0,5.0,6.0,0.0,2023,T20,2023_04_07,Lucknow,Sunrisers Hyderabad_v_Lucknow Super Giants,Lucknow Super Giants
4,Lucknow Super Giants,Sunrisers Hyderabad,2,MP Stoinis,10,10.0,2.0,0.0,0.0,13.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_07,Lucknow,Sunrisers Hyderabad_v_Lucknow Super Giants,Lucknow Super Giants

1359484_T20_2023_10_2023_04_07_Sunrisers Hyderabad_v_Lucknow Super Giants.csv
1359485
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359485.json
[11, '2023', 'T20', '2023_04_08', 'Guwahati', 'Rajasthan Royals_v_Delhi Capitals']
['Rajasthan Royals', 'Delhi Capitals']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(17, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Delhi Capitals,Rajasthan Royals,2,A Nortje,11,0,0,0,1,1
1,Delhi Capitals,Rajasthan Royals,2,AR Patel,11,2,0,0,1,6
2,Delhi Capitals,Rajasthan Royals,2,Abishek Porel,11,7,1,0,1,9
3,Delhi Capitals,Rajasthan Royals,2,DA Warner,11,65,7,0,1,54
4,Delhi Capitals,Rajasthan Royals,2,Kuldeep Yadav,11,3,0,0,0,7

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,A Nortje,Delhi Capitals,Rajasthan Royals,1,11,44,24,0,2
1,AR Patel,Delhi Capitals,Rajasthan Royals,1,11,38,24,0,2
2,JO Holder,Rajasthan Royals,Delhi Capitals,2,11,27,18,0,1
3,KK Ahmed,Delhi Capitals,Rajasthan Royals,1,11,28,12,0,2
4,Kuldeep Yadav,Delhi Capitals,Rajasthan Royals,1,11,31,24,1,2

(12, 9)
(17, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Rajasthan Royals,Delhi Capitals,1,Dhruv Jurel,11,8.0,0.0,1.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,1,Sandeep Sharma,11,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Capitals,2.0,19.0,24.0,1.0
20,NaN,NaN,1,R Ashwin,11,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Capitals,2.0,22.0,24.0,2.0
19,NaN,NaN,1,M Ashwin,11,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Capitals,2.0,10.0,6.0,0.0
17,NaN,NaN,1,JO Holder,11,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Capitals,2.0,27.0,18.0,0.0
16,Rajasthan Royals,Delhi Capitals,1,YBK Jaiswal,11,60.0,11.0,1.0,1.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Rajasthan Royals,Delhi Capitals,1,SV Samson,11,0.0,0.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Rajasthan Royals,Delhi Capitals,1,SO Hetmyer,11,39.0,1.0,4.0,0.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Rajasthan Royals,Delhi Capitals,1,R Parag,11,7.0,0.0,0.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Rajasthan Royals,Delhi Capitals,1,JC Buttler,11,79.0,11.0,1.0,1.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,1,TA Boult,11,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Capitals,2.0,29.0,24.0,3.0
23,NaN,NaN,1,YS Chahal,11,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Delhi Capitals,2.0,25.0,24.0,3.0
9,Delhi Capitals,Rajasthan Royals,2,R Powell,11,2.0,0.0,0.0,1.0,2.0,Delhi Capitals,Rajasthan Royals,1.0,16.0,12.0,1.0
8,Delhi Capitals,Rajasthan Royals,2,PP Shaw,11,0.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Delhi Capitals,Rajasthan Royals,2,Mukesh Kumar,11,1.0,0.0,0.0,0.0,1.0,Delhi Capitals,Rajasthan Royals,1.0,36.0,24.0,2.0
6,Delhi Capitals,Rajasthan Royals,2,MK Pandey,11,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Delhi Capitals,Rajasthan Royals,2,Lalit Yadav,11,38.0,5.0,0.0,1.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Delhi Capitals,Rajasthan Royals,2,Kuldeep Yadav,11,3.0,0.0,0.0,0.0,7.0,Delhi Capitals,Rajasthan Royals,1.0,31.0,24.0,1.0
18,NaN,NaN,2,KK Ahmed,11,NaN,NaN,NaN,NaN,NaN,Delhi Capitals,Rajasthan Royals,1.0,28.0,12.0,0.0
3,Delhi Capitals,Rajasthan Royals,2,DA Warner,11,65.0,7.0,0.0,1.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Delhi Capitals,Rajasthan Royals,2,Abishek Porel,11,7.0,1.0,0.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Delhi Capitals,Rajasthan Royals,2,AR Patel,11,2.0,0.0,0.0,1.0,6.0,Delhi Capitals,Rajasthan Royals,1.0,38.0,24.0,0.0
10,Delhi Capitals,Rajasthan Royals,2,RR Rossouw,11,14.0,2.0,0.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Delhi Capitals,Rajasthan Royals,2,A Nortje,11,0.0,0.0,0.0,1.0,1.0,Delhi Capitals,Rajasthan Royals,1.0,44.0,24.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Delhi Capitals,Rajasthan Royals,2,A Nortje,11,0.0,0.0,0.0,1.0,1.0,...,1.0,44.0,24.0,0.0,2023,T20,2023_04_08,Guwahati,Rajasthan Royals_v_Delhi Capitals,Delhi Capitals
1,Delhi Capitals,Rajasthan Royals,2,AR Patel,11,2.0,0.0,0.0,1.0,6.0,...,1.0,38.0,24.0,0.0,2023,T20,2023_04_08,Guwahati,Rajasthan Royals_v_Delhi Capitals,Delhi Capitals
2,Delhi Capitals,Rajasthan Royals,2,Abishek Porel,11,7.0,1.0,0.0,1.0,9.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_08,Guwahati,Rajasthan Royals_v_Delhi Capitals,Delhi Capitals
3,Delhi Capitals,Rajasthan Royals,2,DA Warner,11,65.0,7.0,0.0,1.0,54.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_08,Guwahati,Rajasthan Royals_v_Delhi Capitals,Delhi Capitals
4,Delhi Capitals,Rajasthan Royals,2,Kuldeep Yadav,11,3.0,0.0,0.0,0.0,7.0,...,1.0,31.0,24.0,1.0,2023,T20,2023_04_08,Guwahati,Rajasthan Royals_v_Delhi Capitals,Delhi Capitals

1359485_T20_2023_11_2023_04_08_Rajasthan Royals_v_Delhi Capitals.csv
1359486
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359486.json
[12, '2023', 'T20', '2023_04_08', 'Mumbai', 'Mumbai Indians_v_Chennai Super Kings']
['Mumbai Indians', 'Chennai Super Kings']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 19
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(15, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Chennai Super Kings,Mumbai Indians,2,AM Rahane,12,61,7,3,1,27
1,Chennai Super Kings,Mumbai Indians,2,AT Rayudu,12,20,3,0,0,16
2,Chennai Super Kings,Mumbai Indians,2,DP Conway,12,0,0,0,1,4
3,Chennai Super Kings,Mumbai Indians,2,RD Gaikwad,12,40,2,1,0,36
4,Chennai Super Kings,Mumbai Indians,2,S Dube,12,28,2,1,1,26

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Arshad Khan,Mumbai Indians,Chennai Super Kings,2,12,31,13,0,1
1,C Green,Mumbai Indians,Chennai Super Kings,2,12,19,18,0,1
2,D Pretorius,Chennai Super Kings,Mumbai Indians,1,12,24,24,0,2
3,DL Chahar,Chennai Super Kings,Mumbai Indians,1,12,10,6,0,2
4,HR Shokeen,Mumbai Indians,Chennai Super Kings,2,12,19,12,0,1

(12, 9)
(15, 10)
(23, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Mumbai Indians,Chennai Super Kings,1,SA Yadav,12,1.0,0.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,1,K Kartikeya,12,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Chennai Super Kings,2.0,24.0,24.0,1.0
17,NaN,NaN,1,JP Behrendorff,12,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Chennai Super Kings,2.0,23.0,18.0,1.0
5,Mumbai Indians,Chennai Super Kings,1,Arshad Khan,12,2.0,0.0,0.0,1.0,4.0,Mumbai Indians,Chennai Super Kings,2.0,31.0,13.0,0.0
6,Mumbai Indians,Chennai Super Kings,1,C Green,12,12.0,1.0,0.0,1.0,11.0,Mumbai Indians,Chennai Super Kings,2.0,19.0,18.0,0.0
7,Mumbai Indians,Chennai Super Kings,1,HR Shokeen,12,18.0,3.0,0.0,0.0,13.0,Mumbai Indians,Chennai Super Kings,2.0,19.0,12.0,0.0
8,Mumbai Indians,Chennai Super Kings,1,Ishan Kishan,12,32.0,5.0,0.0,1.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Mumbai Indians,Chennai Super Kings,1,PP Chawla,12,5.0,0.0,0.0,0.0,6.0,Mumbai Indians,Chennai Super Kings,2.0,33.0,24.0,1.0
10,Mumbai Indians,Chennai Super Kings,1,RG Sharma,12,21.0,3.0,1.0,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Mumbai Indians,Chennai Super Kings,1,T Stubbs,12,5.0,0.0,0.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Mumbai Indians,Chennai Super Kings,1,TH David,12,31.0,1.0,2.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Mumbai Indians,Chennai Super Kings,1,Tilak Varma,12,22.0,2.0,1.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,2,RA Jadeja,12,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,1.0,20.0,24.0,3.0
19,NaN,NaN,2,MJ Santner,12,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,1.0,28.0,24.0,2.0
16,NaN,NaN,2,DL Chahar,12,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,1.0,10.0,6.0,0.0
0,Chennai Super Kings,Mumbai Indians,2,AM Rahane,12,61.0,7.0,3.0,1.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,2,SSB Magala,12,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,1.0,37.0,24.0,1.0
4,Chennai Super Kings,Mumbai Indians,2,S Dube,12,28.0,2.0,1.0,1.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Chennai Super Kings,Mumbai Indians,2,RD Gaikwad,12,40.0,2.0,1.0,0.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Chennai Super Kings,Mumbai Indians,2,DP Conway,12,0.0,0.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Chennai Super Kings,Mumbai Indians,2,AT Rayudu,12,20.0,3.0,0.0,0.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,2,D Pretorius,12,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,1.0,24.0,24.0,0.0
22,NaN,NaN,2,TU Deshpande,12,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians,1.0,30.0,18.0,2.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Chennai Super Kings,Mumbai Indians,2,AM Rahane,12,61.0,7.0,3.0,1.0,27.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_08,Mumbai,Mumbai Indians_v_Chennai Super Kings,Chennai Super Kings
1,Chennai Super Kings,Mumbai Indians,2,AT Rayudu,12,20.0,3.0,0.0,0.0,16.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_08,Mumbai,Mumbai Indians_v_Chennai Super Kings,Chennai Super Kings
2,Chennai Super Kings,Mumbai Indians,2,DP Conway,12,0.0,0.0,0.0,1.0,4.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_08,Mumbai,Mumbai Indians_v_Chennai Super Kings,Chennai Super Kings
3,Chennai Super Kings,Mumbai Indians,2,RD Gaikwad,12,40.0,2.0,1.0,0.0,36.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_08,Mumbai,Mumbai Indians_v_Chennai Super Kings,Chennai Super Kings
4,Chennai Super Kings,Mumbai Indians,2,S Dube,12,28.0,2.0,1.0,1.0,26.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_08,Mumbai,Mumbai Indians_v_Chennai Super Kings,Chennai Super Kings

1359486_T20_2023_12_2023_04_08_Mumbai Indians_v_Chennai Super Kings.csv
1359487
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359487.json
[13, '2023', 'T20', '2023_04_09', 'Ahmedabad', 'Gujarat Titans_v_Kolkata Knight Riders']
['Gujarat Titans', 'Kolkata Knight Riders']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(15, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Gujarat Titans,Kolkata Knight Riders,1,A Manohar,13,14,3,0,1,8
1,Gujarat Titans,Kolkata Knight Riders,1,B Sai Sudharsan,13,53,3,2,1,38
2,Gujarat Titans,Kolkata Knight Riders,1,DA Miller,13,2,0,0,0,3
3,Gujarat Titans,Kolkata Knight Riders,1,Shubman Gill,13,39,5,0,1,31
4,Gujarat Titans,Kolkata Knight Riders,1,V Shankar,13,63,4,5,0,23

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(11, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,AS Joseph,Gujarat Titans,Kolkata Knight Riders,2,13,27,24,2,1
1,CV Varun,Kolkata Knight Riders,Gujarat Titans,1,13,22,12,0,2
2,J Little,Gujarat Titans,Kolkata Knight Riders,2,13,42,24,1,1
3,LH Ferguson,Kolkata Knight Riders,Gujarat Titans,1,13,38,24,0,2
4,Mohammed Shami,Gujarat Titans,Kolkata Knight Riders,2,13,28,24,1,1

(11, 9)
(15, 10)
(23, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Gujarat Titans,Kolkata Knight Riders,1,A Manohar,13,14.0,3.0,0.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,Rashid Khan,13,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Kolkata Knight Riders,2.0,37.0,24.0,3.0
19,NaN,NaN,1,Mohammed Shami,13,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Kolkata Knight Riders,2.0,28.0,24.0,1.0
17,NaN,NaN,1,J Little,13,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Kolkata Knight Riders,2.0,42.0,24.0,1.0
15,NaN,NaN,1,AS Joseph,13,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Kolkata Knight Riders,2.0,27.0,24.0,2.0
22,NaN,NaN,1,Yash Dayal,13,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Kolkata Knight Riders,2.0,69.0,24.0,0.0
1,Gujarat Titans,Kolkata Knight Riders,1,B Sai Sudharsan,13,53.0,3.0,2.0,1.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Gujarat Titans,Kolkata Knight Riders,1,DA Miller,13,2.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Gujarat Titans,Kolkata Knight Riders,1,Shubman Gill,13,39.0,5.0,0.0,1.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Gujarat Titans,Kolkata Knight Riders,1,V Shankar,13,63.0,4.0,5.0,0.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Gujarat Titans,Kolkata Knight Riders,1,WP Saha,13,17.0,3.0,0.0,1.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Kolkata Knight Riders,Gujarat Titans,2,AD Russell,13,1.0,0.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,2,LH Ferguson,13,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Gujarat Titans,1.0,38.0,24.0,0.0
16,NaN,NaN,2,CV Varun,13,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Gujarat Titans,1.0,22.0,12.0,0.0
14,Kolkata Knight Riders,Gujarat Titans,2,VR Iyer,13,83.0,8.0,5.0,1.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Kolkata Knight Riders,Gujarat Titans,2,SP Narine,13,0.0,0.0,0.0,1.0,1.0,Kolkata Knight Riders,Gujarat Titans,1.0,32.0,24.0,3.0
21,NaN,NaN,2,Suyash Sharma,13,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Gujarat Titans,1.0,34.0,24.0,1.0
10,Kolkata Knight Riders,Gujarat Titans,2,Rahmanullah Gurbaz,13,15.0,1.0,1.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Kolkata Knight Riders,Gujarat Titans,2,RK Singh,13,48.0,1.0,6.0,0.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Kolkata Knight Riders,Gujarat Titans,2,N Rana,13,45.0,4.0,3.0,1.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Kolkata Knight Riders,Gujarat Titans,2,N Jagadeesan,13,6.0,1.0,0.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Kolkata Knight Riders,Gujarat Titans,2,UT Yadav,13,5.0,0.0,0.0,0.0,6.0,Kolkata Knight Riders,Gujarat Titans,1.0,23.0,18.0,0.0
11,Kolkata Knight Riders,Gujarat Titans,2,SN Thakur,13,0.0,0.0,0.0,1.0,1.0,Kolkata Knight Riders,Gujarat Titans,1.0,39.0,18.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Gujarat Titans,Kolkata Knight Riders,1,A Manohar,13,14.0,3.0,0.0,1.0,8.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_09,Ahmedabad,Gujarat Titans_v_Kolkata Knight Riders,Gujarat Titans
1,Gujarat Titans,Kolkata Knight Riders,1,B Sai Sudharsan,13,53.0,3.0,2.0,1.0,38.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_09,Ahmedabad,Gujarat Titans_v_Kolkata Knight Riders,Gujarat Titans
2,Gujarat Titans,Kolkata Knight Riders,1,DA Miller,13,2.0,0.0,0.0,0.0,3.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_09,Ahmedabad,Gujarat Titans_v_Kolkata Knight Riders,Gujarat Titans
3,Gujarat Titans,Kolkata Knight Riders,1,Shubman Gill,13,39.0,5.0,0.0,1.0,31.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_09,Ahmedabad,Gujarat Titans_v_Kolkata Knight Riders,Gujarat Titans
4,Gujarat Titans,Kolkata Knight Riders,1,V Shankar,13,63.0,4.0,5.0,0.0,23.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_09,Ahmedabad,Gujarat Titans_v_Kolkata Knight Riders,Gujarat Titans

1359487_T20_2023_13_2023_04_09_Gujarat Titans_v_Kolkata Knight Riders.csv
1359488
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359488.json
[14, '2023', 'T20', '2023_04_09', 'Hyderabad', 'Punjab Kings_v_Sunrisers Hyderabad']
['Punjab Kings', 'Sunrisers Hyderabad']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 18
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(15, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Punjab Kings,Sunrisers Hyderabad,1,Harpreet Brar,14,1,0,0,1,2
1,Punjab Kings,Sunrisers Hyderabad,1,JM Sharma,14,4,1,0,1,9
2,Punjab Kings,Sunrisers Hyderabad,1,M Shahrukh Khan,14,4,1,0,1,3
3,Punjab Kings,Sunrisers Hyderabad,1,MW Short,14,1,0,0,1,3
4,Punjab Kings,Sunrisers Hyderabad,1,Mohit Rathee,14,1,0,0,0,2

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Arshdeep Singh,Punjab Kings,Sunrisers Hyderabad,2,14,20,18,1,1
1,B Kumar,Sunrisers Hyderabad,Punjab Kings,1,14,30,24,1,2
2,Harpreet Brar,Punjab Kings,Sunrisers Hyderabad,2,14,26,19,0,1
3,M Jansen,Sunrisers Hyderabad,Punjab Kings,1,14,15,18,2,2
4,M Markande,Sunrisers Hyderabad,Punjab Kings,1,14,15,24,4,2

(12, 9)
(15, 10)
(22, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Punjab Kings,Sunrisers Hyderabad,1,Harpreet Brar,14,1.0,0.0,0.0,1.0,2.0,Punjab Kings,Sunrisers Hyderabad,2.0,26.0,19.0,0.0
15,NaN,NaN,1,Arshdeep Singh,14,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Sunrisers Hyderabad,2.0,20.0,18.0,1.0
9,Punjab Kings,Sunrisers Hyderabad,1,SM Curran,14,22.0,3.0,1.0,1.0,15.0,Punjab Kings,Sunrisers Hyderabad,2.0,14.0,18.0,0.0
8,Punjab Kings,Sunrisers Hyderabad,1,S Dhawan,14,99.0,12.0,5.0,0.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Punjab Kings,Sunrisers Hyderabad,1,RD Chahar,14,0.0,0.0,0.0,1.0,8.0,Punjab Kings,Sunrisers Hyderabad,2.0,28.0,18.0,1.0
6,Punjab Kings,Sunrisers Hyderabad,1,P Simran Singh,14,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Punjab Kings,Sunrisers Hyderabad,1,Sikandar Raza,14,5.0,0.0,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Punjab Kings,Sunrisers Hyderabad,1,Mohit Rathee,14,1.0,0.0,0.0,0.0,2.0,Punjab Kings,Sunrisers Hyderabad,2.0,29.0,12.0,0.0
3,Punjab Kings,Sunrisers Hyderabad,1,MW Short,14,1.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Punjab Kings,Sunrisers Hyderabad,1,M Shahrukh Khan,14,4.0,1.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Punjab Kings,Sunrisers Hyderabad,1,JM Sharma,14,4.0,1.0,0.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Punjab Kings,Sunrisers Hyderabad,1,NT Ellis,14,0.0,0.0,0.0,1.0,5.0,Punjab Kings,Sunrisers Hyderabad,2.0,28.0,18.0,0.0
20,NaN,NaN,2,Umran Malik,14,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Punjab Kings,1.0,31.0,24.0,2.0
11,Sunrisers Hyderabad,Punjab Kings,2,AK Markram,14,37.0,6.0,0.0,0.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Sunrisers Hyderabad,Punjab Kings,2,HC Brook,14,13.0,3.0,0.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Sunrisers Hyderabad,Punjab Kings,2,MA Agarwal,14,21.0,3.0,0.0,1.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Sunrisers Hyderabad,Punjab Kings,2,RA Tripathi,14,74.0,10.0,3.0,0.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,2,B Kumar,14,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Punjab Kings,1.0,30.0,24.0,1.0
17,NaN,NaN,2,M Jansen,14,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Punjab Kings,1.0,15.0,18.0,2.0
18,NaN,NaN,2,M Markande,14,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Punjab Kings,1.0,15.0,24.0,4.0
19,NaN,NaN,2,T Natarajan,14,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Punjab Kings,1.0,40.0,24.0,0.0
21,NaN,NaN,2,Washington Sundar,14,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Punjab Kings,1.0,6.0,6.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Punjab Kings,Sunrisers Hyderabad,1,Harpreet Brar,14,1.0,0.0,0.0,1.0,2.0,...,2.0,26.0,19.0,0.0,2023,T20,2023_04_09,Hyderabad,Punjab Kings_v_Sunrisers Hyderabad,Punjab Kings
1,Punjab Kings,Sunrisers Hyderabad,1,JM Sharma,14,4.0,1.0,0.0,1.0,9.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_09,Hyderabad,Punjab Kings_v_Sunrisers Hyderabad,Punjab Kings
2,Punjab Kings,Sunrisers Hyderabad,1,M Shahrukh Khan,14,4.0,1.0,0.0,1.0,3.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_09,Hyderabad,Punjab Kings_v_Sunrisers Hyderabad,Punjab Kings
3,Punjab Kings,Sunrisers Hyderabad,1,MW Short,14,1.0,0.0,0.0,1.0,3.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_09,Hyderabad,Punjab Kings_v_Sunrisers Hyderabad,Punjab Kings
4,Punjab Kings,Sunrisers Hyderabad,1,Mohit Rathee,14,1.0,0.0,0.0,0.0,2.0,...,2.0,29.0,12.0,0.0,2023,T20,2023_04_09,Hyderabad,Punjab Kings_v_Sunrisers Hyderabad,Punjab Kings

1359488_T20_2023_14_2023_04_09_Punjab Kings_v_Sunrisers Hyderabad.csv
1359489
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359489.json
[15, '2023', 'T20', '2023_04_10', 'Bengaluru', 'Royal Challengers Bangalore_v_Lucknow Super Giants']
['Royal Challengers Bangalore', 'Lucknow Super Giants']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(15, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Lucknow Super Giants,Royal Challengers Bangalore,2,A Badoni,15,30,4,0,1,24
1,Lucknow Super Giants,Royal Challengers Bangalore,2,Avesh Khan,15,0,0,0,0,1
2,Lucknow Super Giants,Royal Challengers Bangalore,2,DJ Hooda,15,9,1,0,1,10
3,Lucknow Super Giants,Royal Challengers Bangalore,2,JD Unadkat,15,9,1,0,1,7
4,Lucknow Super Giants,Royal Challengers Bangalore,2,KH Pandya,15,0,0,0,1,2

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,A Mishra,Lucknow Super Giants,Royal Challengers Bangalore,1,15,18,12,1,2
1,Avesh Khan,Lucknow Super Giants,Royal Challengers Bangalore,1,15,53,24,0,2
2,DJ Willey,Royal Challengers Bangalore,Lucknow Super Giants,2,15,31,24,0,1
3,HV Patel,Royal Challengers Bangalore,Lucknow Super Giants,2,15,48,24,2,1
4,JD Unadkat,Lucknow Super Giants,Royal Challengers Bangalore,1,15,26,12,0,2

(12, 9)
(15, 10)
(22, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
21,NaN,NaN,1,WD Parnell,15,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Lucknow Super Giants,2.0,38.0,24.0,3.0
19,NaN,NaN,1,Mohammed Siraj,15,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Lucknow Super Giants,2.0,18.0,24.0,3.0
18,NaN,NaN,1,KV Sharma,15,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Lucknow Super Giants,2.0,47.0,18.0,1.0
17,NaN,NaN,1,HV Patel,15,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Lucknow Super Giants,2.0,48.0,24.0,2.0
16,NaN,NaN,1,DJ Willey,15,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Lucknow Super Giants,2.0,31.0,24.0,0.0
14,Royal Challengers Bangalore,Lucknow Super Giants,1,V Kohli,15,61.0,4.0,4.0,1.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Royal Challengers Bangalore,Lucknow Super Giants,1,KD Karthik,15,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Royal Challengers Bangalore,Lucknow Super Giants,1,GJ Maxwell,15,59.0,3.0,6.0,1.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Royal Challengers Bangalore,Lucknow Super Giants,1,F du Plessis,15,79.0,5.0,5.0,0.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,Shahbaz Ahmed,15,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Lucknow Super Giants,2.0,15.0,6.0,0.0
15,NaN,NaN,2,A Mishra,15,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Royal Challengers Bangalore,1.0,18.0,12.0,1.0
0,Lucknow Super Giants,Royal Challengers Bangalore,2,A Badoni,15,30.0,4.0,0.0,1.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Lucknow Super Giants,Royal Challengers Bangalore,2,MP Stoinis,15,65.0,6.0,5.0,1.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Lucknow Super Giants,Royal Challengers Bangalore,2,MA Wood,15,1.0,0.0,0.0,1.0,2.0,Lucknow Super Giants,Royal Challengers Bangalore,1.0,30.0,24.0,1.0
6,Lucknow Super Giants,Royal Challengers Bangalore,2,KR Mayers,15,0.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Lucknow Super Giants,Royal Challengers Bangalore,2,KL Rahul,15,18.0,1.0,0.0,1.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Lucknow Super Giants,Royal Challengers Bangalore,2,KH Pandya,15,0.0,0.0,0.0,1.0,2.0,Lucknow Super Giants,Royal Challengers Bangalore,1.0,35.0,24.0,0.0
3,Lucknow Super Giants,Royal Challengers Bangalore,2,JD Unadkat,15,9.0,1.0,0.0,1.0,7.0,Lucknow Super Giants,Royal Challengers Bangalore,1.0,26.0,12.0,0.0
2,Lucknow Super Giants,Royal Challengers Bangalore,2,DJ Hooda,15,9.0,1.0,0.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Lucknow Super Giants,Royal Challengers Bangalore,2,Avesh Khan,15,0.0,0.0,0.0,0.0,1.0,Lucknow Super Giants,Royal Challengers Bangalore,1.0,53.0,24.0,0.0
9,Lucknow Super Giants,Royal Challengers Bangalore,2,N Pooran,15,62.0,4.0,7.0,1.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Lucknow Super Giants,Royal Challengers Bangalore,2,Ravi Bishnoi,15,3.0,0.0,0.0,0.0,2.0,Lucknow Super Giants,Royal Challengers Bangalore,1.0,38.0,24.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Lucknow Super Giants,Royal Challengers Bangalore,2,A Badoni,15,30.0,4.0,0.0,1.0,24.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_10,Bengaluru,Royal Challengers Bangalore_v_Lucknow Super Gi...,Lucknow Super Giants
1,Lucknow Super Giants,Royal Challengers Bangalore,2,Avesh Khan,15,0.0,0.0,0.0,0.0,1.0,...,1.0,53.0,24.0,0.0,2023,T20,2023_04_10,Bengaluru,Royal Challengers Bangalore_v_Lucknow Super Gi...,Lucknow Super Giants
2,Lucknow Super Giants,Royal Challengers Bangalore,2,DJ Hooda,15,9.0,1.0,0.0,1.0,10.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_10,Bengaluru,Royal Challengers Bangalore_v_Lucknow Super Gi...,Lucknow Super Giants
3,Lucknow Super Giants,Royal Challengers Bangalore,2,JD Unadkat,15,9.0,1.0,0.0,1.0,7.0,...,1.0,26.0,12.0,0.0,2023,T20,2023_04_10,Bengaluru,Royal Challengers Bangalore_v_Lucknow Super Gi...,Lucknow Super Giants
4,Lucknow Super Giants,Royal Challengers Bangalore,2,KH Pandya,15,0.0,0.0,0.0,1.0,2.0,...,1.0,35.0,24.0,0.0,2023,T20,2023_04_10,Bengaluru,Royal Challengers Bangalore_v_Lucknow Super Gi...,Lucknow Super Giants

1359489_T20_2023_15_2023_04_10_Royal Challengers Bangalore_v_Lucknow Super Giants.csv
1359490
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359490.json
[16, '2023', 'T20', '2023_04_11', 'Delhi', 'Delhi Capitals_v_Mumbai Indians']
['Delhi Capitals', 'Mumbai Indians']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(17, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Delhi Capitals,Mumbai Indians,1,A Nortje,16,5,1,0,1,3
1,Delhi Capitals,Mumbai Indians,1,AR Patel,16,54,4,5,1,24
2,Delhi Capitals,Mumbai Indians,1,Abishek Porel,16,1,0,0,1,3
3,Delhi Capitals,Mumbai Indians,1,DA Warner,16,51,6,0,1,47
4,Delhi Capitals,Mumbai Indians,1,Kuldeep Yadav,16,0,0,0,1,1

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(13, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,A Nortje,Delhi Capitals,Mumbai Indians,2,16,35,24,0,1
1,AR Patel,Delhi Capitals,Mumbai Indians,2,16,19,24,0,1
2,Arshad Khan,Mumbai Indians,Delhi Capitals,1,16,11,6,0,2
3,C Green,Mumbai Indians,Delhi Capitals,1,16,29,18,0,2
4,HR Shokeen,Mumbai Indians,Delhi Capitals,1,16,37,24,1,2

(13, 9)
(17, 10)
(23, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Delhi Capitals,Mumbai Indians,1,A Nortje,16,5.0,1.0,0.0,1.0,3.0,Delhi Capitals,Mumbai Indians,2.0,35.0,24.0,0.0
1,Delhi Capitals,Mumbai Indians,1,AR Patel,16,54.0,4.0,5.0,1.0,24.0,Delhi Capitals,Mumbai Indians,2.0,19.0,24.0,0.0
2,Delhi Capitals,Mumbai Indians,1,Abishek Porel,16,1.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Delhi Capitals,Mumbai Indians,1,DA Warner,16,51.0,6.0,0.0,1.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Delhi Capitals,Mumbai Indians,1,Kuldeep Yadav,16,0.0,0.0,0.0,1.0,1.0,Delhi Capitals,Mumbai Indians,2.0,23.0,12.0,0.0
5,Delhi Capitals,Mumbai Indians,1,Lalit Yadav,16,2.0,0.0,0.0,1.0,4.0,Delhi Capitals,Mumbai Indians,2.0,22.0,24.0,1.0
6,Delhi Capitals,Mumbai Indians,1,MK Pandey,16,26.0,5.0,0.0,1.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Delhi Capitals,Mumbai Indians,1,Mustafizur Rahman,16,1.0,0.0,0.0,0.0,1.0,Delhi Capitals,Mumbai Indians,2.0,38.0,24.0,1.0
8,Delhi Capitals,Mumbai Indians,1,PP Shaw,16,15.0,3.0,0.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Delhi Capitals,Mumbai Indians,1,R Powell,16,4.0,1.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Delhi Capitals,Mumbai Indians,1,YV Dhull,16,2.0,0.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,Mukesh Kumar,16,NaN,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians,2.0,30.0,12.0,2.0
19,NaN,NaN,2,JP Behrendorff,16,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,1.0,23.0,18.0,4.0
18,NaN,NaN,2,HR Shokeen,16,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,1.0,37.0,24.0,1.0
17,NaN,NaN,2,Arshad Khan,16,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,1.0,11.0,6.0,0.0
16,Mumbai Indians,Delhi Capitals,2,Tilak Varma,16,41.0,1.0,4.0,1.0,29.0,Mumbai Indians,Delhi Capitals,1.0,6.0,6.0,0.0
11,Mumbai Indians,Delhi Capitals,2,C Green,16,17.0,1.0,1.0,0.0,8.0,Mumbai Indians,Delhi Capitals,1.0,29.0,18.0,0.0
14,Mumbai Indians,Delhi Capitals,2,SA Yadav,16,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Mumbai Indians,Delhi Capitals,2,RG Sharma,16,65.0,6.0,4.0,1.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Mumbai Indians,Delhi Capitals,2,Ishan Kishan,16,31.0,6.0,0.0,1.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,2,PP Chawla,16,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,1.0,22.0,24.0,3.0
15,Mumbai Indians,Delhi Capitals,2,TH David,16,13.0,0.0,1.0,0.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,2,RP Meredith,16,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,1.0,33.0,22.0,2.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Delhi Capitals,Mumbai Indians,1,A Nortje,16,5.0,1.0,0.0,1.0,3.0,...,2.0,35.0,24.0,0.0,2023,T20,2023_04_11,Delhi,Delhi Capitals_v_Mumbai Indians,Delhi Capitals
1,Delhi Capitals,Mumbai Indians,1,AR Patel,16,54.0,4.0,5.0,1.0,24.0,...,2.0,19.0,24.0,0.0,2023,T20,2023_04_11,Delhi,Delhi Capitals_v_Mumbai Indians,Delhi Capitals
2,Delhi Capitals,Mumbai Indians,1,Abishek Porel,16,1.0,0.0,0.0,1.0,3.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_11,Delhi,Delhi Capitals_v_Mumbai Indians,Delhi Capitals
3,Delhi Capitals,Mumbai Indians,1,DA Warner,16,51.0,6.0,0.0,1.0,47.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_11,Delhi,Delhi Capitals_v_Mumbai Indians,Delhi Capitals
4,Delhi Capitals,Mumbai Indians,1,Kuldeep Yadav,16,0.0,0.0,0.0,1.0,1.0,...,2.0,23.0,12.0,0.0,2023,T20,2023_04_11,Delhi,Delhi Capitals_v_Mumbai Indians,Delhi Capitals

1359490_T20_2023_16_2023_04_11_Delhi Capitals_v_Mumbai Indians.csv
1359491
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359491.json
[17, '2023', 'T20', '2023_04_12', 'Chennai', 'Rajasthan Royals_v_Chennai Super Kings']
['Rajasthan Royals', 'Chennai Super Kings']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(17, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Chennai Super Kings,Rajasthan Royals,2,AM Rahane,17,31,2,1,1,19
1,Chennai Super Kings,Rajasthan Royals,2,AT Rayudu,17,1,0,0,1,2
2,Chennai Super Kings,Rajasthan Royals,2,DP Conway,17,50,6,0,1,38
3,Chennai Super Kings,Rajasthan Royals,2,MM Ali,17,7,0,0,1,10
4,Chennai Super Kings,Rajasthan Royals,2,MS Dhoni,17,32,1,3,0,17

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,A Zampa,Rajasthan Royals,Chennai Super Kings,2,17,41,24,1,1
1,Akash Singh,Chennai Super Kings,Rajasthan Royals,1,17,39,24,2,2
2,JO Holder,Rajasthan Royals,Chennai Super Kings,2,17,36,18,0,1
3,KR Sen,Rajasthan Royals,Chennai Super Kings,2,17,8,12,0,1
4,M Theekshana,Chennai Super Kings,Rajasthan Royals,1,17,42,24,0,2

(12, 9)
(17, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Rajasthan Royals,Chennai Super Kings,1,JC Buttler,17,52.0,1.0,3.0,1.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,1,Sandeep Sharma,17,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Chennai Super Kings,2.0,28.0,18.0,1.0
18,NaN,NaN,1,KR Sen,17,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Chennai Super Kings,2.0,8.0,12.0,0.0
16,Rajasthan Royals,Chennai Super Kings,1,YBK Jaiswal,17,10.0,2.0,0.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Rajasthan Royals,Chennai Super Kings,1,SV Samson,17,0.0,0.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Rajasthan Royals,Chennai Super Kings,1,SO Hetmyer,17,30.0,2.0,2.0,0.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Rajasthan Royals,Chennai Super Kings,1,R Ashwin,17,30.0,1.0,2.0,1.0,22.0,Rajasthan Royals,Chennai Super Kings,2.0,23.0,24.0,2.0
12,Rajasthan Royals,Chennai Super Kings,1,JO Holder,17,0.0,0.0,0.0,1.0,1.0,Rajasthan Royals,Chennai Super Kings,2.0,36.0,18.0,0.0
10,Rajasthan Royals,Chennai Super Kings,1,Dhruv Jurel,17,4.0,0.0,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,1,YS Chahal,17,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Chennai Super Kings,2.0,26.0,24.0,2.0
8,Rajasthan Royals,Chennai Super Kings,1,A Zampa,17,1.0,0.0,0.0,1.0,1.0,Rajasthan Royals,Chennai Super Kings,2.0,41.0,24.0,1.0
9,Rajasthan Royals,Chennai Super Kings,1,D Padikkal,17,38.0,5.0,0.0,1.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,2,TU Deshpande,17,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals,1.0,36.0,24.0,3.0
7,Chennai Super Kings,Rajasthan Royals,2,S Dube,17,8.0,1.0,0.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Chennai Super Kings,Rajasthan Royals,2,RD Gaikwad,17,8.0,1.0,0.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Chennai Super Kings,Rajasthan Royals,2,RA Jadeja,17,25.0,1.0,2.0,0.0,15.0,Chennai Super Kings,Rajasthan Royals,1.0,14.0,24.0,2.0
4,Chennai Super Kings,Rajasthan Royals,2,MS Dhoni,17,32.0,1.0,3.0,0.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Chennai Super Kings,Rajasthan Royals,2,MM Ali,17,7.0,0.0,0.0,1.0,10.0,Chennai Super Kings,Rajasthan Royals,1.0,21.0,12.0,1.0
17,NaN,NaN,2,Akash Singh,17,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals,1.0,39.0,24.0,2.0
2,Chennai Super Kings,Rajasthan Royals,2,DP Conway,17,50.0,6.0,0.0,1.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,2,M Theekshana,17,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals,1.0,42.0,24.0,0.0
20,NaN,NaN,2,SSB Magala,17,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals,1.0,13.0,12.0,0.0
1,Chennai Super Kings,Rajasthan Royals,2,AT Rayudu,17,1.0,0.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Chennai Super Kings,Rajasthan Royals,2,AM Rahane,17,31.0,2.0,1.0,1.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Chennai Super Kings,Rajasthan Royals,2,AM Rahane,17,31.0,2.0,1.0,1.0,19.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_12,Chennai,Rajasthan Royals_v_Chennai Super Kings,Chennai Super Kings
1,Chennai Super Kings,Rajasthan Royals,2,AT Rayudu,17,1.0,0.0,0.0,1.0,2.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_12,Chennai,Rajasthan Royals_v_Chennai Super Kings,Chennai Super Kings
2,Chennai Super Kings,Rajasthan Royals,2,DP Conway,17,50.0,6.0,0.0,1.0,38.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_12,Chennai,Rajasthan Royals_v_Chennai Super Kings,Chennai Super Kings
3,Chennai Super Kings,Rajasthan Royals,2,MM Ali,17,7.0,0.0,0.0,1.0,10.0,...,1.0,21.0,12.0,1.0,2023,T20,2023_04_12,Chennai,Rajasthan Royals_v_Chennai Super Kings,Chennai Super Kings
4,Chennai Super Kings,Rajasthan Royals,2,MS Dhoni,17,32.0,1.0,3.0,0.0,17.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_12,Chennai,Rajasthan Royals_v_Chennai Super Kings,Chennai Super Kings

1359491_T20_2023_17_2023_04_12_Rajasthan Royals_v_Chennai Super Kings.csv
1359492
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359492.json
[18, '2023', 'T20', '2023_04_13', 'Chandigarh', 'Punjab Kings_v_Gujarat Titans']
['Punjab Kings', 'Gujarat Titans']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(15, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Gujarat Titans,Punjab Kings,2,B Sai Sudharsan,18,19,2,0,1,20
1,Gujarat Titans,Punjab Kings,2,DA Miller,18,17,1,0,0,18
2,Gujarat Titans,Punjab Kings,2,HH Pandya,18,8,1,0,1,11
3,Gujarat Titans,Punjab Kings,2,R Tewatia,18,5,1,0,0,2
4,Gujarat Titans,Punjab Kings,2,Shubman Gill,18,67,7,1,1,49

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(11, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,AS Joseph,Gujarat Titans,Punjab Kings,1,18,27,24,1,2
1,Arshdeep Singh,Punjab Kings,Gujarat Titans,2,18,33,24,1,1
2,Harpreet Brar,Punjab Kings,Gujarat Titans,2,18,20,24,1,1
3,J Little,Gujarat Titans,Punjab Kings,1,18,28,24,3,2
4,K Rabada,Punjab Kings,Gujarat Titans,2,18,36,24,1,1

(11, 9)
(15, 10)
(23, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Punjab Kings,Gujarat Titans,1,PBB Rajapaksa,18,20.0,1.0,0.0,1.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,1,K Rabada,18,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Gujarat Titans,2.0,36.0,24.0,1.0
16,NaN,NaN,1,Arshdeep Singh,18,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Gujarat Titans,2.0,33.0,24.0,1.0
6,Punjab Kings,Gujarat Titans,1,Harpreet Brar,18,8.0,0.0,1.0,1.0,5.0,Punjab Kings,Gujarat Titans,2.0,20.0,24.0,1.0
7,Punjab Kings,Gujarat Titans,1,JM Sharma,18,25.0,5.0,0.0,1.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Punjab Kings,Gujarat Titans,1,M Shahrukh Khan,18,22.0,1.0,2.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Punjab Kings,Gujarat Titans,1,MW Short,18,36.0,6.0,1.0,1.0,24.0,Punjab Kings,Gujarat Titans,2.0,8.0,6.0,0.0
10,Punjab Kings,Gujarat Titans,1,P Simran Singh,18,0.0,0.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,1,RD Chahar,18,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Gujarat Titans,2.0,24.0,18.0,0.0
12,Punjab Kings,Gujarat Titans,1,R Dhawan,18,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Punjab Kings,Gujarat Titans,1,S Dhawan,18,8.0,2.0,0.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Punjab Kings,Gujarat Titans,1,SM Curran,18,22.0,1.0,1.0,1.0,22.0,Punjab Kings,Gujarat Titans,2.0,25.0,23.0,1.0
20,NaN,NaN,2,Mohammed Shami,18,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Punjab Kings,1.0,43.0,24.0,1.0
19,NaN,NaN,2,MM Sharma,18,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Punjab Kings,1.0,18.0,24.0,2.0
17,NaN,NaN,2,J Little,18,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Punjab Kings,1.0,28.0,24.0,3.0
0,Gujarat Titans,Punjab Kings,2,B Sai Sudharsan,18,19.0,2.0,0.0,1.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Gujarat Titans,Punjab Kings,2,WP Saha,18,30.0,5.0,0.0,1.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Gujarat Titans,Punjab Kings,2,Shubman Gill,18,67.0,7.0,1.0,1.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Gujarat Titans,Punjab Kings,2,R Tewatia,18,5.0,1.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Gujarat Titans,Punjab Kings,2,HH Pandya,18,8.0,1.0,0.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Gujarat Titans,Punjab Kings,2,DA Miller,18,17.0,1.0,0.0,0.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,2,AS Joseph,18,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Punjab Kings,1.0,27.0,24.0,1.0
22,NaN,NaN,2,Rashid Khan,18,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Punjab Kings,1.0,26.0,24.0,1.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Gujarat Titans,Punjab Kings,2,B Sai Sudharsan,18,19.0,2.0,0.0,1.0,20.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_13,Chandigarh,Punjab Kings_v_Gujarat Titans,Gujarat Titans
1,Gujarat Titans,Punjab Kings,2,DA Miller,18,17.0,1.0,0.0,0.0,18.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_13,Chandigarh,Punjab Kings_v_Gujarat Titans,Gujarat Titans
2,Gujarat Titans,Punjab Kings,2,HH Pandya,18,8.0,1.0,0.0,1.0,11.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_13,Chandigarh,Punjab Kings_v_Gujarat Titans,Gujarat Titans
3,Gujarat Titans,Punjab Kings,2,R Tewatia,18,5.0,1.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_13,Chandigarh,Punjab Kings_v_Gujarat Titans,Gujarat Titans
4,Gujarat Titans,Punjab Kings,2,Shubman Gill,18,67.0,7.0,1.0,1.0,49.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_13,Chandigarh,Punjab Kings_v_Gujarat Titans,Gujarat Titans

1359492_T20_2023_18_2023_04_13_Punjab Kings_v_Gujarat Titans.csv
1359493
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359493.json
[19, '2023', 'T20', '2023_04_14', 'Kolkata', 'Sunrisers Hyderabad_v_Kolkata Knight Riders']
['Sunrisers Hyderabad', 'Kolkata Knight Riders']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(15, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Kolkata Knight Riders,Sunrisers Hyderabad,2,AD Russell,19,3,0,0,1,6
1,Kolkata Knight Riders,Sunrisers Hyderabad,2,N Jagadeesan,19,36,5,1,1,21
2,Kolkata Knight Riders,Sunrisers Hyderabad,2,N Rana,19,75,5,6,1,40
3,Kolkata Knight Riders,Sunrisers Hyderabad,2,RK Singh,19,58,4,4,0,30
4,Kolkata Knight Riders,Sunrisers Hyderabad,2,Rahmanullah Gurbaz,19,0,0,0,1,3

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(13, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,AD Russell,Kolkata Knight Riders,Sunrisers Hyderabad,1,19,20,13,3,2
1,B Kumar,Sunrisers Hyderabad,Kolkata Knight Riders,2,19,28,24,1,1
2,CV Varun,Kolkata Knight Riders,Sunrisers Hyderabad,1,19,40,24,1,2
3,LH Ferguson,Kolkata Knight Riders,Sunrisers Hyderabad,1,19,31,12,0,2
4,M Jansen,Sunrisers Hyderabad,Kolkata Knight Riders,2,19,31,24,2,1

(13, 9)
(15, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Sunrisers Hyderabad,Kolkata Knight Riders,1,H Klaasen,19,16.0,2.0,1.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,1,T Natarajan,19,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Kolkata Knight Riders,2.0,53.0,24.0,1.0
19,NaN,NaN,1,M Markande,19,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Kolkata Knight Riders,2.0,27.0,24.0,2.0
18,NaN,NaN,1,M Jansen,19,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Kolkata Knight Riders,2.0,31.0,24.0,2.0
15,NaN,NaN,1,B Kumar,19,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Kolkata Knight Riders,2.0,28.0,24.0,1.0
14,Sunrisers Hyderabad,Kolkata Knight Riders,1,RA Tripathi,19,9.0,2.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Sunrisers Hyderabad,Kolkata Knight Riders,1,MA Agarwal,19,9.0,0.0,0.0,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Sunrisers Hyderabad,Kolkata Knight Riders,1,HC Brook,19,100.0,12.0,3.0,0.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,1,Umran Malik,19,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Kolkata Knight Riders,2.0,36.0,12.0,1.0
10,Sunrisers Hyderabad,Kolkata Knight Riders,1,Abhishek Sharma,19,32.0,3.0,2.0,1.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,1,Washington Sundar,19,NaN,NaN,NaN,NaN,NaN,Sunrisers Hyderabad,Kolkata Knight Riders,2.0,20.0,12.0,0.0
9,Sunrisers Hyderabad,Kolkata Knight Riders,1,AK Markram,19,50.0,2.0,5.0,1.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Kolkata Knight Riders,Sunrisers Hyderabad,2,VR Iyer,19,10.0,2.0,0.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Kolkata Knight Riders,Sunrisers Hyderabad,2,UT Yadav,19,1.0,0.0,0.0,0.0,1.0,Kolkata Knight Riders,Sunrisers Hyderabad,1.0,41.0,18.0,0.0
6,Kolkata Knight Riders,Sunrisers Hyderabad,2,SP Narine,19,0.0,0.0,0.0,1.0,1.0,Kolkata Knight Riders,Sunrisers Hyderabad,1.0,26.0,24.0,0.0
5,Kolkata Knight Riders,Sunrisers Hyderabad,2,SN Thakur,19,12.0,2.0,0.0,1.0,7.0,Kolkata Knight Riders,Sunrisers Hyderabad,1.0,14.0,5.0,0.0
4,Kolkata Knight Riders,Sunrisers Hyderabad,2,Rahmanullah Gurbaz,19,0.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,2,CV Varun,19,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Sunrisers Hyderabad,1.0,40.0,24.0,1.0
17,NaN,NaN,2,LH Ferguson,19,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Sunrisers Hyderabad,1.0,31.0,12.0,0.0
3,Kolkata Knight Riders,Sunrisers Hyderabad,2,RK Singh,19,58.0,4.0,4.0,0.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Kolkata Knight Riders,Sunrisers Hyderabad,2,N Rana,19,75.0,5.0,6.0,1.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,2,Suyash Sharma,19,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Sunrisers Hyderabad,1.0,44.0,24.0,0.0
1,Kolkata Knight Riders,Sunrisers Hyderabad,2,N Jagadeesan,19,36.0,5.0,1.0,1.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Kolkata Knight Riders,Sunrisers Hyderabad,2,AD Russell,19,3.0,0.0,0.0,1.0,6.0,Kolkata Knight Riders,Sunrisers Hyderabad,1.0,20.0,13.0,3.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Kolkata Knight Riders,Sunrisers Hyderabad,2,AD Russell,19,3.0,0.0,0.0,1.0,6.0,...,1.0,20.0,13.0,3.0,2023,T20,2023_04_14,Kolkata,Sunrisers Hyderabad_v_Kolkata Knight Riders,Kolkata Knight Riders
1,Kolkata Knight Riders,Sunrisers Hyderabad,2,N Jagadeesan,19,36.0,5.0,1.0,1.0,21.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_14,Kolkata,Sunrisers Hyderabad_v_Kolkata Knight Riders,Kolkata Knight Riders
2,Kolkata Knight Riders,Sunrisers Hyderabad,2,N Rana,19,75.0,5.0,6.0,1.0,40.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_14,Kolkata,Sunrisers Hyderabad_v_Kolkata Knight Riders,Kolkata Knight Riders
3,Kolkata Knight Riders,Sunrisers Hyderabad,2,RK Singh,19,58.0,4.0,4.0,0.0,30.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_14,Kolkata,Sunrisers Hyderabad_v_Kolkata Knight Riders,Kolkata Knight Riders
4,Kolkata Knight Riders,Sunrisers Hyderabad,2,Rahmanullah Gurbaz,19,0.0,0.0,0.0,1.0,3.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_14,Kolkata,Sunrisers Hyderabad_v_Kolkata Knight Riders,Kolkata Knight Riders

1359493_T20_2023_19_2023_04_14_Sunrisers Hyderabad_v_Kolkata Knight Riders.csv
1359494
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359494.json
[20, '2023', 'T20', '2023_04_15', 'Bengaluru', 'Royal Challengers Bangalore_v_Delhi Capitals']
['Royal Challengers Bangalore', 'Delhi Capitals']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(19, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Delhi Capitals,Royal Challengers Bangalore,2,A Nortje,20,23,4,0,0,14
1,Delhi Capitals,Royal Challengers Bangalore,2,AR Patel,20,21,3,0,1,14
2,Delhi Capitals,Royal Challengers Bangalore,2,Abishek Porel,20,5,0,0,1,8
3,Delhi Capitals,Royal Challengers Bangalore,2,Aman Hakim Khan,20,18,1,1,1,10
4,Delhi Capitals,Royal Challengers Bangalore,2,DA Warner,20,19,4,0,1,13

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,A Nortje,Delhi Capitals,Royal Challengers Bangalore,1,20,28,24,0,2
1,AR Patel,Delhi Capitals,Royal Challengers Bangalore,1,20,25,18,1,2
2,HV Patel,Royal Challengers Bangalore,Delhi Capitals,2,20,29,24,1,1
3,Kuldeep Yadav,Delhi Capitals,Royal Challengers Bangalore,1,20,23,24,2,2
4,Lalit Yadav,Delhi Capitals,Royal Challengers Bangalore,1,20,28,24,1,2

(12, 9)
(19, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
11,Royal Challengers Bangalore,Delhi Capitals,1,Anuj Rawat,20,15.0,1.0,0.0,0.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,1,PWH de Silva,20,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals,2.0,37.0,18.0,1.0
19,NaN,NaN,1,Mohammed Siraj,20,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals,2.0,23.0,24.0,3.0
18,Royal Challengers Bangalore,Delhi Capitals,1,V Kohli,20,50.0,6.0,1.0,1.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN
17,Royal Challengers Bangalore,Delhi Capitals,1,Shahbaz Ahmed,20,20.0,3.0,0.0,0.0,12.0,Royal Challengers Bangalore,Delhi Capitals,2.0,11.0,6.0,0.0
16,Royal Challengers Bangalore,Delhi Capitals,1,MK Lomror,20,26.0,0.0,2.0,1.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Royal Challengers Bangalore,Delhi Capitals,1,KD Karthik,20,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Royal Challengers Bangalore,Delhi Capitals,1,HV Patel,20,6.0,0.0,1.0,1.0,4.0,Royal Challengers Bangalore,Delhi Capitals,2.0,29.0,24.0,1.0
13,Royal Challengers Bangalore,Delhi Capitals,1,GJ Maxwell,20,24.0,0.0,3.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Royal Challengers Bangalore,Delhi Capitals,1,F du Plessis,20,22.0,3.0,1.0,1.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,1,Vijaykumar Vyshak,20,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals,2.0,20.0,24.0,3.0
23,NaN,NaN,1,WD Parnell,20,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Delhi Capitals,2.0,28.0,24.0,1.0
9,Delhi Capitals,Royal Challengers Bangalore,2,PP Shaw,20,0.0,0.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Delhi Capitals,Royal Challengers Bangalore,2,MR Marsh,20,0.0,0.0,0.0,1.0,4.0,Delhi Capitals,Royal Challengers Bangalore,1.0,18.0,12.0,2.0
7,Delhi Capitals,Royal Challengers Bangalore,2,MK Pandey,20,50.0,5.0,1.0,1.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Delhi Capitals,Royal Challengers Bangalore,2,Lalit Yadav,20,4.0,0.0,0.0,1.0,7.0,Delhi Capitals,Royal Challengers Bangalore,1.0,28.0,24.0,1.0
5,Delhi Capitals,Royal Challengers Bangalore,2,Kuldeep Yadav,20,7.0,1.0,0.0,0.0,6.0,Delhi Capitals,Royal Challengers Bangalore,1.0,23.0,24.0,2.0
4,Delhi Capitals,Royal Challengers Bangalore,2,DA Warner,20,19.0,4.0,0.0,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Delhi Capitals,Royal Challengers Bangalore,2,Aman Hakim Khan,20,18.0,1.0,1.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Delhi Capitals,Royal Challengers Bangalore,2,Abishek Porel,20,5.0,0.0,0.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,2,Mustafizur Rahman,20,NaN,NaN,NaN,NaN,NaN,Delhi Capitals,Royal Challengers Bangalore,1.0,41.0,18.0,0.0
1,Delhi Capitals,Royal Challengers Bangalore,2,AR Patel,20,21.0,3.0,0.0,1.0,14.0,Delhi Capitals,Royal Challengers Bangalore,1.0,25.0,18.0,1.0
10,Delhi Capitals,Royal Challengers Bangalore,2,YV Dhull,20,1.0,0.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
0,Delhi Capitals,Royal Challengers Bangalore,2,A Nortje,20,23.0,4.0,0.0,0.0,14.0,Delhi Capitals,Royal Challengers Bangalore,1.0,28.0,24.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Delhi Capitals,Royal Challengers Bangalore,2,A Nortje,20,23.0,4.0,0.0,0.0,14.0,...,1.0,28.0,24.0,0.0,2023,T20,2023_04_15,Bengaluru,Royal Challengers Bangalore_v_Delhi Capitals,Delhi Capitals
1,Delhi Capitals,Royal Challengers Bangalore,2,AR Patel,20,21.0,3.0,0.0,1.0,14.0,...,1.0,25.0,18.0,1.0,2023,T20,2023_04_15,Bengaluru,Royal Challengers Bangalore_v_Delhi Capitals,Delhi Capitals
2,Delhi Capitals,Royal Challengers Bangalore,2,Abishek Porel,20,5.0,0.0,0.0,1.0,8.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_15,Bengaluru,Royal Challengers Bangalore_v_Delhi Capitals,Delhi Capitals
3,Delhi Capitals,Royal Challengers Bangalore,2,Aman Hakim Khan,20,18.0,1.0,1.0,1.0,10.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_15,Bengaluru,Royal Challengers Bangalore_v_Delhi Capitals,Delhi Capitals
4,Delhi Capitals,Royal Challengers Bangalore,2,DA Warner,20,19.0,4.0,0.0,1.0,13.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_15,Bengaluru,Royal Challengers Bangalore_v_Delhi Capitals,Delhi Capitals

1359494_T20_2023_20_2023_04_15_Royal Challengers Bangalore_v_Delhi Capitals.csv
1359495
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359495.json
[21, '2023', 'T20', '2023_04_15', 'Lucknow', 'Lucknow Super Giants_v_Punjab Kings']
['Lucknow Super Giants', 'Punjab Kings']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(20, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Lucknow Super Giants,Punjab Kings,1,A Badoni,21,5,0,0,0,6
1,Lucknow Super Giants,Punjab Kings,1,DJ Hooda,21,2,0,0,1,3
2,Lucknow Super Giants,Punjab Kings,1,K Gowtham,21,1,0,0,1,2
3,Lucknow Super Giants,Punjab Kings,1,KH Pandya,21,18,2,0,1,16
4,Lucknow Super Giants,Punjab Kings,1,KL Rahul,21,74,8,1,1,56

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(13, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Arshdeep Singh,Punjab Kings,Lucknow Super Giants,1,21,21,18,1,2
1,Avesh Khan,Lucknow Super Giants,Punjab Kings,2,21,23,18,0,1
2,Harpreet Brar,Punjab Kings,Lucknow Super Giants,1,21,10,12,1,2
3,K Gowtham,Lucknow Super Giants,Punjab Kings,2,21,30,24,1,1
4,K Rabada,Punjab Kings,Lucknow Super Giants,1,21,32,24,2,2

(13, 9)
(20, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Lucknow Super Giants,Punjab Kings,1,A Badoni,21,5.0,0.0,0.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Lucknow Super Giants,Punjab Kings,1,DJ Hooda,21,2.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Lucknow Super Giants,Punjab Kings,1,K Gowtham,21,1.0,0.0,0.0,1.0,2.0,Lucknow Super Giants,Punjab Kings,2.0,30.0,24.0,1.0
3,Lucknow Super Giants,Punjab Kings,1,KH Pandya,21,18.0,2.0,0.0,1.0,16.0,Lucknow Super Giants,Punjab Kings,2.0,32.0,18.0,1.0
4,Lucknow Super Giants,Punjab Kings,1,KL Rahul,21,74.0,8.0,1.0,1.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Lucknow Super Giants,Punjab Kings,1,KR Mayers,21,29.0,1.0,3.0,1.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Lucknow Super Giants,Punjab Kings,1,MP Stoinis,21,15.0,0.0,2.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Lucknow Super Giants,Punjab Kings,1,N Pooran,21,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Lucknow Super Giants,Punjab Kings,1,Ravi Bishnoi,21,3.0,0.0,0.0,0.0,1.0,Lucknow Super Giants,Punjab Kings,2.0,17.0,15.0,2.0
9,Lucknow Super Giants,Punjab Kings,1,Yudhvir Singh,21,0.0,0.0,0.0,1.0,1.0,Lucknow Super Giants,Punjab Kings,2.0,19.0,18.0,2.0
21,NaN,NaN,1,Avesh Khan,21,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Punjab Kings,2.0,23.0,18.0,0.0
22,NaN,NaN,1,MA Wood,21,NaN,NaN,NaN,NaN,NaN,Lucknow Super Giants,Punjab Kings,2.0,33.0,24.0,2.0
20,NaN,NaN,2,Arshdeep Singh,21,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Lucknow Super Giants,1.0,21.0,18.0,1.0
19,Punjab Kings,Lucknow Super Giants,2,Sikandar Raza,21,57.0,4.0,3.0,1.0,41.0,Punjab Kings,Lucknow Super Giants,1.0,18.0,12.0,1.0
18,Punjab Kings,Lucknow Super Giants,2,SM Curran,21,6.0,1.0,0.0,1.0,6.0,Punjab Kings,Lucknow Super Giants,1.0,29.0,24.0,3.0
17,Punjab Kings,Lucknow Super Giants,2,P Simran Singh,21,4.0,1.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Punjab Kings,Lucknow Super Giants,2,Harpreet Brar,21,6.0,1.0,0.0,1.0,4.0,Punjab Kings,Lucknow Super Giants,1.0,10.0,12.0,1.0
15,Punjab Kings,Lucknow Super Giants,2,M Shahrukh Khan,21,23.0,1.0,2.0,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Punjab Kings,Lucknow Super Giants,2,K Rabada,21,0.0,0.0,0.0,0.0,1.0,Punjab Kings,Lucknow Super Giants,1.0,32.0,24.0,2.0
13,Punjab Kings,Lucknow Super Giants,2,JM Sharma,21,2.0,0.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Punjab Kings,Lucknow Super Giants,2,Harpreet Singh,21,22.0,3.0,0.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Punjab Kings,Lucknow Super Giants,2,Atharva Taide,21,0.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
16,Punjab Kings,Lucknow Super Giants,2,MW Short,21,34.0,5.0,1.0,1.0,22.0,Punjab Kings,Lucknow Super Giants,1.0,10.0,12.0,0.0
23,NaN,NaN,2,RD Chahar,21,NaN,NaN,NaN,NaN,NaN,Punjab Kings,Lucknow Super Giants,1.0,27.0,18.0,0.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Lucknow Super Giants,Punjab Kings,1,A Badoni,21,5.0,0.0,0.0,0.0,6.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_15,Lucknow,Lucknow Super Giants_v_Punjab Kings,Lucknow Super Giants
1,Lucknow Super Giants,Punjab Kings,1,DJ Hooda,21,2.0,0.0,0.0,1.0,3.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_15,Lucknow,Lucknow Super Giants_v_Punjab Kings,Lucknow Super Giants
2,Lucknow Super Giants,Punjab Kings,1,K Gowtham,21,1.0,0.0,0.0,1.0,2.0,...,2.0,30.0,24.0,1.0,2023,T20,2023_04_15,Lucknow,Lucknow Super Giants_v_Punjab Kings,Lucknow Super Giants
3,Lucknow Super Giants,Punjab Kings,1,KH Pandya,21,18.0,2.0,0.0,1.0,16.0,...,2.0,32.0,18.0,1.0,2023,T20,2023_04_15,Lucknow,Lucknow Super Giants_v_Punjab Kings,Lucknow Super Giants
4,Lucknow Super Giants,Punjab Kings,1,KL Rahul,21,74.0,8.0,1.0,1.0,56.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_15,Lucknow,Lucknow Super Giants_v_Punjab Kings,Lucknow Super Giants

1359495_T20_2023_21_2023_04_15_Lucknow Super Giants_v_Punjab Kings.csv
1359496
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359496.json
[22, '2023', 'T20', '2023_04_16', 'Mumbai', 'Kolkata Knight Riders_v_Mumbai Indians']
['Kolkata Knight Riders', 'Mumbai Indians']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 18
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(15, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Kolkata Knight Riders,Mumbai Indians,1,AD Russell,22,21,3,1,0,11
1,Kolkata Knight Riders,Mumbai Indians,1,N Jagadeesan,22,0,0,0,1,5
2,Kolkata Knight Riders,Mumbai Indians,1,N Rana,22,5,0,0,1,10
3,Kolkata Knight Riders,Mumbai Indians,1,RK Singh,22,18,2,0,1,18
4,Kolkata Knight Riders,Mumbai Indians,1,Rahmanullah Gurbaz,22,8,0,0,1,12

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(13, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,AD Russell,Kolkata Knight Riders,Mumbai Indians,2,22,17,6,0,1
1,Arjun Tendulkar,Mumbai Indians,Kolkata Knight Riders,1,22,16,12,0,2
2,C Green,Mumbai Indians,Kolkata Knight Riders,1,22,14,12,1,2
3,CV Varun,Kolkata Knight Riders,Mumbai Indians,2,22,37,24,1,1
4,D Jansen,Mumbai Indians,Kolkata Knight Riders,1,22,49,24,1,2

(13, 9)
(15, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Kolkata Knight Riders,Mumbai Indians,1,AD Russell,22,21.0,3.0,1.0,0.0,11.0,Kolkata Knight Riders,Mumbai Indians,2.0,17.0,6.0,0.0
19,NaN,NaN,1,LH Ferguson,22,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Mumbai Indians,2.0,19.0,10.0,1.0
16,NaN,NaN,1,CV Varun,22,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Mumbai Indians,2.0,37.0,24.0,1.0
22,NaN,NaN,1,Suyash Sharma,22,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Mumbai Indians,2.0,27.0,24.0,2.0
7,Kolkata Knight Riders,Mumbai Indians,1,VR Iyer,22,104.0,6.0,9.0,1.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Kolkata Knight Riders,Mumbai Indians,1,SP Narine,22,2.0,0.0,0.0,0.0,2.0,Kolkata Knight Riders,Mumbai Indians,2.0,39.0,18.0,0.0
23,NaN,NaN,1,UT Yadav,22,NaN,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Mumbai Indians,2.0,19.0,12.0,0.0
4,Kolkata Knight Riders,Mumbai Indians,1,Rahmanullah Gurbaz,22,8.0,0.0,0.0,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Kolkata Knight Riders,Mumbai Indians,1,N Jagadeesan,22,0.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Kolkata Knight Riders,Mumbai Indians,1,RK Singh,22,18.0,2.0,0.0,1.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Kolkata Knight Riders,Mumbai Indians,1,N Rana,22,5.0,0.0,0.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Kolkata Knight Riders,Mumbai Indians,1,SN Thakur,22,13.0,1.0,0.0,1.0,11.0,Kolkata Knight Riders,Mumbai Indians,2.0,24.0,12.0,1.0
21,NaN,NaN,2,RP Meredith,22,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Kolkata Knight Riders,1.0,40.0,24.0,1.0
20,NaN,NaN,2,PP Chawla,22,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Kolkata Knight Riders,1.0,19.0,24.0,1.0
18,NaN,NaN,2,HR Shokeen,22,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Kolkata Knight Riders,1.0,33.0,24.0,2.0
17,NaN,NaN,2,D Jansen,22,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Kolkata Knight Riders,1.0,49.0,24.0,1.0
15,NaN,NaN,2,Arjun Tendulkar,22,NaN,NaN,NaN,NaN,NaN,Mumbai Indians,Kolkata Knight Riders,1.0,16.0,12.0,0.0
13,Mumbai Indians,Kolkata Knight Riders,2,TH David,22,24.0,1.0,2.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Mumbai Indians,Kolkata Knight Riders,2,SA Yadav,22,43.0,4.0,3.0,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Mumbai Indians,Kolkata Knight Riders,2,N Wadhera,22,6.0,1.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Mumbai Indians,Kolkata Knight Riders,2,Ishan Kishan,22,58.0,5.0,5.0,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Mumbai Indians,Kolkata Knight Riders,2,C Green,22,1.0,0.0,0.0,0.0,1.0,Mumbai Indians,Kolkata Knight Riders,1.0,14.0,12.0,1.0
14,Mumbai Indians,Kolkata Knight Riders,2,Tilak Varma,22,30.0,3.0,1.0,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Mumbai Indians,Kolkata Knight Riders,2,RG Sharma,22,20.0,1.0,2.0,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Kolkata Knight Riders,Mumbai Indians,1,AD Russell,22,21.0,3.0,1.0,0.0,11.0,...,2.0,17.0,6.0,0.0,2023,T20,2023_04_16,Mumbai,Kolkata Knight Riders_v_Mumbai Indians,Kolkata Knight Riders
1,Kolkata Knight Riders,Mumbai Indians,1,N Jagadeesan,22,0.0,0.0,0.0,1.0,5.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_16,Mumbai,Kolkata Knight Riders_v_Mumbai Indians,Kolkata Knight Riders
2,Kolkata Knight Riders,Mumbai Indians,1,N Rana,22,5.0,0.0,0.0,1.0,10.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_16,Mumbai,Kolkata Knight Riders_v_Mumbai Indians,Kolkata Knight Riders
3,Kolkata Knight Riders,Mumbai Indians,1,RK Singh,22,18.0,2.0,0.0,1.0,18.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_16,Mumbai,Kolkata Knight Riders_v_Mumbai Indians,Kolkata Knight Riders
4,Kolkata Knight Riders,Mumbai Indians,1,Rahmanullah Gurbaz,22,8.0,0.0,0.0,1.0,12.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_16,Mumbai,Kolkata Knight Riders_v_Mumbai Indians,Kolkata Knight Riders

1359496_T20_2023_22_2023_04_16_Kolkata Knight Riders_v_Mumbai Indians.csv
1359497
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359497.json
[23, '2023', 'T20', '2023_04_16', 'Ahmedabad', 'Gujarat Titans_v_Rajasthan Royals']
['Gujarat Titans', 'Rajasthan Royals']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(17, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Gujarat Titans,Rajasthan Royals,1,A Manohar,23,27,0,3,1,13
1,Gujarat Titans,Rajasthan Royals,1,B Sai Sudharsan,23,20,2,0,0,19
2,Gujarat Titans,Rajasthan Royals,1,DA Miller,23,46,3,2,1,30
3,Gujarat Titans,Rajasthan Royals,1,HH Pandya,23,28,3,1,1,19
4,Gujarat Titans,Rajasthan Royals,1,R Tewatia,23,1,0,0,0,1

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(11, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,A Zampa,Rajasthan Royals,Gujarat Titans,1,23,32,24,2,2
1,AS Joseph,Gujarat Titans,Rajasthan Royals,2,23,47,18,0,1
2,HH Pandya,Gujarat Titans,Rajasthan Royals,2,23,24,24,1,1
3,MM Sharma,Gujarat Titans,Rajasthan Royals,2,23,7,12,0,1
4,Mohammed Shami,Gujarat Titans,Rajasthan Royals,2,23,24,24,3,1

(11, 9)
(17, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Gujarat Titans,Rajasthan Royals,1,A Manohar,23,27.0,0.0,3.0,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Gujarat Titans,Rajasthan Royals,1,B Sai Sudharsan,23,20.0,2.0,0.0,0.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Gujarat Titans,Rajasthan Royals,1,DA Miller,23,46.0,3.0,2.0,1.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Gujarat Titans,Rajasthan Royals,1,HH Pandya,23,28.0,3.0,1.0,1.0,19.0,Gujarat Titans,Rajasthan Royals,2.0,24.0,24.0,1.0
4,Gujarat Titans,Rajasthan Royals,1,R Tewatia,23,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Gujarat Titans,Rajasthan Royals,1,Rashid Khan,23,1.0,0.0,0.0,1.0,1.0,Gujarat Titans,Rajasthan Royals,2.0,46.0,24.0,2.0
6,Gujarat Titans,Rajasthan Royals,1,Shubman Gill,23,45.0,4.0,1.0,2.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Gujarat Titans,Rajasthan Royals,1,WP Saha,23,4.0,1.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,1,Noor Ahmad,23,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,2.0,28.0,14.0,1.0
20,NaN,NaN,1,Mohammed Shami,23,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,2.0,24.0,24.0,3.0
19,NaN,NaN,1,MM Sharma,23,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,2.0,7.0,12.0,0.0
18,NaN,NaN,1,AS Joseph,23,NaN,NaN,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,2.0,47.0,18.0,0.0
17,NaN,NaN,2,A Zampa,23,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,1.0,32.0,24.0,2.0
16,Rajasthan Royals,Gujarat Titans,2,YBK Jaiswal,23,1.0,0.0,0.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Rajasthan Royals,Gujarat Titans,2,TA Boult,23,0.0,0.0,0.0,0.0,1.0,Rajasthan Royals,Gujarat Titans,1.0,44.0,24.0,1.0
11,Rajasthan Royals,Gujarat Titans,2,R Ashwin,23,10.0,1.0,1.0,1.0,3.0,Rajasthan Royals,Gujarat Titans,1.0,37.0,24.0,0.0
13,Rajasthan Royals,Gujarat Titans,2,SO Hetmyer,23,56.0,2.0,5.0,0.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Rajasthan Royals,Gujarat Titans,2,R Parag,23,5.0,0.0,0.0,1.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,2,Sandeep Sharma,23,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,1.0,24.0,24.0,3.0
10,Rajasthan Royals,Gujarat Titans,2,JC Buttler,23,0.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Rajasthan Royals,Gujarat Titans,2,Dhruv Jurel,23,18.0,2.0,1.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Rajasthan Royals,Gujarat Titans,2,D Padikkal,23,26.0,2.0,2.0,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Rajasthan Royals,Gujarat Titans,2,SV Samson,23,60.0,3.0,6.0,1.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,2,YS Chahal,23,NaN,NaN,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,1.0,35.0,24.0,1.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Gujarat Titans,Rajasthan Royals,1,A Manohar,23,27.0,0.0,3.0,1.0,13.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_16,Ahmedabad,Gujarat Titans_v_Rajasthan Royals,Gujarat Titans
1,Gujarat Titans,Rajasthan Royals,1,B Sai Sudharsan,23,20.0,2.0,0.0,0.0,19.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_16,Ahmedabad,Gujarat Titans_v_Rajasthan Royals,Gujarat Titans
2,Gujarat Titans,Rajasthan Royals,1,DA Miller,23,46.0,3.0,2.0,1.0,30.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_16,Ahmedabad,Gujarat Titans_v_Rajasthan Royals,Gujarat Titans
3,Gujarat Titans,Rajasthan Royals,1,HH Pandya,23,28.0,3.0,1.0,1.0,19.0,...,2.0,24.0,24.0,1.0,2023,T20,2023_04_16,Ahmedabad,Gujarat Titans_v_Rajasthan Royals,Gujarat Titans
4,Gujarat Titans,Rajasthan Royals,1,R Tewatia,23,1.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_16,Ahmedabad,Gujarat Titans_v_Rajasthan Royals,Gujarat Titans

1359497_T20_2023_23_2023_04_16_Gujarat Titans_v_Rajasthan Royals.csv
1359498
C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\ipl_json\1359498.json
[24, '2023', 'T20', '2023_04_17', 'Bengaluru', 'Chennai Super Kings_v_Royal Challengers Bangalore']
['Chennai Super Kings', 'Royal Challengers Bangalore']
<class 'list'>
Over in Innings is 20
<class 'list'>
Over in Innings is 20
['bat_tm', 'bow_tm', 'inn_bat', 'name', 'mnum', 'rs', 'four', 'six', 'out', 'bowf']
(17, 10)

,bat_tm,bow_tm,inn_bat,name,mnum,rs,four,six,out,bowf
0,Chennai Super Kings,Royal Challengers Bangalore,1,AM Rahane,24,37,3,2,1,20
1,Chennai Super Kings,Royal Challengers Bangalore,1,AT Rayudu,24,14,1,1,1,6
2,Chennai Super Kings,Royal Challengers Bangalore,1,DP Conway,24,83,6,6,1,45
3,Chennai Super Kings,Royal Challengers Bangalore,1,MM Ali,24,19,0,2,0,7
4,Chennai Super Kings,Royal Challengers Bangalore,1,MS Dhoni,24,1,0,0,0,1

['name', 'bow_tm', 'bat_tm', 'inn_bow', 'mnum', 'rc', 'balb', 'wkt']
(12, 8)

,name,bow_tm,bat_tm,inn_bow,mnum,rc,balb,wkt,inn_bat
0,Akash Singh,Chennai Super Kings,Royal Challengers Bangalore,2,24,35,18,1,1
1,GJ Maxwell,Royal Challengers Bangalore,Chennai Super Kings,1,24,27,16,1,2
2,HV Patel,Royal Challengers Bangalore,Chennai Super Kings,1,24,32,20,1,2
3,M Pathirana,Chennai Super Kings,Royal Challengers Bangalore,2,24,40,24,2,1
4,M Theekshana,Chennai Super Kings,Royal Challengers Bangalore,2,24,40,24,1,1

(12, 9)
(17, 10)
(24, 16)

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,bow_tm_inn2,bat_tm_inn2,inn_bow,rc,balb,wkt
0,Chennai Super Kings,Royal Challengers Bangalore,1,AM Rahane,24,37.0,3.0,2.0,1.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Chennai Super Kings,Royal Challengers Bangalore,1,AT Rayudu,24,14.0,1.0,1.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Chennai Super Kings,Royal Challengers Bangalore,1,DP Conway,24,83.0,6.0,6.0,1.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Chennai Super Kings,Royal Challengers Bangalore,1,MM Ali,24,19.0,0.0,2.0,0.0,7.0,Chennai Super Kings,Royal Challengers Bangalore,2.0,13.0,6.0,1.0
4,Chennai Super Kings,Royal Challengers Bangalore,1,MS Dhoni,24,1.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Chennai Super Kings,Royal Challengers Bangalore,1,RA Jadeja,24,10.0,0.0,1.0,1.0,8.0,Chennai Super Kings,Royal Challengers Bangalore,2.0,37.0,24.0,0.0
6,Chennai Super Kings,Royal Challengers Bangalore,1,RD Gaikwad,24,3.0,0.0,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Chennai Super Kings,Royal Challengers Bangalore,1,S Dube,24,52.0,2.0,5.0,1.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,1,M Theekshana,24,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore,2.0,40.0,24.0,1.0
19,NaN,NaN,1,M Pathirana,24,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore,2.0,40.0,24.0,2.0
22,NaN,NaN,1,TU Deshpande,24,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore,2.0,42.0,24.0,3.0
17,NaN,NaN,1,Akash Singh,24,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore,2.0,35.0,18.0,1.0
21,NaN,NaN,2,Mohammed Siraj,24,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Chennai Super Kings,1.0,29.0,24.0,1.0
18,NaN,NaN,2,HV Patel,24,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Chennai Super Kings,1.0,32.0,20.0,1.0
16,Royal Challengers Bangalore,Chennai Super Kings,2,WD Parnell,24,2.0,0.0,0.0,1.0,5.0,Royal Challengers Bangalore,Chennai Super Kings,1.0,48.0,24.0,1.0
11,Royal Challengers Bangalore,Chennai Super Kings,2,MK Lomror,24,0.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Royal Challengers Bangalore,Chennai Super Kings,2,Shahbaz Ahmed,24,12.0,0.0,1.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Royal Challengers Bangalore,Chennai Super Kings,2,SS Prabhudessai,24,19.0,0.0,2.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Royal Challengers Bangalore,Chennai Super Kings,2,PWH de Silva,24,2.0,0.0,0.0,0.0,2.0,Royal Challengers Bangalore,Chennai Super Kings,1.0,21.0,12.0,1.0
10,Royal Challengers Bangalore,Chennai Super Kings,2,KD Karthik,24,28.0,3.0,1.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Royal Challengers Bangalore,Chennai Super Kings,2,GJ Maxwell,24,76.0,3.0,8.0,1.0,36.0,Royal Challengers Bangalore,Chennai Super Kings,1.0,27.0,16.0,1.0
8,Royal Challengers Bangalore,Chennai Super Kings,2,F du Plessis,24,62.0,5.0,4.0,1.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Royal Challengers Bangalore,Chennai Super Kings,2,V Kohli,24,6.0,1.0,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,2,Vijaykumar Vyshak,24,NaN,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Chennai Super Kings,1.0,62.0,24.0,1.0

,bat_tm_inn1,bow_tm_inn1,inn_bat,name,mnum,rs,four,six,out,bowf,...,inn_bow,rc,balb,wkt,season,type,date,city,teams,team_nm
0,Chennai Super Kings,Royal Challengers Bangalore,1,AM Rahane,24,37.0,3.0,2.0,1.0,20.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_17,Bengaluru,Chennai Super Kings_v_Royal Challengers Bangalore,Chennai Super Kings
1,Chennai Super Kings,Royal Challengers Bangalore,1,AT Rayudu,24,14.0,1.0,1.0,1.0,6.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_17,Bengaluru,Chennai Super Kings_v_Royal Challengers Bangalore,Chennai Super Kings
2,Chennai Super Kings,Royal Challengers Bangalore,1,DP Conway,24,83.0,6.0,6.0,1.0,45.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_17,Bengaluru,Chennai Super Kings_v_Royal Challengers Bangalore,Chennai Super Kings
3,Chennai Super Kings,Royal Challengers Bangalore,1,MM Ali,24,19.0,0.0,2.0,0.0,7.0,...,2.0,13.0,6.0,1.0,2023,T20,2023_04_17,Bengaluru,Chennai Super Kings_v_Royal Challengers Bangalore,Chennai Super Kings
4,Chennai Super Kings,Royal Challengers Bangalore,1,MS Dhoni,24,1.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,2023,T20,2023_04_17,Bengaluru,Chennai Super Kings_v_Royal Challengers Bangalore,Chennai Super Kings

1359498_T20_2023_24_2023_04_17_Chennai Super Kings_v_Royal Challengers Bangalore.csv
335982
335983
335984
335985
335986
335987
335988
335989
335990
335991
335992
335993
335994
335995
335996
335997
335998
335999
336000
336001
336002
336003
336004
336005
336006
336007
336008
336009
336010
336011
336012
336013
336014
336015
336016
336017
336018
336019
336020
336021
336022
336023
336024
336025
336026
336027
336028
336029
336031
336032
336033
336034
336035
336036
336037
336038
336039
336040
392181
392182
392183
392184
392185
392186
392188
392189
392190
392191
392192
392194
392195
392196
392197
392198
392199
392200
392201
392202
392203
392204
392205
392206
392207
392208
392209
392210
392211
392212
392213
392214
392215
392216
392217
392218
392219
392220
392221
392222
392223
392224
392225
392226
392227
392228
392229
392230
392231
392232
392233
392234
392235
392236
392237
392238
392239
419106
419107
419108
419109
419110
419111
419112
419113
419114
419115
419116
419117
419118
419119
419120
419121
419122
419123
419124
419125
419126
419127
419128
419129
419130
419131
419132
419133
419134
419135
419136
419137
419138
419139
419140
419141
419142
419143
419144
419145
419146
419147
419148
419149
419150
419151
419152
419153
419154
419155
419156
419157
419158
419159
419160
419161
419162
419163
419164
419165
501198
501199
501200
501201
501202
501203
501204
501205
501206
501207
501208
501209
501210
501211
501212
501213
501214
501215
501216
501218
501219
501220
501221
501222
501223
501224
501225
501226
501227
501228
501229
501230
501231
501232
501233
501234
501235
501236
501237
501238
501239
501240
501241
501242
501243
501244
501245
501246
501247
501248
501249
501250
501251
501252
501253
501254
501255
501256
501257
501258
501259
501260
501261
501262
501263
501264
501265
501266
501267
501268
501269
501270
501271
548306
548307
548308
548309
548310
548311
548312
548313
548314
548315
548316
548317
548318
548319
548320
548321
548322
548323
548324
548325
548326
548327
548328
548329
548330
548331
548332
548333
548334
548335
548336
548337
548339
548341
548342
548343
548344
548345
548346
548347
548348
548349
548350
548351
548352
548353
548354
548355
548356
548357
548358
548359
548360
548361
548362
548363
548364
548365
548366
548367
548368
548369
548370
548371
548372
548373
548374
548375
548376
548377
548378
548379
548380
548381
597998
597999
598000
598001
598002
598003
598004
598005
598006
598007
598008
598009
598010
598011
598012
598013
598014
598015
598016
598017
598018
598019
598020
598021
598022
598023
598024
598025
598026
598027
598028
598029
598030
598031
598032
598033
598034
598035
598036
598037
598038
598039
598040
598041
598042
598043
598044
598045
598046
598047
598048
598049
598050
598051
598052
598053
598054
598055
598056
598057
598058
598059
598060
598061
598062
598063
598064
598065
598066
598067
598068
598069
598070
598071
598072
598073
729279
729281
729283
729285
729287
729289
729291
729293
729295
729297
729299
729301
729303
729305
729307
729309
729311
729313
729315
729317
733971
733973
733975
733977
733979
733981
733983
733985
733987
733989
733991
733993
733995
733997
733999
734001
734003
734005
734007
734009
734011
734013
734015
734017
734019
734021
734023
734025
734027
734029
734031
734033
734035
734037
734039
734041
734043
734045
734047
734049
829705
829707
829709
829711
829713
829715
829717
829719
829721
829723
829725
829727
829729
829731
829733
829735
829737
829739
829741
829743
829745
829747
829749
829751
829753
829757
829759
829761
829763
829765
829767
829769
829771
829773
829775
829777
829779
829781
829783
829785
829787
829789
829791
829793
829795
829797
829799
829801
829803
829805
829807
829809
829811
829813
829815
829817
829819
829821
829823
980901
980903
980905
980907
980909
980911
980913
980915
980917
980919
980921
980923
980925
980927
980929
980931
980933
980935
980937
980939
980941
980943
980945
980947
980949
980951
980953
980955
980957
980959
980961
980963
980965
980967
980969
980971
980973
980975
980977
980979
980981
980983
980985
980987
980989
980991
980993
980995
980997
980999
981001
981003
981005
981007
981009
981011
981013
981015
981017
981019
README.txt