In [91]:

### Need to add total innings in phases of the game.

import os, json
import numpy as np, pandas as pd

from pprint import pprint
from datetime import datetime as dt

In [92]:

with_pre_existing_tags = True

In [93]:

#team_for_code = 'Chennai Super Kings'
#team_for_code = 'Lucknow Super Giants'

#team_for_code = 'Mumbai Indians'

#team_for_code = 'Kolkata Knight Riders'
#team_for_code = 'Sunrisers Hyderabad'

#team_for_code = 'Rajasthan Royals'
#team_for_code = 'Gujarat Titans'

#team_for_code = 'MI' #'Mumbai Indians'
#team_for_code = 'LSG' #'Lucknow Super Giants'
#team_for_code = 'GT' # Gujarat Titans

#team_for_code = 'PBKS' #'Punjab Kings'
#team_for_code = 'MI' #'Punjab Kings'

#team_for_code = 'DC' #'Delhi Capitals'

#team_for_code = 'RCB' #'Royal Challengers Bangalore'
team_for_code = 'SRH' #'Sunrisers Hyderabad'

In [94]:
print(team_for_code)

SRH

In [95]:

#csv_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\ipl_json_bbb\\'
loc_alldata = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\exp\\'

loc_exp = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\exp\\'

loc_lups = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\lineups\\'

In [96]:

print(loc_alldata)
print()
print(loc_exp)
print()
print(loc_lups)
print()
print(dt.now().date())

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\exp\

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\exp\

C:\Users\karan\Documents\Cricket-Analytics\IPL\Data\lineups\

2023-05-18

In [97]:

#lups stands for lookups, importing the look up tables here

lups = pd.read_excel(loc_lups + 'Tags.xlsx')

print(lups.shape)
print()
print(lups.columns.values.tolist())

(187, 10)

['tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']

In [98]:

alldata_fname = 'bbb_upto_G62_frm_yaml.xlsx'

In [99]:

alldf = pd.read_excel(loc_alldata + alldata_fname)

In [100]:

print(alldf.shape)
print(alldf.columns.values.tolist())

(15162, 17)
['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth']

In [101]:

# Assuming df is your dataframe
alldf['date'] = pd.to_datetime(alldf['date'])  # convert 'date' to datetime format if it's not already

# Create a new column that combines 'city' and 'date'
alldf['city_date'] = alldf['date'].astype(str) + alldf['city'] 

# Sort the DataFrame by 'city_date'
alldf = alldf.sort_values('city_date')

# Use factorize to assign ranks
alldf['m.num'] = pd.factorize(alldf['city_date'])[0] + 1

# Optionally, if you don't need 'city_date' column, you can drop it
alldf = alldf.drop(columns='city_date')

In [102]:
## QC

In [103]:

pd.set_option('display.max_rows', 100)    # replace 100 with the number of rows you want

In [104]:
pd.set_option('display.max_columns', 100) # replace 100 with the number of columns you want

In [105]:

temp = alldf.groupby(['date','city','m.num','inning','tm_bat']).agg({'b.num':'count'}).reset_index()

display(temp.head(50))

         date        city  m.num       inning tm_bat  b.num
0  2023-04-01  Chandigarh      1  1st innings   PBKS    123
1  2023-04-01  Chandigarh      1  2nd innings    KKR     99
2  2023-04-01     Lucknow      2  1st innings    LSG    125
3  2023-04-01     Lucknow      2  2nd innings     DC    126
4  2023-04-02   Bengaluru      3  1st innings     MI    130
5  2023-04-02   Bengaluru      3  2nd innings    RCB    102
6  2023-04-02   Hyderabad      4  1st innings     RR    122
7  2023-04-02   Hyderabad      4  2nd innings    SRH    126
8  2023-04-03     Chennai      5  1st innings    CSK    124
9  2023-04-03     Chennai      5  2nd innings    LSG    136
10 2023-04-04       Delhi      6  1st innings     DC    125
11 2023-04-04       Delhi      6  2nd innings     GT    115
12 2023-04-05    Guwahati      7  1st innings   PBKS    127
13 2023-04-05    Guwahati      7  2nd innings     RR    125
14 2023-04-06     Kolkata      8  1st innings    KKR    129
15 2023-04-06     Kolkata      8  2nd innings    RCB    107
16 2023-04-07     Lucknow      9  1st innings    SRH    122
17 2023-04-07     Lucknow      9  2nd innings    LSG    101
18 2023-04-08    Guwahati     10  1st innings     RR    124
19 2023-04-08    Guwahati     10  2nd innings     DC    128
20 2023-04-08      Mumbai     11  1st innings     MI    125
21 2023-04-08      Mumbai     11  2nd innings    CSK    114
22 2023-04-09   Ahmedabad     12  1st innings     GT    127
23 2023-04-09   Ahmedabad     12  2nd innings    KKR    123
24 2023-04-09   Hyderabad     13  1st innings   PBKS    125
25 2023-04-09   Hyderabad     13  2nd innings    SRH    103
26 2023-04-10   Bengaluru     14  1st innings    RCB    124
27 2023-04-10   Bengaluru     14  2nd innings    LSG    129
28 2023-04-11       Delhi     15  1st innings     DC    124
29 2023-04-11       Delhi     15  2nd innings     MI    122
30 2023-04-12     Chennai     16  1st innings     RR    126
31 2023-04-12     Chennai     16  2nd innings    CSK    127
32 2023-04-13  Chandigarh     17  1st innings   PBKS    129
33 2023-04-13  Chandigarh     17  2nd innings     GT    119
34 2023-04-14     Kolkata     18  1st innings    SRH    128
35 2023-04-14     Kolkata     18  2nd innings    KKR    128
36 2023-04-15   Bengaluru     19  1st innings    RCB    124
37 2023-04-15   Bengaluru     19  2nd innings     DC    123
38 2023-04-15     Lucknow     20  1st innings    LSG    127
39 2023-04-15     Lucknow     20  2nd innings   PBKS    122
40 2023-04-16   Ahmedabad     21  1st innings     GT    124
41 2023-04-16   Ahmedabad     21  2nd innings     RR    118
42 2023-04-16      Mumbai     22  1st innings    KKR    128
43 2023-04-16      Mumbai     22  2nd innings     MI    109
44 2023-04-17   Bengaluru     23  1st innings    CSK    126
45 2023-04-17   Bengaluru     23  2nd innings    RCB    126
46 2023-04-18   Hyderabad     24  1st innings     MI    122
47 2023-04-18   Hyderabad     24  2nd innings    SRH    127
48 2023-04-19      Jaipur     25  1st innings    LSG    122
49 2023-04-19      Jaipur     25  2nd innings     RR    123

## Filter for Team

In [106]:

master_df = alldf[ (alldf['tm_bat'].str.contains(team_for_code) \
                  | alldf['tm_bow'].str.contains(team_for_code) ) \
                  & ( alldf['m.num'] != 45) ]

print(master_df.shape)
print()
print(master_df.columns.values.tolist())
print()

(2976, 18)

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'm.num']

In [107]:

display(master_df.groupby(['date','city','m.num','inning','tm_bat']).agg({'b.num':'count'}).head(50))

                                               b.num
date       city      m.num inning      tm_bat
2023-04-02 Hyderabad 4     1st innings RR        122
                           2nd innings SRH       126
2023-04-07 Lucknow   9     1st innings SRH       122
                           2nd innings LSG       101
2023-04-09 Hyderabad 13    1st innings PBKS      125
                           2nd innings SRH       103
2023-04-14 Kolkata   18    1st innings SRH       128
                           2nd innings KKR       128
2023-04-18 Hyderabad 24    1st innings MI        122
                           2nd innings SRH       127
2023-04-21 Chennai   28    1st innings SRH       122
                           2nd innings CSK       112
2023-04-24 Hyderabad 33    1st innings DC        121
                           2nd innings SRH       121
2023-04-29 Delhi     38    1st innings SRH       129
                           2nd innings DC        123
2023-05-04 Hyderabad 46    1st innings KKR       127
                           2nd innings SRH       127
2023-05-07 Jaipur    51    1st innings RR        125
                           2nd innings SRH       125
2023-05-13 Hyderabad 58    1st innings SRH       123
                           2nd innings LSG       121
2023-05-15 Ahmedabad 61    1st innings GT        128
                           2nd innings SRH       125

## Batting stats

In [108]:

print(master_df.columns.values.tolist())

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'm.num']

In [109]:

display(master_df.head(3))

,bow,bat,bat_order,b.num,inning,tm_bat,tm_bow,city,date,competition,mtype,tr,wkt,over,fpp,fmid,fdth,m.num
898,KM Asif,MA Agarwal,4,7.5,2nd innings,SRH,RR,Hyderabad,2023-04-02,IPL,T20,0,0,8,0,1,0,4
889,JO Holder,MA Agarwal,4,3.3,2nd innings,SRH,RR,Hyderabad,2023-04-02,IPL,T20,0,0,4,1,0,0,4
897,KM Asif,MA Agarwal,4,7.1,2nd innings,SRH,RR,Hyderabad,2023-04-02,IPL,T20,1,0,8,0,1,0,4

In [110]:

master_df.groupby(['fpp','fmid','fdth','over']).agg({'bow':'count'})

                    bow
fpp fmid fdth over
0   0    1    17    144
              18    138
              19    134
              20    128
    1    0    7     146
              8     145
              9     148
              10    148
              11    152
              12    149
              13    153
              14    148
              15    147
              16    154
1   0    0    1     150
              2     160
              3     147
              4     146
              5     150
              6     146

In [111]:

print(master_df.shape)
print(master_df['m.num'].unique().tolist())

(2976, 18)
[4, 9, 13, 18, 24, 28, 33, 38, 46, 51, 58, 61]

In [112]:

if with_pre_existing_tags:
    #### Add the line-ups data to the pstats dataset before more merges
    lups_bow_cols = ['tm', 'tm_abbr', 'name', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2']
    lups_bat_cols = ['tm', 'tm_abbr', 'name', 'battype', 'lpos']
    
    drop_cols_to_avoid_duplication = ['tm','tm_abbr','name']

    master_df_temp = pd.merge(master_df, lups[lups_bow_cols], how='left', left_on=['tm_bow','bow'], right_on=['tm_abbr','name'])
    master_df_tags = pd.merge(master_df_temp.drop(columns = drop_cols_to_avoid_duplication), lups[lups_bat_cols]\
                              , how='left', left_on=['tm_bat','bat'], right_on = ['tm_abbr','name'])

    print(master_df_tags.shape)
    print()
    print(master_df_tags.columns.values.tolist())
    
else:
    master_df_tags = master_df.copy()

(2976, 27)

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'm.num', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'tm', 'tm_abbr', 'name', 'battype', 'lpos']

In [113]:

print(master_df_tags.shape)
print(master_df_tags['m.num'].unique().tolist())

(2976, 27)
[4, 9, 13, 18, 24, 28, 33, 38, 46, 51, 58, 61]

In [114]:

master_df_tags.describe()

,bat_order,b.num,tr,wkt,over,fpp,fmid,fdth,m.num,lpos
count,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,2976.000000,572.000000
mean,3.960349,9.568145,1.312836,0.051075,10.210349,0.316532,0.500672,0.182796,32.235215,4.709790
std,2.388440,5.796933,1.660591,0.220188,5.785590,0.465201,0.500084,0.386564,18.375242,3.585294
min,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.000000,1.000000
25%,2.000000,4.500000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,18.000000,2.000000
50%,3.000000,9.500000,1.000000,0.000000,10.000000,0.000000,1.000000,0.000000,33.000000,4.000000
75%,5.000000,14.500000,1.000000,0.000000,15.000000,1.000000,1.000000,0.000000,51.000000,6.000000
max,12.000000,19.800000,6.000000,1.000000,20.000000,1.000000,1.000000,1.000000,61.000000,15.000000

In [115]:

#master_df_tags.bowlarm.unique()
master_df_tags.bowlcat.unique()

array(['Pace', 'Spin', nan], dtype=object)

In [116]:

groupbycols = ['tm_bat', 'bat', 'm.num','bat_order']

#bat_grouped_df = master_df.groupby(['bat_tm', 'batnum', 'bat', 'm.num'])
bat_grouped_df = master_df_tags.groupby(groupbycols) # batnum unique as the m.num per player

def custom_agg(group):
    data = {
        'tr': group['tr'].sum(),
        'tout': group['wkt'].sum(),
        'tinn': group['m.num'].nunique(),
        'tbf': group['b.num'].count(),
                
        'tr_pp': (group['fpp'] * group['tr']).sum(),
        'tr_mid': (group['fmid'] * group['tr']).sum(),
        'tr_dth': (group['fdth'] * group['tr']).sum(),
        
        'tout_pp': (group['wkt'] * group['fpp']).sum(),        
        'tout_mid': (group['wkt'] * group['fmid']).sum(),        
        'tout_dth': (group['wkt'] * group['fdth']).sum(),
        
        'tbf_pp': group['fpp'].sum(),
        'tbf_mid': group['fmid'].sum(),
        'tbf_dth': group['fdth'].sum(),        
        
        'tr_pace': group[group['bowlcat'] == 'Pace']['tr'].sum(),
        'tr_spin': group[group['bowlcat'] == 'Spin']['tr'].sum(),
        
        'tout_pace': group[group['bowlcat'] == 'Pace']['wkt'].sum(),
        'tout_spin': group[group['bowlcat'] == 'Spin']['wkt'].sum()
        
    }
    return pd.Series(data)

batting_match_level_df = bat_grouped_df.apply(custom_agg)

# Reset the index so that the primary key columns become regular columns
batting_match_level_df.reset_index(inplace=True)

In [117]:

#batting_match_level_df.sum()

In [118]:

print(batting_match_level_df.shape)
print(batting_match_level_df['m.num'].unique().tolist())

(238, 21)
[28, 33, 38, 61, 18, 46, 9, 58, 24, 13, 4, 51]

In [119]:

pd.set_option('display.max_rows', 100)    # replace 100 with the number of rows you want
pd.set_option('display.max_columns', 100) # replace 100 with the number of columns you want

In [120]:

display(batting_match_level_df.head(25))

,tm_bat,bat,m.num,bat_order,tr,tout,tinn,tbf,tr_pp,tr_mid,tr_dth,tout_pp,tout_mid,tout_dth,tbf_pp,tbf_mid,tbf_dth,tr_pace,tr_spin,tout_pace,tout_spin
0,CSK,AM Rahane,28,3,9,1,1,10,0,9,0,0,1,0,0,10,0,0,9,0,1
1,CSK,AT Rayudu,28,4,9,1,1,9,0,8,1,0,0,1,0,7,2,0,9,0,1
2,CSK,DP Conway,28,2,77,1,1,57,40,25,12,0,1,0,24,25,8,41,36,1,0
3,CSK,MM Ali,28,5,6,0,1,6,0,0,6,0,0,0,0,0,6,1,5,0,0
4,CSK,RD Gaikwad,28,1,35,0,1,30,18,17,0,0,0,0,12,18,0,23,12,0,0
5,DC,A Nortje,33,9,2,0,1,2,0,0,2,0,0,0,0,0,2,2,0,0,0
6,DC,AR Patel,33,7,34,1,1,34,0,20,14,0,0,1,0,27,7,9,25,1,0
7,DC,AR Patel,38,7,29,0,1,17,0,1,28,0,0,0,0,1,16,28,1,0,0
8,DC,Aman Hakim Khan,33,6,4,1,1,2,0,4,0,0,1,0,0,2,0,0,4,0,1
9,DC,DA Warner,33,1,21,1,1,20,15,6,0,0,1,0,14,6,0,3,18,0,1
10,DC,DA Warner,38,1,0,1,1,2,0,0,0,1,0,0,2,0,0,0,0,1,0
11,DC,I Sharma,33,11,1,0,1,1,0,0,1,0,0,0,0,0,1,1,0,0,0
12,DC,Kuldeep Yadav,33,10,4,1,1,3,0,0,4,0,0,1,0,0,3,4,0,1,0
13,DC,MK Pandey,33,5,34,1,1,28,0,30,4,0,0,1,0,23,5,17,17,1,0
14,DC,MK Pandey,38,4,1,1,1,3,0,1,0,0,1,0,0,3,0,0,1,0,1
15,DC,MR Marsh,33,3,25,1,1,15,25,0,0,1,0,0,15,0,0,24,1,1,0
16,DC,MR Marsh,38,2,63,1,1,39,20,43,0,0,1,0,14,25,0,26,37,0,1
17,DC,PD Salt,33,2,0,1,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0
18,DC,PD Salt,38,3,59,1,1,35,36,23,0,0,1,0,20,15,0,28,31,0,1
19,DC,PK Garg,38,5,12,1,1,9,0,12,0,0,1,0,0,9,0,0,12,0,1
20,DC,RV Patel,33,8,5,1,1,6,0,0,5,0,0,1,0,0,6,5,0,1,0
21,DC,RV Patel,38,8,11,0,1,8,0,0,11,0,0,0,0,0,8,11,0,0,0
22,DC,SN Khan,33,4,10,1,1,9,8,2,0,0,1,0,6,3,0,8,2,0,1
23,DC,SN Khan,38,6,9,1,1,10,0,4,5,0,0,1,0,7,3,5,4,1,0
24,GT,B Sai Sudharsan,61,2,47,1,1,40,21,26,0,0,1,0,21,19,0,36,11,1,0

In [121]:

# Add points columns to the original DataFrame

#batting_match_level_df['f.cp.pts30'] = batting_match_level_df['tr'].apply(lambda x: 4 if x >= 30 else 0)
#batting_match_level_df['f.cp.pts50'] = batting_match_level_df['tr'].apply(lambda x: 8 if x >= 50 else 0)
#batting_match_level_df['f.cp.pts100'] = batting_match_level_df['tr'].apply(lambda x: 16 if x >= 100 else 0)
#batting_match_level_df['f.cp.pts0'] = batting_match_level_df['tr'].apply(lambda x: -2 if x == 0 else 0)

In [122]:

batting_match_level_df.describe()

,m.num,bat_order,tr,tout,tinn,tbf,tr_pp,tr_mid,tr_dth,tout_pp,tout_mid,tout_dth,tbf_pp,tbf_mid,tbf_dth,tr_pace,tr_spin,tout_pace,tout_spin
count,238.000000,238.000000,238.000000,238.000000,238.0,238.000000,238.000000,238.00000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,31.936975,5.823529,16.415966,0.638655,1.0,12.504202,4.848739,8.07563,3.491597,0.172269,0.277311,0.189076,3.957983,6.260504,2.285714,9.373950,6.806723,0.399160,0.235294
std,18.405885,3.317635,21.362633,0.481403,0.0,13.924070,9.677621,13.74982,6.944470,0.378410,0.448615,0.392394,6.222180,9.457399,4.015041,13.292192,11.121710,0.490758,0.425076
min,4.000000,1.000000,0.000000,0.000000,1.0,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14.250000,3.000000,0.000000,0.000000,1.0,2.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,33.000000,5.500000,7.500000,1.000000,1.0,7.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000
75%,46.000000,8.750000,25.750000,1.000000,1.0,19.000000,5.750000,10.75000,3.750000,0.000000,1.000000,0.000000,6.000000,9.000000,3.000000,13.000000,10.750000,1.000000,0.000000
max,61.000000,12.000000,101.000000,1.000000,1.0,68.000000,54.000000,66.00000,39.000000,1.000000,1.000000,1.000000,25.000000,40.000000,23.000000,89.000000,63.000000,1.000000,1.000000

In [123]:

print(batting_match_level_df.shape)
print()
print(batting_match_level_df.columns.values.tolist())

(238, 21)

['tm_bat', 'bat', 'm.num', 'bat_order', 'tr', 'tout', 'tinn', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tout_pp', 'tout_mid', 'tout_dth', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tr_pace', 'tr_spin', 'tout_pace', 'tout_spin']

### Batting Stats by Match

In [124]:

print(batting_match_level_df['m.num'].unique())

[28 33 38 61 18 46  9 58 24 13  4 51]

In [125]:

df_bat_transpose = batting_match_level_df.copy()
df_bat_transpose['game.num'] = 'G' + df_bat_transpose['m.num'].astype(str).str.zfill(2)

df_bat_transpose.sort_values(by = 'm.num', ascending = False)

batting_gwise = df_bat_transpose.pivot(index= ['tm_bat','bat'], columns= ['game.num'], values= ['tr']).reset_index()

# Fixing multi-level columns
#batting_gwise.columns = batting_gwise.columns.map(lambda x: f'{x[1]}.{x[0]}')

# Flatten only multi-level column index
batting_gwise.columns = batting_gwise.columns.map( lambda x: f'{x[0]}.{x[1]}' if len(x) > 1 else x[0] )

# Reset index
batting_gwise = batting_gwise.reset_index(drop = True).rename(columns = {'tm_bat.':'tm_bat','bat.':'bat'})

In [126]:

# Group by 'tm_bat', 'bat', 'bat_order' and count the occurrences
bat_order_counts = df_bat_transpose.groupby(['tm_bat', 'bat', 'bat_order']).size().reset_index(name='counts')


# Find the batting order with maximum count for each batsman
most_batted_position_idx = bat_order_counts.groupby(['tm_bat', 'bat'])['counts'].idxmax()

# Create a new DataFrame for most_batted_position using the idxmax result
most_batted_position = bat_order_counts.loc[most_batted_position_idx, ['tm_bat', 'bat', 'bat_order']].rename(columns={'bat_order': 'most_batted_position'})

# Merge most_batted_position into bat_order_counts
bat_order_counts = bat_order_counts.merge(most_batted_position, on=['tm_bat', 'bat'], how='left')


# Create a new column 'bat_order_counts' in the format 'bat_order(counts)'
bat_order_counts['bat_order_counts'] = bat_order_counts['bat_order'].astype(str) + "(" + bat_order_counts['counts'].astype(str) + ")"

# Group by 'tm_bat' and 'bat' and join all 'bat_order_counts' together separated by ', '
bat_order_counts = bat_order_counts.groupby(['tm_bat', 'bat']).agg({'bat_order_counts': ', '.join, 'most_batted_position': 'first'}).reset_index()

# Now merge this DataFrame with your original one
batting_gwise = pd.merge(batting_gwise, bat_order_counts, on=['tm_bat', 'bat'], how='left')

In [127]:

display(batting_gwise)

,tm_bat,bat,tr.G04,tr.G09,tr.G13,tr.G18,tr.G24,tr.G28,tr.G33,tr.G38,tr.G46,tr.G51,tr.G58,tr.G61,bat_order_counts,most_batted_position
0,CSK,AM Rahane,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
1,CSK,AT Rayudu,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
2,CSK,DP Conway,NaN,NaN,NaN,NaN,NaN,77.0,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2
3,CSK,MM Ali,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5
4,CSK,RD Gaikwad,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1
5,DC,A Nortje,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,9(1),9
6,DC,AR Patel,NaN,NaN,NaN,NaN,NaN,NaN,34.0,29.0,NaN,NaN,NaN,NaN,7(2),7
7,DC,Aman Hakim Khan,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,6(1),6
8,DC,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,21.0,0.0,NaN,NaN,NaN,NaN,1(2),1
9,DC,I Sharma,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,11(1),11
10,DC,Kuldeep Yadav,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,10(1),10
11,DC,MK Pandey,NaN,NaN,NaN,NaN,NaN,NaN,34.0,1.0,NaN,NaN,NaN,NaN,"4(1), 5(1)",4
12,DC,MR Marsh,NaN,NaN,NaN,NaN,NaN,NaN,25.0,63.0,NaN,NaN,NaN,NaN,"2(1), 3(1)",2
13,DC,PD Salt,NaN,NaN,NaN,NaN,NaN,NaN,0.0,59.0,NaN,NaN,NaN,NaN,"2(1), 3(1)",2
14,DC,PK Garg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,5(1),5
15,DC,RV Patel,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,NaN,NaN,NaN,NaN,8(2),8
16,DC,SN Khan,NaN,NaN,NaN,NaN,NaN,NaN,10.0,9.0,NaN,NaN,NaN,NaN,"4(1), 6(1)",4
17,GT,B Sai Sudharsan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,2(1),2
18,GT,DA Miller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5(1),5
19,GT,HH Pandya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,4(1),4
20,GT,MD Shanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,7(1),7
21,GT,MM Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11(1),11
22,GT,Mohammed Shami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10(1),10
23,GT,Noor Ahmad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,9(1),9
24,GT,R Tewatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6(1),6
25,GT,Rashid Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,8(1),8
26,GT,Shubman Gill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,3(1),3
27,GT,WP Saha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1(1),1
28,KKR,AD Russell,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,6(2),6
29,KKR,AS Roy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,9(1),9
30,KKR,Harshit Rana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,10(1),10
31,KKR,JJ Roy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,1(1),1
32,KKR,N Jagadeesan,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
33,KKR,N Rana,NaN,NaN,NaN,75.0,NaN,NaN,NaN,NaN,42.0,NaN,NaN,NaN,"4(1), 5(1)",4
34,KKR,RK Singh,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,"5(1), 7(1)",5
35,KKR,Rahmanullah Gurbaz,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"1(1), 2(1)",1
36,KKR,SN Thakur,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,8(2),8
37,KKR,SP Narine,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,"4(1), 7(1)",4
38,KKR,UT Yadav,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9
39,KKR,VG Arora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,11(1),11
40,KKR,VR Iyer,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,"2(1), 3(1)",2
41,LSG,DJ Hooda,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
42,LSG,KH Pandya,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
43,LSG,KL Rahul,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2
44,LSG,KR Mayers,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1(2),1
45,LSG,MP Stoinis,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,"4(1), 5(1)",4
46,LSG,N Pooran,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,"5(1), 7(1)",5
47,LSG,PN Mankad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,3(1),3
48,LSG,Q de Kock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,2(1),2
49,LSG,R Shepherd,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6
50,MI,C Green,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
51,MI,Ishan Kishan,NaN,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2
52,MI,RG Sharma,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1
53,MI,SA Yadav,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
54,MI,TH David,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6
55,MI,Tilak Varma,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5
56,PBKS,Harpreet Brar,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(1),8
57,PBKS,JM Sharma,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
58,PBKS,M Shahrukh Khan,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7(1),7
59,PBKS,MW Short,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2
60,PBKS,Mohit Rathee,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11(1),11
61,PBKS,NT Ellis,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10(1),10
62,PBKS,P Simran Singh,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1
63,PBKS,RD Chahar,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9
64,PBKS,S Dhawan,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3
65,PBKS,SM Curran,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5
66,PBKS,Sikandar Raza,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6
67,RR,D Padikkal,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4
68,RR,JC Buttler,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,2(2),2
69,RR,R Ashwin,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7(1),7
70,RR,R Parag,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5
71,RR,SO Hetmyer,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,"4(1), 6(1)",4
72,RR,SV Samson,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,3(2),3
73,RR,YBK Jaiswal,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,1(2),1
74,SRH,AJ Hosein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,8(1),8
75,SRH,AK Markram,NaN,0.0,37.0,50.0,22.0,12.0,3.0,8.0,41.0,6.0,28.0,10.0,"3(1), 4(8), 5(2)",4
76,SRH,AU Rashid,18.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(2),8
77,SRH,Abdul Samad,32.0,21.0,NaN,NaN,9.0,NaN,NaN,28.0,21.0,17.0,37.0,4.0,7(8),7
78,SRH,Abhishek Sharma,0.0,NaN,NaN,32.0,1.0,34.0,5.0,67.0,9.0,55.0,7.0,5.0,"1(3), 2(4), 4(1), 5(2)",2
79,SRH,Anmolpreet Singh,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,36.0,5.0,1(4),1
80,SRH,B Kumar,6.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,5.0,0.0,2.0,27.0,"8(1), 9(4), 10(3), 11(3), 12(1)",9
81,SRH,Fazalhaq Farooqi,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,"9(1), 11(2), 12(1)",11
82,SRH,GD Phillips,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,0.0,NaN,6(3),6
83,SRH,H Klaasen,NaN,NaN,0.0,16.0,36.0,17.0,31.0,53.0,36.0,26.0,47.0,64.0,"4(1), 5(4), 6(5)",6
84,SRH,HC Brook,13.0,3.0,13.0,100.0,9.0,18.0,7.0,0.0,0.0,NaN,NaN,NaN,"1(5), 3(1), 5(3)",1
85,SRH,Kartik Tyagi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,12(1),12
86,SRH,M Jansen,NaN,NaN,0.0,0.0,13.0,17.0,2.0,NaN,1.0,3.0,NaN,3.0,"7(2), 8(6)",8
87,SRH,M Markande,NaN,NaN,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,18.0,"8(1), 9(1), 10(4), 11(4)",10
88,SRH,MA Agarwal,27.0,8.0,21.0,9.0,48.0,2.0,49.0,5.0,18.0,NaN,NaN,NaN,"2(7), 4(1), 6(1)",2
89,SRH,Mayank Dagar,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9
90,SRH,RA Tripathi,0.0,34.0,74.0,9.0,7.0,21.0,15.0,10.0,20.0,47.0,20.0,1.0,"2(1), 3(10), 4(1)",3
91,SRH,Sanvir Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,6(1),6
92,SRH,T Natarajan,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,"9(3), 10(1), 11(2), 12(5)",12
93,SRH,Umran Malik,19.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"10(3), 11(1), 12(3)",10
94,SRH,Vivrant Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,"9(1), 10(1)",9
95,SRH,Washington Sundar,1.0,16.0,0.0,0.0,10.0,9.0,24.0,NaN,NaN,NaN,NaN,NaN,"5(1), 6(2), 7(2), 8(1), 9(1)",6

In [128]:

#batting_gwise['l3tr.avg'] = batting_gwise.iloc[:, -3:].mean(axis=1).round(0)
#batting_gwise['l5tr.avg'] = batting_gwise.iloc[:, -5:].mean(axis=1).round(0)

# Find the columns that start with 'tr.'
tr_columns = [col for col in batting_gwise.columns if col.startswith('tr.')]

# Create new columns 'l3tr.avg' and 'l5tr.avg' by calculating the mean of the last 3 and last 5 'tr.' columns
batting_gwise['l3tr.avg'] = batting_gwise[tr_columns[-3:]].mean(axis=1).round(0)
batting_gwise['l5tr.avg'] = batting_gwise[tr_columns[-5:]].mean(axis=1).round(0)

In [129]:

print(batting_gwise.shape)
print()
print(batting_gwise.columns.values.tolist())

(96, 18)

['tm_bat', 'bat', 'tr.G04', 'tr.G09', 'tr.G13', 'tr.G18', 'tr.G24', 'tr.G28', 'tr.G33', 'tr.G38', 'tr.G46', 'tr.G51', 'tr.G58', 'tr.G61', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg']

In [130]:

display(batting_gwise)

,tm_bat,bat,tr.G04,tr.G09,tr.G13,tr.G18,tr.G24,tr.G28,tr.G33,tr.G38,tr.G46,tr.G51,tr.G58,tr.G61,bat_order_counts,most_batted_position,l3tr.avg,l5tr.avg
0,CSK,AM Rahane,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
1,CSK,AT Rayudu,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
2,CSK,DP Conway,NaN,NaN,NaN,NaN,NaN,77.0,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2,NaN,NaN
3,CSK,MM Ali,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5,NaN,NaN
4,CSK,RD Gaikwad,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1,NaN,NaN
5,DC,A Nortje,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,9(1),9,NaN,NaN
6,DC,AR Patel,NaN,NaN,NaN,NaN,NaN,NaN,34.0,29.0,NaN,NaN,NaN,NaN,7(2),7,NaN,29.0
7,DC,Aman Hakim Khan,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,6(1),6,NaN,NaN
8,DC,DA Warner,NaN,NaN,NaN,NaN,NaN,NaN,21.0,0.0,NaN,NaN,NaN,NaN,1(2),1,NaN,0.0
9,DC,I Sharma,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,11(1),11,NaN,NaN
10,DC,Kuldeep Yadav,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,10(1),10,NaN,NaN
11,DC,MK Pandey,NaN,NaN,NaN,NaN,NaN,NaN,34.0,1.0,NaN,NaN,NaN,NaN,"4(1), 5(1)",4,NaN,1.0
12,DC,MR Marsh,NaN,NaN,NaN,NaN,NaN,NaN,25.0,63.0,NaN,NaN,NaN,NaN,"2(1), 3(1)",2,NaN,63.0
13,DC,PD Salt,NaN,NaN,NaN,NaN,NaN,NaN,0.0,59.0,NaN,NaN,NaN,NaN,"2(1), 3(1)",2,NaN,59.0
14,DC,PK Garg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,5(1),5,NaN,12.0
15,DC,RV Patel,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,NaN,NaN,NaN,NaN,8(2),8,NaN,11.0
16,DC,SN Khan,NaN,NaN,NaN,NaN,NaN,NaN,10.0,9.0,NaN,NaN,NaN,NaN,"4(1), 6(1)",4,NaN,9.0
17,GT,B Sai Sudharsan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,2(1),2,47.0,47.0
18,GT,DA Miller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5(1),5,7.0,7.0
19,GT,HH Pandya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,4(1),4,8.0,8.0
20,GT,MD Shanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,7(1),7,9.0,9.0
21,GT,MM Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11(1),11,0.0,0.0
22,GT,Mohammed Shami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10(1),10,0.0,0.0
23,GT,Noor Ahmad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,9(1),9,0.0,0.0
24,GT,R Tewatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6(1),6,3.0,3.0
25,GT,Rashid Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,8(1),8,0.0,0.0
26,GT,Shubman Gill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,3(1),3,101.0,101.0
27,GT,WP Saha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1(1),1,0.0,0.0
28,KKR,AD Russell,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,6(2),6,NaN,24.0
29,KKR,AS Roy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,9(1),9,NaN,13.0
30,KKR,Harshit Rana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,10(1),10,NaN,0.0
31,KKR,JJ Roy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,1(1),1,NaN,20.0
32,KKR,N Jagadeesan,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
33,KKR,N Rana,NaN,NaN,NaN,75.0,NaN,NaN,NaN,NaN,42.0,NaN,NaN,NaN,"4(1), 5(1)",4,NaN,42.0
34,KKR,RK Singh,NaN,NaN,NaN,58.0,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,"5(1), 7(1)",5,NaN,46.0
35,KKR,Rahmanullah Gurbaz,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"1(1), 2(1)",1,NaN,0.0
36,KKR,SN Thakur,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,8(2),8,NaN,8.0
37,KKR,SP Narine,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,"4(1), 7(1)",4,NaN,1.0
38,KKR,UT Yadav,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9,NaN,NaN
39,KKR,VG Arora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,11(1),11,NaN,2.0
40,KKR,VR Iyer,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,"2(1), 3(1)",2,NaN,7.0
41,LSG,DJ Hooda,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
42,LSG,KH Pandya,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
43,LSG,KL Rahul,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2,NaN,NaN
44,LSG,KR Mayers,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1(2),1,2.0,2.0
45,LSG,MP Stoinis,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,"4(1), 5(1)",4,40.0,40.0
46,LSG,N Pooran,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,"5(1), 7(1)",5,44.0,44.0
47,LSG,PN Mankad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,NaN,3(1),3,64.0,64.0
48,LSG,Q de Kock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,2(1),2,29.0,29.0
49,LSG,R Shepherd,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6,NaN,NaN
50,MI,C Green,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
51,MI,Ishan Kishan,NaN,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2,NaN,NaN
52,MI,RG Sharma,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1,NaN,NaN
53,MI,SA Yadav,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
54,MI,TH David,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6,NaN,NaN
55,MI,Tilak Varma,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5,NaN,NaN
56,PBKS,Harpreet Brar,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(1),8,NaN,NaN
57,PBKS,JM Sharma,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
58,PBKS,M Shahrukh Khan,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7(1),7,NaN,NaN
59,PBKS,MW Short,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2(1),2,NaN,NaN
60,PBKS,Mohit Rathee,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11(1),11,NaN,NaN
61,PBKS,NT Ellis,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10(1),10,NaN,NaN
62,PBKS,P Simran Singh,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1(1),1,NaN,NaN
63,PBKS,RD Chahar,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9,NaN,NaN
64,PBKS,S Dhawan,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3(1),3,NaN,NaN
65,PBKS,SM Curran,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5,NaN,NaN
66,PBKS,Sikandar Raza,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6(1),6,NaN,NaN
67,RR,D Padikkal,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4(1),4,NaN,NaN
68,RR,JC Buttler,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,NaN,NaN,2(2),2,95.0,95.0
69,RR,R Ashwin,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7(1),7,NaN,NaN
70,RR,R Parag,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5(1),5,NaN,NaN
71,RR,SO Hetmyer,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,"4(1), 6(1)",4,7.0,7.0
72,RR,SV Samson,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,3(2),3,66.0,66.0
73,RR,YBK Jaiswal,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,1(2),1,35.0,35.0
74,SRH,AJ Hosein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,8(1),8,NaN,16.0
75,SRH,AK Markram,NaN,0.0,37.0,50.0,22.0,12.0,3.0,8.0,41.0,6.0,28.0,10.0,"3(1), 4(8), 5(2)",4,15.0,19.0
76,SRH,AU Rashid,18.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(2),8,NaN,NaN
77,SRH,Abdul Samad,32.0,21.0,NaN,NaN,9.0,NaN,NaN,28.0,21.0,17.0,37.0,4.0,7(8),7,19.0,21.0
78,SRH,Abhishek Sharma,0.0,NaN,NaN,32.0,1.0,34.0,5.0,67.0,9.0,55.0,7.0,5.0,"1(3), 2(4), 4(1), 5(2)",2,22.0,29.0
79,SRH,Anmolpreet Singh,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,36.0,5.0,1(4),1,25.0,25.0
80,SRH,B Kumar,6.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,5.0,0.0,2.0,27.0,"8(1), 9(4), 10(3), 11(3), 12(1)",9,10.0,7.0
81,SRH,Fazalhaq Farooqi,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,"9(1), 11(2), 12(1)",11,0.0,0.0
82,SRH,GD Phillips,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,0.0,NaN,6(3),6,12.0,12.0
83,SRH,H Klaasen,NaN,NaN,0.0,16.0,36.0,17.0,31.0,53.0,36.0,26.0,47.0,64.0,"4(1), 5(4), 6(5)",6,46.0,45.0
84,SRH,HC Brook,13.0,3.0,13.0,100.0,9.0,18.0,7.0,0.0,0.0,NaN,NaN,NaN,"1(5), 3(1), 5(3)",1,NaN,0.0
85,SRH,Kartik Tyagi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,12(1),12,NaN,0.0
86,SRH,M Jansen,NaN,NaN,0.0,0.0,13.0,17.0,2.0,NaN,1.0,3.0,NaN,3.0,"7(2), 8(6)",8,3.0,2.0
87,SRH,M Markande,NaN,NaN,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,18.0,"8(1), 9(1), 10(4), 11(4)",10,6.0,4.0
88,SRH,MA Agarwal,27.0,8.0,21.0,9.0,48.0,2.0,49.0,5.0,18.0,NaN,NaN,NaN,"2(7), 4(1), 6(1)",2,NaN,12.0
89,SRH,Mayank Dagar,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9(1),9,NaN,NaN
90,SRH,RA Tripathi,0.0,34.0,74.0,9.0,7.0,21.0,15.0,10.0,20.0,47.0,20.0,1.0,"2(1), 3(10), 4(1)",3,23.0,20.0
91,SRH,Sanvir Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,6(1),6,7.0,7.0
92,SRH,T Natarajan,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,"9(3), 10(1), 11(2), 12(5)",12,0.0,0.0
93,SRH,Umran Malik,19.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,"10(3), 11(1), 12(3)",10,NaN,0.0
94,SRH,Vivrant Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,"9(1), 10(1)",9,0.0,0.0
95,SRH,Washington Sundar,1.0,16.0,0.0,0.0,10.0,9.0,24.0,NaN,NaN,NaN,NaN,NaN,"5(1), 6(2), 7(2), 8(1), 9(1)",6,NaN,NaN

### Bowling stats

In [131]:

display(master_df_tags[ (master_df_tags.fpp ==0) & (master_df_tags.fmid ==0) & (master_df_tags.fdth ==0) ].head())

Empty DataFrame
Columns: [bow, bat, bat_order, b.num, inning, tm_bat, tm_bow, city, date, competition, mtype, tr, wkt, over, fpp, fmid, fdth, m.num, bowltype, bowlarm, bowlcat, bowlcat.l2, tm, tm_abbr, name, battype, lpos]
Index: []

In [132]:

#QC
#master_df_tags.groupby(['fpp','fmid','fdth','m.num']).agg({'over':'nunique'})

In [133]:


### ROLLING UP THE DATASET
def custom_bowling_agg(group):
    data = {
        'tbb': group['b.num'].count(),
        'tbrc': group['tr'].sum(),
        'tbwkt': group['wkt'].sum(),
        'tbov': group['over'].nunique(),
        
        'tbwkt_pp': (group['fpp'] * group['wkt']).sum(),
        'tbwkt_mid': (group['fmid'] * group['wkt']).sum(),
        'tbwkt_dth': (group['fdth'] * group['wkt']).sum(),
        
        'tbov_pp': (group['fpp'] * group['over']).nunique(),
        'tbov_mid': (group['fmid'] * group['over']).nunique(),
        'tbov_dth': (group['fdth'] * group['over']).nunique(),
        
        'tbov_pp2': group[group['fpp'] == 1]['over'].nunique(),
        'tbov_mid2': group[group['fmid'] == 1]['over'].nunique(),
        'tbov_dth2': group[group['fdth'] == 1]['over'].nunique(),
        
        'tbrc_pp': (group['fpp'] * group['tr']).sum(),
        'tbrc_mid': (group['fmid'] * group['tr']).sum(),
        'tbrc_dth': (group['fdth'] * group['tr']).sum(),

        'tbwkt_rhb': (group[group['battype'] == 'RHB']['wkt']).sum(),
        'tbwkt_lhb': (group[group['battype'] == 'LHB']['wkt']).sum(),
        
        'tbov_rhb': (group[group['battype'] == 'RHB']['over']).nunique(),
        'tbov_lhb': (group[group['battype'] == 'LHB']['over']).nunique()
                }
    return pd.Series(data)

bow_grouped_df = master_df_tags.groupby(['tm_bow', 'bow', 'm.num'])

bowling_match_level_df_pre = bow_grouped_df.apply(custom_bowling_agg)
bowling_match_level_df_pre.reset_index(inplace=True)

print(master_df_tags.shape)
print(bowling_match_level_df_pre.shape)

(2976, 27)
(151, 23)

In [134]:

bowling_match_level_df_pre.describe()

,m.num,tbb,tbrc,tbwkt,tbov,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_pp2,tbov_mid2,tbov_dth2,tbrc_pp,tbrc_mid,tbrc_dth,tbwkt_rhb,tbwkt_lhb,tbov_rhb,tbov_lhb
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,32.013245,19.423841,25.874172,1.006623,3.145695,0.271523,0.437086,0.298013,1.867550,2.304636,1.582781,0.953642,1.596026,0.596026,7.642384,12.728477,5.503311,0.735099,0.251656,2.860927,1.721854
std,18.556575,6.247599,10.200199,1.145988,0.989258,0.564904,0.788045,0.671264,0.899448,1.064540,0.733554,0.954552,1.265853,0.731927,8.363687,11.451308,7.767345,1.050092,0.465024,1.125698,1.347387
min,4.000000,5.000000,5.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.500000,17.000000,18.000000,0.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.500000
50%,33.000000,19.000000,27.000000,1.000000,3.000000,0.000000,0.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,7.000000,11.000000,0.000000,0.000000,0.000000,3.000000,2.000000
75%,48.500000,24.000000,31.500000,1.500000,4.000000,0.000000,1.000000,0.000000,3.000000,3.000000,2.000000,2.000000,3.000000,1.000000,12.000000,20.000000,10.000000,1.000000,0.000000,4.000000,3.000000
max,61.000000,30.000000,53.000000,6.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,2.000000,37.000000,51.000000,34.000000,6.000000,2.000000,4.000000,4.000000

In [135]:

pd.set_option('display.max_rows', 100)    # replace 100 with the number of rows you want
pd.set_option('display.max_columns', 100) # replace 100 with the number of columns you want

In [136]:
#display(bowling_match_level_df_pre.head(25))

In [137]:

"""

print(master_df.shape)

# master_df for each phase of the game
powp_df = master_df[master_df['fpp'] == 1]
mid_df = master_df[master_df['fmid'] == 1]
dth_df = master_df[master_df['fdth'] == 1]

print(powp_df.shape)
print(mid_df.shape)
print(dth_df.shape)

# Group the DataFrames by the bowler, batting team, and match number
#powp_grouped = powp_df.groupby(['bow_tm', 'bow', 'm.num']).agg(tot_ov_powp = ('over_num','nunique')).reset_index()
powp_grouped = powp_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.powp'})
mid_grouped = mid_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.mid'})
dth_grouped = dth_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.dth'})

# Reset the index of bowling_match_level_df
#bow_grouped_df.reset_index()

bowling_match_level_df = bowling_match_level_df_pre.reset_index()

# Merge the unique overs bowled in each phase back to the bowling_match_level_df
bowling_match_level_df = bowling_match_level_df.merge(powp_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')
bowling_match_level_df = bowling_match_level_df.merge(mid_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')
bowling_match_level_df = bowling_match_level_df.merge(dth_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')

"""

"\n\nprint(master_df.shape)\n\n# master_df for each phase of the game\npowp_df = master_df[master_df['fpp'] == 1]\nmid_df = master_df[master_df['fmid'] == 1]\ndth_df = master_df[master_df['fdth'] == 1]\n\nprint(powp_df.shape)\nprint(mid_df.shape)\nprint(dth_df.shape)\n\n# Group the DataFrames by the bowler, batting team, and match number\n#powp_grouped = powp_df.groupby(['bow_tm', 'bow', 'm.num']).agg(tot_ov_powp = ('over_num','nunique')).reset_index()\npowp_grouped = powp_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.powp'})\nmid_grouped = mid_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.mid'})\ndth_grouped = dth_df.groupby(['tm_bow', 'bow', 'm.num']).agg({'over':'nunique'}).reset_index().rename(columns = {'over_num':'tbov.dth'})\n\n# Reset the index of bowling_match_level_df\n#bow_grouped_df.reset_index()\n\nbowling_match_level_df = bowling_match_level_df_pre.reset_index()\n\n# Merge the unique overs bowled in each phase back to the bowling_match_level_df\nbowling_match_level_df = bowling_match_level_df.merge(powp_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')\nbowling_match_level_df = bowling_match_level_df.merge(mid_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')\nbowling_match_level_df = bowling_match_level_df.merge(dth_grouped, on=['tm_bow', 'bow', 'm.num'], how='left')\n\n"

In [138]:

bowling_match_level_df = bowling_match_level_df_pre.copy()

print(bowling_match_level_df.columns.values.tolist())

['tm_bow', 'bow', 'm.num', 'tbb', 'tbrc', 'tbwkt', 'tbov', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_pp2', 'tbov_mid2', 'tbov_dth2', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbov_rhb', 'tbov_lhb']

In [139]:

# BOWLING

"""
bowling_match_level_df['f.cp.pts3w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 4 if x >= 3 else 0 )
bowling_match_level_df['f.cp.pts4w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 8 if x >= 4 else 0 )
bowling_match_level_df['f.cp.pts5w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 16 if x >= 5 else 0 )

bowling_match_level_df['tbecon'] = ( bowling_match_level_df['tbrc'] * 6 ) / bowling_match_level_df['tbb']

bowling_match_level_df['f.cp.ptsecon'] = bowling_match_level_df.apply(lambda x : (2*6)/x.tbb if (5 <= x.tbecon) & ( x.tbecon < 6) \
                                                            else ( (4*6)/x.tbb if (5 <= x.tbecon) & ( x.tbecon < 6) else 0 )\
                                                , axis =1)
"""

"\nbowling_match_level_df['f.cp.pts3w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 4 if x >= 3 else 0 )\nbowling_match_level_df['f.cp.pts4w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 8 if x >= 4 else 0 )\nbowling_match_level_df['f.cp.pts5w'] = bowling_match_level_df['tbwkt'].apply(lambda x : 16 if x >= 5 else 0 )\n\nbowling_match_level_df['tbecon'] = ( bowling_match_level_df['tbrc'] * 6 ) / bowling_match_level_df['tbb']\n\nbowling_match_level_df['f.cp.ptsecon'] = bowling_match_level_df.apply(lambda x : (2*6)/x.tbb if (5 <= x.tbecon) & ( x.tbecon < 6)                                                             else ( (4*6)/x.tbb if (5 <= x.tbecon) & ( x.tbecon < 6) else 0 )                                                , axis =1)\n"

In [140]:

display(bowling_match_level_df.head(3))

,tm_bow,bow,m.num,tbb,tbrc,tbwkt,tbov,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_pp2,tbov_mid2,tbov_dth2,tbrc_pp,tbrc_mid,tbrc_dth,tbwkt_rhb,tbwkt_lhb,tbov_rhb,tbov_lhb
0,CSK,Akash Singh,28,18,17,1,3,1,0,0,3,1,1,3,0,0,17,0,0,1,0,3,3
1,CSK,M Pathirana,28,25,21,2,4,0,0,2,1,3,3,0,2,2,0,10,11,2,0,4,2
2,CSK,M Theekshana,28,24,27,1,4,0,1,0,2,3,2,1,2,1,9,10,8,1,0,4,1

In [141]:

bowling_match_level_df.describe()

,m.num,tbb,tbrc,tbwkt,tbov,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_pp2,tbov_mid2,tbov_dth2,tbrc_pp,tbrc_mid,tbrc_dth,tbwkt_rhb,tbwkt_lhb,tbov_rhb,tbov_lhb
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,32.013245,19.423841,25.874172,1.006623,3.145695,0.271523,0.437086,0.298013,1.867550,2.304636,1.582781,0.953642,1.596026,0.596026,7.642384,12.728477,5.503311,0.735099,0.251656,2.860927,1.721854
std,18.556575,6.247599,10.200199,1.145988,0.989258,0.564904,0.788045,0.671264,0.899448,1.064540,0.733554,0.954552,1.265853,0.731927,8.363687,11.451308,7.767345,1.050092,0.465024,1.125698,1.347387
min,4.000000,5.000000,5.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.500000,17.000000,18.000000,0.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.500000
50%,33.000000,19.000000,27.000000,1.000000,3.000000,0.000000,0.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,7.000000,11.000000,0.000000,0.000000,0.000000,3.000000,2.000000
75%,48.500000,24.000000,31.500000,1.500000,4.000000,0.000000,1.000000,0.000000,3.000000,3.000000,2.000000,2.000000,3.000000,1.000000,12.000000,20.000000,10.000000,1.000000,0.000000,4.000000,3.000000
max,61.000000,30.000000,53.000000,6.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,2.000000,37.000000,51.000000,34.000000,6.000000,2.000000,4.000000,4.000000

In [142]:

# QC
# bowling_match_level_df[bowling_match_level_df['tov.powp'] == 4]

## Bowling By Match

In [143]:

df_bow_transpose = bowling_match_level_df.copy()
df_bow_transpose['game.num'] = 'G' + df_bow_transpose['m.num'].astype(str).str.zfill(2)

df_bow_transpose.sort_values(by = 'game.num', ascending = True)

bowling_gwise = df_bow_transpose.pivot( index= ['tm_bow','bow'], columns= ['game.num'], values= ['tbwkt'] ).reset_index()

# Fixing multi-level columns
#bowling_gwise.columns = bowling_gwise.columns.map(lambda x: f'{x[1]}.{x[0]}')

# Flatten only multi-level column index
bowling_gwise.columns = bowling_gwise.columns.map( lambda x: f'{x[0]}.{x[1]}' if len(x) > 1 else x[0] )

# Reset index
bowling_gwise = bowling_gwise.reset_index(drop = True).rename(columns = {'tm_bow.':'tm_bow','bow.':'bow'})

In [144]:

bowling_gwise['l3wkts.avg'] = bowling_gwise.iloc[:, -3:].mean(axis=1).round(1)
bowling_gwise['l5wkts.avg'] = bowling_gwise.iloc[:, -5:].mean(axis=1).round(1)

In [145]:

print(bowling_gwise.shape)
print()
print(bowling_gwise.columns.values.tolist())

(74, 16)

['tm_bow', 'bow', 'tbwkt.G04', 'tbwkt.G09', 'tbwkt.G13', 'tbwkt.G18', 'tbwkt.G24', 'tbwkt.G28', 'tbwkt.G33', 'tbwkt.G38', 'tbwkt.G46', 'tbwkt.G51', 'tbwkt.G58', 'tbwkt.G61', 'l3wkts.avg', 'l5wkts.avg']

In [146]:

display(bowling_gwise)

,tm_bow,bow,tbwkt.G04,tbwkt.G09,tbwkt.G13,tbwkt.G18,tbwkt.G24,tbwkt.G28,tbwkt.G33,tbwkt.G38,tbwkt.G46,tbwkt.G51,tbwkt.G58,tbwkt.G61,l3wkts.avg,l5wkts.avg
0,CSK,Akash Singh,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CSK,M Pathirana,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CSK,M Theekshana,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CSK,MM Ali,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CSK,RA Jadeja,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CSK,TU Deshpande,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,DC,A Nortje,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,DC,AR Patel,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
8,DC,I Sharma,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,DC,Kuldeep Yadav,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,DC,MR Marsh,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
11,DC,Mukesh Kumar,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12,GT,MM Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0
13,GT,Mohammed Shami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0
14,GT,Noor Ahmad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
15,GT,R Tewatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
16,GT,Rashid Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
17,GT,Yash Dayal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
18,KKR,AD Russell,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
19,KKR,AS Roy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
20,KKR,CV Varun,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
21,KKR,Harshit Rana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
22,KKR,LH Ferguson,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,KKR,SN Thakur,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
24,KKR,SP Narine,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
25,KKR,Suyash Sharma,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,KKR,UT Yadav,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,KKR,VG Arora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
28,LSG,A Mishra,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0
29,LSG,Avesh Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0
30,LSG,DJ Hooda,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,LSG,JD Unadkat,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,LSG,KH Pandya,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,2.0
33,LSG,KR Mayers,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
34,LSG,Ravi Bishnoi,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
35,LSG,Yash Thakur,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0
36,LSG,Yudhvir Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0
37,MI,Arjun Tendulkar,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,MI,C Green,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,MI,HR Shokeen,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,MI,JP Behrendorff,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,MI,PP Chawla,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,MI,RP Meredith,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,PBKS,Arshdeep Singh,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,PBKS,Harpreet Brar,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,PBKS,Mohit Rathee,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,PBKS,NT Ellis,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,PBKS,RD Chahar,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,PBKS,SM Curran,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,RR,JO Holder,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,RR,K Yadav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0
51,RR,KM Asif,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,RR,M Ashwin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0
53,RR,NA Saini,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,RR,OC McCoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0
55,RR,R Ashwin,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0
56,RR,Sandeep Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0
57,RR,TA Boult,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,RR,YS Chahal,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4.0,4.0
59,SRH,AJ Hosein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
60,SRH,AK Markram,NaN,0.0,NaN,NaN,NaN,0.0,0.0,NaN,1.0,NaN,NaN,0.0,0.0,0.3
61,SRH,AU Rashid,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,SRH,Abhishek Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,1.0,0.0,0.3,0.3
63,SRH,B Kumar,0.0,1.0,1.0,1.0,1.0,0.0,4.0,1.0,1.0,1.0,0.0,6.0,2.3,2.1
64,SRH,Fazalhaq Farooqi,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.5,0.5
65,SRH,GD Phillips,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0
66,SRH,Kartik Tyagi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
67,SRH,M Jansen,NaN,NaN,2.0,2.0,2.0,0.0,0.0,NaN,2.0,1.0,NaN,1.0,1.0,1.2
68,SRH,M Markande,NaN,NaN,4.0,2.0,0.0,2.0,0.0,2.0,1.0,0.0,1.0,0.0,0.3,0.5
69,SRH,Mayank Dagar,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,SRH,T Natarajan,2.0,0.0,0.0,1.0,2.0,NaN,2.0,1.0,3.0,0.0,0.0,1.0,0.3,0.9
71,SRH,Umran Malik,1.0,1.0,2.0,1.0,NaN,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
72,SRH,Vivrant Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0
73,SRH,Washington Sundar,0.0,0.0,0.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## MERGE

In [147]:

print(batting_match_level_df.reset_index(drop = True).columns.values.tolist())
print()

print(bowling_match_level_df.reset_index(drop = True).columns.values.tolist())
print()

['tm_bat', 'bat', 'm.num', 'bat_order', 'tr', 'tout', 'tinn', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tout_pp', 'tout_mid', 'tout_dth', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tr_pace', 'tr_spin', 'tout_pace', 'tout_spin']

['tm_bow', 'bow', 'm.num', 'tbb', 'tbrc', 'tbwkt', 'tbov', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_pp2', 'tbov_mid2', 'tbov_dth2', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbov_rhb', 'tbov_lhb']

In [148]:

### MERGE BAT AND BOW DF

# Reset the index for both DataFrames to prepare for merging
batmldf = batting_match_level_df.reset_index(drop = True)
bowmldf = bowling_match_level_df.reset_index(drop = True)

#dropcols = ['tm_bow','bow']
dropcols = []

# Merge the batting figures with the bowling stats
merged_predf = pd.merge( batmldf, bowmldf, 
                     left_on=['tm_bat', 'bat', 'm.num'],
                     right_on=['tm_bow', 'bow', 'm.num'],
                     how='outer', 
                     suffixes=('_bat', '_bowl'))#.rename(columns = {'bat_tm':'tm', 'bat':'name' }).drop(columns = dropcols)

print(merged_predf.shape)
print(merged_predf.columns.values.tolist())

# Replace NaN values with 0 in the merged DataFrame
#merged_predf.fillna(0, inplace=True)

(280, 43)
['tm_bat', 'bat', 'm.num', 'bat_order', 'tr', 'tout', 'tinn', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tout_pp', 'tout_mid', 'tout_dth', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tr_pace', 'tr_spin', 'tout_pace', 'tout_spin', 'tm_bow', 'bow', 'tbb', 'tbrc', 'tbwkt', 'tbov', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_pp2', 'tbov_mid2', 'tbov_dth2', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbov_rhb', 'tbov_lhb']

In [149]:

# Run only once

# Function to combine two columns with condition
def combine_columns(row, col1, col2):
    return row[col1] if pd.notna(row[col1]) and row[col1] != '' else row[col2]

# Create a new column using the custom function
merged_predf['tm'] = merged_predf.apply(lambda row: combine_columns(row, 'tm_bat', 'tm_bow'), axis=1)
merged_predf['name'] = merged_predf.apply(lambda row: combine_columns(row, 'bat', 'bow'), axis=1)

In [150]:

display(merged_predf.tail(5))

,tm_bat,bat,m.num,bat_order,tr,tout,tinn,tbf,tr_pp,tr_mid,tr_dth,tout_pp,tout_mid,tout_dth,tbf_pp,tbf_mid,tbf_dth,tr_pace,tr_spin,tout_pace,tout_spin,tm_bow,bow,tbb,tbrc,tbwkt,tbov,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_pp2,tbov_mid2,tbov_dth2,tbrc_pp,tbrc_mid,tbrc_dth,tbwkt_rhb,tbwkt_lhb,tbov_rhb,tbov_lhb,tm,name
275,NaN,NaN,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RR,R Ashwin,27.0,32.0,1.0,4.0,0.0,1.0,0.0,2.0,4.0,1.0,1.0,3.0,0.0,8.0,24.0,0.0,0.0,1.0,4.0,4.0,RR,R Ashwin
276,NaN,NaN,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RR,Sandeep Sharma,25.0,47.0,0.0,4.0,0.0,0.0,0.0,4.0,1.0,2.0,3.0,0.0,1.0,29.0,0.0,18.0,0.0,0.0,4.0,3.0,RR,Sandeep Sharma
277,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RR,TA Boult,24.0,21.0,2.0,4.0,2.0,0.0,0.0,4.0,1.0,2.0,3.0,0.0,1.0,8.0,0.0,13.0,1.0,1.0,4.0,1.0,RR,TA Boult
278,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RR,YS Chahal,24.0,17.0,4.0,4.0,0.0,3.0,1.0,1.0,4.0,2.0,0.0,3.0,1.0,0.0,14.0,3.0,4.0,0.0,4.0,0.0,RR,YS Chahal
279,NaN,NaN,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RR,YS Chahal,24.0,29.0,4.0,4.0,1.0,1.0,2.0,2.0,3.0,2.0,1.0,2.0,1.0,7.0,19.0,3.0,4.0,0.0,4.0,1.0,RR,YS Chahal

In [151]:

#merged_df.to_csv(exp_location + 'merged.csv', index = False)

In [152]:

print(merged_predf.columns.values.tolist())

['tm_bat', 'bat', 'm.num', 'bat_order', 'tr', 'tout', 'tinn', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tout_pp', 'tout_mid', 'tout_dth', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tr_pace', 'tr_spin', 'tout_pace', 'tout_spin', 'tm_bow', 'bow', 'tbb', 'tbrc', 'tbwkt', 'tbov', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_pp2', 'tbov_mid2', 'tbov_dth2', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbov_rhb', 'tbov_lhb', 'tm', 'name']

### MAIN RUP

In [153]:

#### Rollup at a Player Level

# Replace NaN values with False in the mask
mask = merged_predf.tm.str.contains(team_for_code).fillna(False)

# Apply the mask to filter the DataFrame
#merged_for_team_only = merged_df[merged_df.tm.str.contains(team_for_code)]
merged_for_team_only = merged_predf[mask]

pstats = merged_for_team_only.groupby(['tm', 'name']).agg({
    #'lpos': np.min,
    'm.num': 'nunique',
    'tr': 'sum',
    'tout': 'sum',
    'tbf': 'sum',
    
    #'tbinn': 'sum',
    'tr_pp': 'sum',
    'tr_mid': 'sum',
    'tr_dth': 'sum',
    
    'tr_pace': 'sum',
    'tr_spin': 'sum',
    
    'tout_pp': 'sum',
    'tout_mid': 'sum',
    'tout_dth': 'sum',
    
    'tout_pace': 'sum',
    'tout_spin' : 'sum', 
    
    'tbf_pp': 'sum',
    'tbf_mid': 'sum',
    'tbf_dth': 'sum',
    
    
    #'f.cp.pts30': 'sum',
    #'f.cp.pts50': 'sum',
    #'f.cp.pts100': 'sum',
    #'f.cp.pts0': 'sum',
    
    'tbwkt': 'sum',
    'tbov': 'sum',
    'tbrc': 'sum',
    'tbb': 'sum',
    
    'tbwkt_pp': 'sum',
    'tbwkt_mid': 'sum',
    'tbwkt_dth': 'sum',
    
    'tbov_pp':'sum', 
    'tbov_mid':'sum', 
    'tbov_dth':'sum',
    
    'tbov_rhb': 'sum',
    'tbov_lhb': 'sum',
    
    'tbwkt_rhb':'sum',
    'tbwkt_lhb':'sum',
    
    'tbrc_pp': 'sum',
    'tbrc_mid': 'sum',
    'tbrc_dth': 'sum'    
    
}).reset_index().rename(columns = {'lpos' : 'batnum_min', 'm.num':'tinn'})

print(pstats.shape)

(22, 36)

In [154]:

print(pstats.columns.values.tolist())

['tm', 'name', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth']

In [155]:

if with_pre_existing_tags:
    #### Add the line-ups data to the pstats dataset before more merges

    lups = pd.read_excel(loc_lups + 'Tags.xlsx')

    print(lups.shape)
    print(lups.columns.values.tolist())

    lpstats = pd.merge(lups, pstats, how = 'right', left_on = ['tm_abbr','name'], right_on = ['tm','name'])

    print(lpstats.shape)
    print()
    print(lpstats.columns.values.tolist())
    
else:
    lpstats = pstats.copy()

(187, 10)
['tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']
(22, 45)

['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth']

In [156]:
# Now check the gwise battin and bowling stats to append to pstats

In [157]:

print(batting_gwise.columns.values.tolist())
print()
print(bowling_gwise.columns.values.tolist())
print()

['tm_bat', 'bat', 'tr.G04', 'tr.G09', 'tr.G13', 'tr.G18', 'tr.G24', 'tr.G28', 'tr.G33', 'tr.G38', 'tr.G46', 'tr.G51', 'tr.G58', 'tr.G61', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg']

['tm_bow', 'bow', 'tbwkt.G04', 'tbwkt.G09', 'tbwkt.G13', 'tbwkt.G18', 'tbwkt.G24', 'tbwkt.G28', 'tbwkt.G33', 'tbwkt.G38', 'tbwkt.G46', 'tbwkt.G51', 'tbwkt.G58', 'tbwkt.G61', 'l3wkts.avg', 'l5wkts.avg']

In [158]:

# Merge the batting & bowling gwise stats
merged_interim_df1 = pd.merge( lpstats, batting_gwise,
                     left_on=['tm_abbr', 'name'],
                     right_on=['tm_bat', 'bat'],
                     how='left' )

print()
print(merged_interim_df1.shape)
print(merged_interim_df1.columns.values.tolist())


# Merge the batting & bowling gwise stats
merged_interim_df2 = pd.merge( merged_interim_df1, bowling_gwise, 
                     left_on=['tm_abbr', 'name'],
                     right_on=['tm_bow', 'bow'],
                     how='left' )

print()
print(merged_interim_df2.shape)
print(merged_interim_df2.columns.values.tolist())

(22, 63)
['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tm_bat', 'bat', 'tr.G04', 'tr.G09', 'tr.G13', 'tr.G18', 'tr.G24', 'tr.G28', 'tr.G33', 'tr.G38', 'tr.G46', 'tr.G51', 'tr.G58', 'tr.G61', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg']

(22, 79)
['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tm_bat', 'bat', 'tr.G04', 'tr.G09', 'tr.G13', 'tr.G18', 'tr.G24', 'tr.G28', 'tr.G33', 'tr.G38', 'tr.G46', 'tr.G51', 'tr.G58', 'tr.G61', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tm_bow', 'bow', 'tbwkt.G04', 'tbwkt.G09', 'tbwkt.G13', 'tbwkt.G18', 'tbwkt.G24', 'tbwkt.G28', 'tbwkt.G33', 'tbwkt.G38', 'tbwkt.G46', 'tbwkt.G51', 'tbwkt.G58', 'tbwkt.G61', 'l3wkts.avg', 'l5wkts.avg']

In [159]:

print(merged_interim_df2.tm_abbr.unique())

['SRH' nan]

In [160]:

display(merged_interim_df2.head(5))

,tm_x,tm_abbr,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos,tm_y,tinn,tr,tout,tbf,tr_pp,tr_mid,tr_dth,tr_pace,tr_spin,tout_pp,tout_mid,tout_dth,tout_pace,tout_spin,tbf_pp,tbf_mid,tbf_dth,tbwkt,tbov,tbrc,tbb,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbov_pp,tbov_mid,tbov_dth,tbov_rhb,tbov_lhb,tbwkt_rhb,tbwkt_lhb,tbrc_pp,tbrc_mid,tbrc_dth,tm_bat,bat,tr.G04,tr.G09,tr.G13,tr.G18,tr.G24,tr.G28,tr.G33,tr.G38,tr.G46,tr.G51,tr.G58,tr.G61,bat_order_counts,most_batted_position,l3tr.avg,l5tr.avg,tm_bow,bow,tbwkt.G04,tbwkt.G09,tbwkt.G13,tbwkt.G18,tbwkt.G24,tbwkt.G28,tbwkt.G33,tbwkt.G38,tbwkt.G46,tbwkt.G51,tbwkt.G58,tbwkt.G61,l3wkts.avg,l5wkts.avg
0,Sunrisers Hyderabad,SRH,AJ Hosein,Akeal Hosein,LHB,LAO,Left,Spin,orthodox,NaN,SRH,1,16.0,0.0,11.0,0.0,0.0,16.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,1.0,4.0,40.0,24.0,0.0,1.0,0.0,4.0,2.0,1.0,4.0,0.0,1.0,0.0,30.0,10.0,0.0,SRH,AJ Hosein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,8(1),8.0,NaN,16.0,SRH,AJ Hosein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Sunrisers Hyderabad,SRH,AK Markram,Aiden Markram (c),RHB,RAO,Right,Spin,off-break,NaN,SRH,11,217.0,10.0,173.0,16.0,179.0,22.0,80.0,132.0,1.0,7.0,2.0,4.0,6.0,28.0,134.0,11.0,1.0,8.0,69.0,48.0,0.0,1.0,0.0,6.0,8.0,5.0,6.0,8.0,0.0,1.0,17.0,52.0,0.0,SRH,AK Markram,NaN,0.0,37.0,50.0,22.0,12.0,3.0,8.0,41.0,6.0,28.0,10.0,"3(1), 4(8), 5(2)",4.0,15.0,19.0,SRH,AK Markram,NaN,0.0,NaN,NaN,NaN,0.0,0.0,NaN,1.0,NaN,NaN,0.0,0.0,0.3
2,Sunrisers Hyderabad,SRH,AU Rashid,Adil Rashid,RHB,RALB,Right,Spin,leg-break,NaN,SRH,2,22.0,2.0,17.0,0.0,18.0,4.0,7.0,15.0,0.0,1.0,1.0,0.0,2.0,0.0,14.0,3.0,2.0,7.0,56.0,42.0,0.0,2.0,0.0,2.0,7.0,2.0,7.0,6.0,2.0,0.0,0.0,56.0,0.0,SRH,AU Rashid,18.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8(2),8.0,NaN,NaN,SRH,AU Rashid,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sunrisers Hyderabad,SRH,Abdul Samad,Abdul Samad,RHB,RALB,Right,Spin,leg-break,NaN,SRH,8,169.0,5.0,131.0,0.0,56.0,113.0,131.0,38.0,0.0,1.0,4.0,4.0,1.0,0.0,63.0,68.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SRH,Abdul Samad,32.0,21.0,NaN,NaN,9.0,NaN,NaN,28.0,21.0,17.0,37.0,4.0,7(8),7.0,19.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sunrisers Hyderabad,SRH,Abhishek Sharma,Abhishek Sharma,LHB,LAO,Left,Spin,orthodox,NaN,SRH,10,215.0,10.0,151.0,106.0,90.0,19.0,106.0,109.0,4.0,5.0,1.0,5.0,5.0,76.0,65.0,10.0,2.0,9.0,94.0,56.0,0.0,2.0,0.0,4.0,9.0,4.0,9.0,2.0,2.0,0.0,0.0,94.0,0.0,SRH,Abhishek Sharma,0.0,NaN,NaN,32.0,1.0,34.0,5.0,67.0,9.0,55.0,7.0,5.0,"1(3), 2(4), 4(1), 5(2)",2.0,22.0,29.0,SRH,Abhishek Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,1.0,0.0,0.3,0.3

## Percentage split

In [161]:

pct_splits = merged_interim_df2.copy()

In [162]:

pct_splits['tr%.pp'] = round(100*pct_splits['tr_pp'] / ( pct_splits['tr'] ),0)
pct_splits['tr%.mid'] = round(100*pct_splits['tr_mid'] / ( pct_splits['tr'] ),0)
pct_splits['tr%.dth'] = round(100*pct_splits['tr_dth'] / ( pct_splits['tr'] ),0)

pct_splits['tr%.pace'] = round(100*pct_splits['tr_pace'] / ( pct_splits['tr'] ),0)
pct_splits['tr%.spin'] = round(100*pct_splits['tr_spin'] / ( pct_splits['tr'] ),0)

In [163]:

pct_splits['tbwkt%.pp'] = round(100*pct_splits['tbwkt_pp'] / ( pct_splits['tbwkt'] ),0)
pct_splits['tbwkt%.mid'] = round(100*pct_splits['tbwkt_mid'] / ( pct_splits['tbwkt'] ),0)
pct_splits['tbwkt%.dth'] = round(100*pct_splits['tbwkt_dth'] / ( pct_splits['tbwkt'] ),0)

pct_splits['tbwkt%.lhb'] = round(100*pct_splits['tbwkt_lhb'] / ( pct_splits['tbwkt'] ),0)
pct_splits['tbwkt%.rhb'] = round(100*pct_splits['tbwkt_rhb'] / ( pct_splits['tbwkt'] ),0)

In [164]:

pct_splits['tbov%.pp'] = round(100*pct_splits['tbov_pp'] / ( pct_splits['tbov'] ),0)
pct_splits['tbov%.mid'] = round(100*pct_splits['tbov_mid'] / ( pct_splits['tbov'] ),0)
pct_splits['tbov%.dth'] = round(100*pct_splits['tbov_dth'] / ( pct_splits['tbov'] ),0)

pct_splits['tbov%.rhb'] = round(100*pct_splits['tbov_rhb'] / ( pct_splits['tbov'] ),0)
pct_splits['tbov%.lhb'] = round(100*pct_splits['tbov_lhb'] / ( pct_splits['tbov'] ),0)

In [165]:

print(pct_splits.shape)
print()
print(pct_splits.columns.values.tolist())
print()

(22, 94)

['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tm_bat', 'bat', 'tr.G04', 'tr.G09', 'tr.G13', 'tr.G18', 'tr.G24', 'tr.G28', 'tr.G33', 'tr.G38', 'tr.G46', 'tr.G51', 'tr.G58', 'tr.G61', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tm_bow', 'bow', 'tbwkt.G04', 'tbwkt.G09', 'tbwkt.G13', 'tbwkt.G18', 'tbwkt.G24', 'tbwkt.G28', 'tbwkt.G33', 'tbwkt.G38', 'tbwkt.G46', 'tbwkt.G51', 'tbwkt.G58', 'tbwkt.G61', 'l3wkts.avg', 'l5wkts.avg', 'tr%.pp', 'tr%.mid', 'tr%.dth', 'tr%.pace', 'tr%.spin', 'tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth', 'tbwkt%.lhb', 'tbwkt%.rhb', 'tbov%.pp', 'tbov%.mid', 'tbov%.dth', 'tbov%.rhb', 'tbov%.lhb']

In [166]:

pdetails = ['name','bowltype','bowlarm','bowlcat']

tr_phs = ['tr_pp','tr_mid','tr_dth']
tbf_phs = ['tbf_pp','tbf_mid','tbf_dth']
tout_phs = ['tout_pp','tout_mid','tout_dth']

tbov_phs = ['tbov.powp','tbov.mid','tbov.dth']
tbwkt_phs = ['tbwkt_powp','tbwkt_mid','tbwkt_dth']
tbrc_phs = ['tbrc_powp','tbrc_mid','tbrc_dth']

#f_cp = ['f.cp.pts30', 'f.cp.pts50', 'f.cp.pts100', 'f.cp.pts0']

misc = ['tm_bat','bat','tm_bow','bow']

In [167]:

print(pct_splits.columns.values.tolist())

['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tinn', 'tr', 'tout', 'tbf', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbwkt', 'tbov', 'tbrc', 'tbb', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbov_pp', 'tbov_mid', 'tbov_dth', 'tbov_rhb', 'tbov_lhb', 'tbwkt_rhb', 'tbwkt_lhb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tm_bat', 'bat', 'tr.G04', 'tr.G09', 'tr.G13', 'tr.G18', 'tr.G24', 'tr.G28', 'tr.G33', 'tr.G38', 'tr.G46', 'tr.G51', 'tr.G58', 'tr.G61', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tm_bow', 'bow', 'tbwkt.G04', 'tbwkt.G09', 'tbwkt.G13', 'tbwkt.G18', 'tbwkt.G24', 'tbwkt.G28', 'tbwkt.G33', 'tbwkt.G38', 'tbwkt.G46', 'tbwkt.G51', 'tbwkt.G58', 'tbwkt.G61', 'l3wkts.avg', 'l5wkts.avg', 'tr%.pp', 'tr%.mid', 'tr%.dth', 'tr%.pace', 'tr%.spin', 'tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth', 'tbwkt%.lhb', 'tbwkt%.rhb', 'tbov%.pp', 'tbov%.mid', 'tbov%.dth', 'tbov%.rhb', 'tbov%.lhb']

In [168]:

#col_move = 'tr'
#col_behind = 'tr%.dth'

"""
move_cols_dict = {'tinn':'tbrc_dth'
                  , 'tout':'tinn'                  
                  , 'tr':'l5tr.avg'
                  , ['tr_pace', 'tr_spin']:'tr'                  
                  , 'tbwkt':'l5wkts.avg'
                  , ['wkts_pp', 'wkts_mid', 'wkts_dth']:'tbwkt'                  
                  , ['tbwkt_rhb', 'tbwkt_lhb']:'tbwkt'                  
                  , 'tbov':'tbwkt_lhb'
                  , ['tbov_pp', 'tbov_mid', 'tbov_dth']:'tbov'
                  , ['tbov_rhb', 'tbov_lhb']:'tbov_dth'
                 }

for key,value in move_cols_dict.items():
    if isinstance(key, list):  # if key is a list, iterate over each item in the list
        for col in key:
            col_data = pct_splits.pop(str(col))
            col_behind_index = pct_splits.columns.get_loc(str(value))
            pct_splits.insert(col_behind_index + 1, str(col), col_data)
    else:
        col_data = pct_splits.pop(str(key))
        col_behind_index = pct_splits.columns.get_loc(str(value))
        pct_splits.insert(col_behind_index + 1, str(key), col_data)
"""

"\nmove_cols_dict = {'tinn':'tbrc_dth'\n                  , 'tout':'tinn'                  \n                  , 'tr':'l5tr.avg'\n                  , ['tr_pace', 'tr_spin']:'tr'                  \n                  , 'tbwkt':'l5wkts.avg'\n                  , ['wkts_pp', 'wkts_mid', 'wkts_dth']:'tbwkt'                  \n                  , ['tbwkt_rhb', 'tbwkt_lhb']:'tbwkt'                  \n                  , 'tbov':'tbwkt_lhb'\n                  , ['tbov_pp', 'tbov_mid', 'tbov_dth']:'tbov'\n                  , ['tbov_rhb', 'tbov_lhb']:'tbov_dth'\n                 }\n\nfor key,value in move_cols_dict.items():\n    if isinstance(key, list):  # if key is a list, iterate over each item in the list\n        for col in key:\n            col_data = pct_splits.pop(str(col))\n            col_behind_index = pct_splits.columns.get_loc(str(value))\n            pct_splits.insert(col_behind_index + 1, str(col), col_data)\n    else:\n        col_data = pct_splits.pop(str(key))\n        col_behind_index = pct_splits.columns.get_loc(str(value))\n        pct_splits.insert(col_behind_index + 1, str(key), col_data)\n"

In [169]:

# List of tuples: ([columns to move], target column)
move_cols_list = [(['tinn'], 'tbrc_dth'),
                  (['tout','tout_pp','tout_mid','tout_dth','tout_pace','tout_spin'], 'tinn'),
                  
                  (['tr','tr_pp','tr_mid','tr_dth','tr_pace', 'tr_spin'], 'l5tr.avg'),
                  (['tr%.pp', 'tr%.mid', 'tr%.dth', 'tr%.pace', 'tr%.spin'], 'tr_spin'),
                  
                  (['tbwkt', 'tbwkt_pp', 'tbwkt_mid','tbwkt_dth', 'tbwkt_rhb', 'tbwkt_lhb'], 'l5wkts.avg'),
                  (['tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth', 'tbwkt%.lhb', 'tbwkt%.rhb'], 'tbwkt_lhb'),
                  
                  (['tbov', 'tbov_dth', 'tbov_mid', 'tbov_pp', 'tbov_lhb', 'tbov_rhb'], 'tbwkt%.rhb'),
                  (['tbov%.pp', 'tbov%.mid','tbov%.dth', 'tbov%.rhb', 'tbov%.lhb'], 'tbov_rhb')
                 ]


# Iterate over the list
for cols, target in move_cols_list:
    for col in reversed(cols):
        col_data = pct_splits.pop(col)
        target_index = pct_splits.columns.get_loc(target)
        pct_splits.insert(target_index + 1, col, col_data)
    #print(pct_splits.columns.values.tolist())
    #print(col)
    #print()

In [170]:

display(pct_splits.head(2))

,tm_x,tm_abbr,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos,tm_y,tbf,tbf_pp,tbf_mid,tbf_dth,tbrc,tbb,tbrc_pp,tbrc_mid,tbrc_dth,tinn,tout,tout_pp,tout_mid,tout_dth,tout_pace,tout_spin,tm_bat,bat,tr.G04,tr.G09,tr.G13,tr.G18,tr.G24,tr.G28,tr.G33,tr.G38,tr.G46,tr.G51,tr.G58,tr.G61,bat_order_counts,most_batted_position,l3tr.avg,l5tr.avg,tr,tr_pp,tr_mid,tr_dth,tr_pace,tr_spin,tr%.pp,tr%.mid,tr%.dth,tr%.pace,tr%.spin,tm_bow,bow,tbwkt.G04,tbwkt.G09,tbwkt.G13,tbwkt.G18,tbwkt.G24,tbwkt.G28,tbwkt.G33,tbwkt.G38,tbwkt.G46,tbwkt.G51,tbwkt.G58,tbwkt.G61,l3wkts.avg,l5wkts.avg,tbwkt,tbwkt_pp,tbwkt_mid,tbwkt_dth,tbwkt_rhb,tbwkt_lhb,tbwkt%.pp,tbwkt%.mid,tbwkt%.dth,tbwkt%.lhb,tbwkt%.rhb,tbov,tbov_dth,tbov_mid,tbov_pp,tbov_lhb,tbov_rhb,tbov%.pp,tbov%.mid,tbov%.dth,tbov%.rhb,tbov%.lhb
0,Sunrisers Hyderabad,SRH,AJ Hosein,Akeal Hosein,LHB,LAO,Left,Spin,orthodox,NaN,SRH,11.0,0.0,0.0,11.0,40.0,24.0,30.0,10.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,SRH,AJ Hosein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,8(1),8.0,NaN,16.0,16.0,0.0,0.0,16.0,16.0,0.0,0.0,0.0,100.0,100.0,0.0,SRH,AJ Hosein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,1.0,0.0,0.0,100.0,0.0,0.0,100.0,4.0,1.0,2.0,4.0,0.0,4.0,100.0,50.0,25.0,100.0,0.0
1,Sunrisers Hyderabad,SRH,AK Markram,Aiden Markram (c),RHB,RAO,Right,Spin,off-break,NaN,SRH,173.0,28.0,134.0,11.0,69.0,48.0,17.0,52.0,0.0,11,10.0,1.0,7.0,2.0,4.0,6.0,SRH,AK Markram,NaN,0.0,37.0,50.0,22.0,12.0,3.0,8.0,41.0,6.0,28.0,10.0,"3(1), 4(8), 5(2)",4.0,15.0,19.0,217.0,16.0,179.0,22.0,80.0,132.0,7.0,82.0,10.0,37.0,61.0,SRH,AK Markram,NaN,0.0,NaN,NaN,NaN,0.0,0.0,NaN,1.0,NaN,NaN,0.0,0.0,0.3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,100.0,0.0,100.0,0.0,8.0,5.0,8.0,6.0,8.0,6.0,75.0,100.0,62.0,75.0,100.0

In [171]:

print(pct_splits.columns.values.tolist())

['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tbf', 'tbf_pp', 'tbf_mid', 'tbf_dth', 'tbrc', 'tbb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tinn', 'tout', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin', 'tm_bat', 'bat', 'tr.G04', 'tr.G09', 'tr.G13', 'tr.G18', 'tr.G24', 'tr.G28', 'tr.G33', 'tr.G38', 'tr.G46', 'tr.G51', 'tr.G58', 'tr.G61', 'bat_order_counts', 'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tr', 'tr_pp', 'tr_mid', 'tr_dth', 'tr_pace', 'tr_spin', 'tr%.pp', 'tr%.mid', 'tr%.dth', 'tr%.pace', 'tr%.spin', 'tm_bow', 'bow', 'tbwkt.G04', 'tbwkt.G09', 'tbwkt.G13', 'tbwkt.G18', 'tbwkt.G24', 'tbwkt.G28', 'tbwkt.G33', 'tbwkt.G38', 'tbwkt.G46', 'tbwkt.G51', 'tbwkt.G58', 'tbwkt.G61', 'l3wkts.avg', 'l5wkts.avg', 'tbwkt', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth', 'tbwkt_rhb', 'tbwkt_lhb', 'tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth', 'tbwkt%.lhb', 'tbwkt%.rhb', 'tbov', 'tbov_dth', 'tbov_mid', 'tbov_pp', 'tbov_lhb', 'tbov_rhb', 'tbov%.pp', 'tbov%.mid', 'tbov%.dth', 'tbov%.rhb', 'tbov%.lhb']

In [172]:

#dfexp = pct_splits.drop(columns = pdetails + tr_phs + tbf_phs + tout_phs + tbov_phs + tbwkt_phs + tbrc_phs + f_cp + misc)
dfexp = pct_splits.copy().drop(columns = misc)

In [173]:

## Add columns helpful for analysis

dfexp['tr_tinn_ratio'] = np.round(dfexp['tr'] / dfexp['tinn'],0)
dfexp['4xtbwkt_tbov_ratio'] = np.round(4*dfexp['tbwkt'] / dfexp['tbov'],1)

In [174]:

if with_pre_existing_tags:
    exp_file = f'pstats_v01_{team_for_code}_fyml.xlsx'
    dfexp.sort_values(by = ['most_batted_position','tinn'], ascending = [True, False]).to_excel(loc_exp + exp_file, index = False)
else:
    exp_file = f'pstats_v01_wo_tags_{team_for_code}_fyml.xlsx'
    dfexp.sort_values(by = ['tinn'], ascending = False).to_excel(loc_exp + exp_file, index = False)

In [175]:

dfexp_transpose = dfexp.transpose()

In [176]:

dfexp_transpose.index

Index(['tm_x', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm',
       'bowlcat', 'bowlcat.l2', 'lpos', 'tm_y', 'tbf', 'tbf_pp', 'tbf_mid',
       'tbf_dth', 'tbrc', 'tbb', 'tbrc_pp', 'tbrc_mid', 'tbrc_dth', 'tinn',
       'tout', 'tout_pp', 'tout_mid', 'tout_dth', 'tout_pace', 'tout_spin',
       'tr.G04', 'tr.G09', 'tr.G13', 'tr.G18', 'tr.G24', 'tr.G28', 'tr.G33',
       'tr.G38', 'tr.G46', 'tr.G51', 'tr.G58', 'tr.G61', 'bat_order_counts',
       'most_batted_position', 'l3tr.avg', 'l5tr.avg', 'tr', 'tr_pp', 'tr_mid',
       'tr_dth', 'tr_pace', 'tr_spin', 'tr%.pp', 'tr%.mid', 'tr%.dth',
       'tr%.pace', 'tr%.spin', 'tbwkt.G04', 'tbwkt.G09', 'tbwkt.G13',
       'tbwkt.G18', 'tbwkt.G24', 'tbwkt.G28', 'tbwkt.G33', 'tbwkt.G38',
       'tbwkt.G46', 'tbwkt.G51', 'tbwkt.G58', 'tbwkt.G61', 'l3wkts.avg',
       'l5wkts.avg', 'tbwkt', 'tbwkt_pp', 'tbwkt_mid', 'tbwkt_dth',
       'tbwkt_rhb', 'tbwkt_lhb', 'tbwkt%.pp', 'tbwkt%.mid', 'tbwkt%.dth',
       'tbwkt%.lhb', 'tbwkt%.rhb', 'tbov', 'tbov_dth', 'tbov_mid', 'tbov_pp',
       'tbov_lhb', 'tbov_rhb', 'tbov%.pp', 'tbov%.mid', 'tbov%.dth',
       'tbov%.rhb', 'tbov%.lhb', 'tr_tinn_ratio', '4xtbwkt_tbov_ratio'],
      dtype='object')

In [177]:

if with_pre_existing_tags:
    dfexp_transpose = dfexp.sort_values(by = ['most_batted_position','tinn'], ascending = [True, False]).transpose()
    index_dict ={
        'tm': 'team',
        'name': 'player_name',
        'fname': 'full_name',
        'battype': 'battter_type',
        'bowltype': 'bowler_type',
        'bowlarm': 'bowling_arm',
        'bowlcat': 'bowling_type',
        'bowlcat.l2': 'bowling_type_deep',
        'lpos': 'last_known_playing_pos',
        'batnum_min': 'batting_order',
        'tbf': 't_balls_faced',
        'tr_pp': 'runs_pp',
        'tbf_pp': 'balls_faced_pp',
        'tout_pp': 'outs_pp',
        'tr_mid': 'runs_mid',
        'tbf_mid': 'balls_faced_mid',
        'tout_mid': 'outs_mid',
        'tr_dth': 'runs_dth',
        'tbf_dth': 'balls_faced_dth',
        'tout_dth': 'outs_dth',
        'f.cp.pts30': 'fantasy_pts_30',
        'f.cp.pts50': 'fantasy_pts_50',
        'f.cp.pts100': 'fantasy_pts_100',
        'f.cp.pts0': 'fantasy_pts_0',
        'tbb': 't_balls_bowled',
        'tbrc': 't_runs_conceded',
        'tbov.pp': 'overs_bowled_pp',
        'tbov.mid': 'overs_bowled_mid',
        'tbov.dth': 'overs_bowled_dth',
        'tbrc_pp': 'runs_conceded_pp',
        'tbrc_mid': 'runs_conceded_mid',
        'tbrc_dth': 'runs_conceded_dth',
        'tbwkt_pp': 'wkts_pp',
        'tbwkt_mid': 'wkts_mid',
        'tbwkt_dth': 'wkts_dth',
        'bat_tm': 'batting_team',
        'bat': 'batsman',
        'bow_tm': 'bowling_team',
        'bow': 'bowler',
        'tr%.pp': 'runmix_%_pp',
        'tr%.mid': 'runmix_%_mid',
        'tr%.dth': 'runmix_%_dth',
        'tr': 't_runs',
        'tinn': 't_innings',
        'tbov%.pp': 'overmix_%_pp',
        'tbov%.mid': 'overmix_%_rate_mid',
        'tbov%.dth': 'overmix_%_rate_dth',
        'tbwkt%.pp': 'wicketmix_%_rate_pp',
        'tbwkt%.mid': 'wicketmix_%_rate_mid',
        'tbwkt%.dth': 'wicketmix_%_rate_dth',
        'tbwkt': 'total_wickets',
        'tbov': 'total_overs_bowled',
        'tr_tinn_ratio': 'runs_innings_ratio',
        '4xtbwktotal_tbov_ratio': 'four_times_wickets_overs_bowled_ratio' }
    dfexp_transpose.rename(index=index_dict, inplace=True)
else:
    dfexp_transpose = dfexp.sort_values(by = ['most_batted_position','tinn'], ascending = False).transpose()
    index_dict ={
        'tm': 'team',
        'name': 'player_name',
        'batnum_min': 'batting_order',
        'tbf': 't_balls_faced',
        'tr_pp': 'runs_pp',
        'tbf_pp': 'balls_faced_pp',
        'tout_pp': 'outs_pp',
        'tr_mid': 'runs_mid',
        'tbf_mid': 'balls_faced_mid',
        'tout_mid': 'outs_mid',
        'tr_dth': 'runs_dth',
        'tbf_dth': 'balls_faced_dth',
        'tout_dth': 'outs_dth',
        'f.cp.pts30': 'fantasy_pts_30',
        'f.cp.pts50': 'fantasy_pts_50',
        'f.cp.pts100': 'fantasy_pts_100',
        'f.cp.pts0': 'fantasy_pts_0',
        'tbb': 't_balls_bowled',
        'tbrc': 't_runs_conceded',
        'tbov.powp': 'overs_bowled_pp',
        'tbov.mid': 'overs_bowled_mid',
        'tbov.dth': 'overs_bowled_dth',
        'tbrc_pp': 'runs_conceded_pp',
        'tbrc_mid': 'runs_conceded_mid',
        'tbrc_dth': 'runs_conceded_dth',
        'tbwkt_pp': 'wkts_pp',
        'tbwkt_mid': 'wkts_mid',
        'tbwkt_dth': 'wkts_dth',
        'bat_tm': 'batting_team',
        'bat': 'batsman',
        'bow_tm': 'bowling_team',
        'bow': 'bowler',
        'tr%.pp': 'runmix_%_pp',
        'tr%.mid': 'runmix_%_mid',
        'tr%.dth': 'runmix_%_dth',
        'tr': 't_runs',
        'tinn': 't_innings',
        'tbov%.pp': 'overmix_%_pp',
        'tbov%.mid': 'overmix_%_rate_mid',
        'tbov%.dth': 'overmix_%_rate_dth',
        'tbwkt%.pp': 'wicketmix_%_rate_pp',
        'tbwkt%.mid': 'wicketmix_%_rate_mid',
        'tbwkt%.dth': 'wicketmix_%_rate_dth',
        'tbwkt': 'total_wickets',
        'tbov': 'total_overs_bowled',
        'tr_tinn_ratio': 'runs_innings_ratio',
        '4xtbwktotal_tbov_ratio': 'four_times_wickets_overs_bowled_ratio' }

    dfexp_transpose.rename(index=index_dict, inplace=True)

In [178]:

if with_pre_existing_tags:
    transexp_file = f'pstats_tpose_v01_{team_for_code}_fyml.xlsx'
    dfexp_transpose.to_excel(loc_exp + transexp_file, index = True)
else:
    transexp_file = f'pstats_tpose_v01_wo_tags_{team_for_code}_fyml.xlsx'
    dfexp_transpose.to_excel(loc_exp + transexp_file, index = True)

### Fantasy Points Totals

In [179]:
'''
#Create Fantasy pts crickpe version

pstats['bat_pts'] = master_df['rs'].fillna(0) + master_df['four'].fillna(0) + master_df['six'].fillna(0)*2 \
    + master_df['pts_for_thrty'].fillna(0) + master_df['pts_for_fifty'].fillna(0) + master_df['pts_for_hundy'].fillna(0) + master_df['pts_for_ducky'].fillna(0)

master_df['bow_pts'] = master_df['wkt'].fillna(0)*25 \
    + master_df['pts_for_3w'].fillna(0) + master_df['pts_for_4w'].fillna(0) + master_df['pts_for_5w'].fillna(0) \
        + master_df['pts_for_bow_econ'].fillna(0)

master_df['pts_crickpe'] = master_df['bat_pts'].fillna(0) + master_df['bow_pts'].fillna(0)
'''

"\n#Create Fantasy pts crickpe version\n\npstats['bat_pts'] = master_df['rs'].fillna(0) + master_df['four'].fillna(0) + master_df['six'].fillna(0)*2     + master_df['pts_for_thrty'].fillna(0) + master_df['pts_for_fifty'].fillna(0) + master_df['pts_for_hundy'].fillna(0) + master_df['pts_for_ducky'].fillna(0)\n\nmaster_df['bow_pts'] = master_df['wkt'].fillna(0)*25     + master_df['pts_for_3w'].fillna(0) + master_df['pts_for_4w'].fillna(0) + master_df['pts_for_5w'].fillna(0)         + master_df['pts_for_bow_econ'].fillna(0)\n\nmaster_df['pts_crickpe'] = master_df['bat_pts'].fillna(0) + master_df['bow_pts'].fillna(0)\n"

In [180]:

# Calculate strike rates for each phase of the game
#df_plyr_mtch['sr_powp'] = (df_plyr_mtch['tot_runs_powp'] / df_plyr_mtch['tot_balls_powp']) * 100
#df_plyr_mtch['sr_mid'] = (df_plyr_mtch['tot_runs_mid'] / df_plyr_mtch['tot_balls_mid']) * 100
#df_plyr_mtch['sr_dth'] = (df_plyr_mtch['tot_runs_dth'] / df_plyr_mtch['tot_balls_dth']) * 100