In [10]:

#### Steps to create the master dataset

# Import the bbb_master data
# Add the Tags from the tag data 
#

In [58]:

import pandas as pd, numpy as np, os
from pprint import pprint

from collections import defaultdict

In [12]:

def dfdets(df):
    print()
    print(df.shape)
    print()
    print(df.columns.values.tolist())
    print()
    display(df.head(3))

In [13]:

bbb_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\ipl_json_bbb\\'

location_exp = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\lineups\\'
tag_location = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\lineups\\'
loc_lups = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\lineups\\'
tag_filename = 'Tags.xlsx'

lexp = 'C:\\Users\\karan\\Documents\\Cricket-Analytics\\IPL\\Data\\exp\\'

In [14]:

tag_df = pd.read_excel( tag_location + tag_filename )

dfdets(tag_df)

(199, 10)

['tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']

,tm,tm_abbr,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos
0,Chennai Super Kings,CSK,AM Rahane,Ajinkya Rahane,RHB,RAM,Right,Pace,medium,NaN
1,Chennai Super Kings,CSK,Akash Singh,Akash Singh,RHB,LAFM,Left,Pace,medium,NaN
2,Chennai Super Kings,CSK,AT Rayudu,Ambati Rayudu,RHB,RAOB,Right,Spin,off-break,NaN

In [15]:
### Importing the ball-by-ball data

In [16]:

ipl_full_fname = 'bbb_upto_G70_frm_yaml.xlsx'

bbb_master_raw = pd.read_excel( lexp + ipl_full_fname )

In [17]:

print(bbb_master_raw.shape)

print(bbb_master_raw.columns.values.tolist())

(17490, 20)
['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'inn.num', 'm.num', 'm.tbov']

In [18]:

display(bbb_master_raw.head(3))

,bow,bat,bat_order,b.num,inning,tm_bat,tm_bow,city,date,competition,mtype,tr,wkt,over,fpp,fmid,fdth,inn.num,m.num,m.tbov
0,Mohammed Shami,DP Conway,1,0.1,1st innings,CSK,GT,Ahmedabad,2023-03-31,IPL,T20,0,0,1,1,0,0,1.0,1,111.0
1,MJ Santner,Shubman Gill,2,7.5,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,T20,4,0,8,0,1,0,2.0,1,128.0
2,MJ Santner,Shubman Gill,2,7.6,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,T20,1,0,8,0,1,0,2.0,1,128.0

In [19]:

fname_p11 = 'G71_Q1_P11.xlsx'

players_df = pd.read_excel( loc_lups + fname_p11 )
#players_df = pd.read_excel('path_to_your_file.csv')

dfdets(players_df)

(35, 10)

['tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'pos']

,tm,tm_abbr,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,pos
0,Chennai Super Kings,CSK,DP Conway,Devon Conway,LHB,RAM,Right,Pace,medium,1.0
1,Chennai Super Kings,CSK,RD Gaikwad,Ruturaj Gaikwad,RHB,RAOB,Right,Spin,off-break,2.0
2,Chennai Super Kings,CSK,AM Rahane,Ajinkya Rahane,RHB,RAM,Right,Pace,medium,3.0

In [20]:

toss_winner = 'Chennai Super Kings'

team1 = players_df[players_df['tm'] == 'Chennai Super Kings']
team2 = players_df[players_df['tm'] == 'Gujarat Titans']

batting_first_team = team1 if toss_winner == 'Chennai Super Kings' else team2
bowling_first_team = team2 if toss_winner == 'Chennai Super Kings' else team1

print(f"batting first is :{batting_first_team.tm.unique().tolist()}, bowling first is :{bowling_first_team.tm.unique().tolist()}")

batting first is :['Chennai Super Kings'], bowling first is :['Gujarat Titans']

In [21]:

## Merge the ball-by-ball data with the Tag(s) data

In [22]:

#bbb_merge = pd.merge(bbb_master_raw, tag_df, left_on = ['bat_tm','bat'], right_on = ['tm','name'], how = 'left')
bbb_merge = pd.merge(bbb_master_raw, tag_df, left_on = ['tm_bat','bat'], right_on = ['tm','name'], how = 'left')

In [23]:

dfdets(bbb_merge)

(17490, 30)

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'inn.num', 'm.num', 'm.tbov', 'tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']

,bow,bat,bat_order,b.num,inning,tm_bat,tm_bow,city,date,competition,...,tm,tm_abbr,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos
0,Mohammed Shami,DP Conway,1,0.1,1st innings,CSK,GT,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MJ Santner,Shubman Gill,2,7.5,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MJ Santner,Shubman Gill,2,7.6,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:

exp_filename = 'bbb_merge_frm_yaml'
exp_extension = '.csv'
bbb_merge.to_csv( lexp + exp_filename + exp_extension)


# Transition Matrix

In [25]:

print(bbb_merge.columns.values.tolist())

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'inn.num', 'm.num', 'm.tbov', 'tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']

In [26]:

display(bbb_merge.groupby(['city']).agg({'b.num':'count'}))

            b.num
city
Ahmedabad    1780
Bengaluru    1784
Chandigarh   1250
Chennai      1784
Delhi        1778
Dharamsala    522
Guwahati      519
Hyderabad    1764
Jaipur       1174
Kolkata      1738
Lucknow      1638
Mumbai       1759

In [27]:

# Filter for Chennai as the ground
 
fcity = ['Chennai']

print(bbb_merge.shape)
#bbb_df = bbb_merge[bbb_merge.city.isin(fcity)]
bbb_df = bbb_merge.copy()
print(bbb_df.shape)

(17490, 30)
(17490, 30)

In [28]:

dfdets(bbb_df)

(17490, 30)

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'inn.num', 'm.num', 'm.tbov', 'tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos']

,bow,bat,bat_order,b.num,inning,tm_bat,tm_bow,city,date,competition,...,tm,tm_abbr,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos
0,Mohammed Shami,DP Conway,1,0.1,1st innings,CSK,GT,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MJ Santner,Shubman Gill,2,7.5,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MJ Santner,Shubman Gill,2,7.6,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:

# Creating a state variable a) states can be either the runs or wickets (or extras in later versions) 

#print(type(bbb_master_raw))

#bbb_master = bbb_master_raw.copy()

bbb_df['state'] = bbb_df.apply(lambda x: 99 if x.wkt == 1 else x.tr, axis=1).astype('Int64')
#bbb_df = bbb_df.apply(lambda x: -1 if x['wkt'] == 1 else x['runs'], axis=1)
bbb_df['prevstate'] = bbb_df['state'].shift(1).astype('Int64')

bbb_df = bbb_df[~bbb_df.prevstate.isna()]
 
dfdets(bbb_df)

(17489, 32)

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'inn.num', 'm.num', 'm.tbov', 'tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'state', 'prevstate']

,bow,bat,bat_order,b.num,inning,tm_bat,tm_bow,city,date,competition,...,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos,state,prevstate
1,MJ Santner,Shubman Gill,2,7.5,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0
2,MJ Santner,Shubman Gill,2,7.6,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4
3,RA Jadeja,Shubman Gill,2,8.1,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [30]:

print(bbb_df.bowltype)

1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
        ...
17485    NaN
17486    NaN
17487    NaN
17488    NaN
17489    NaN
Name: bowltype, Length: 17489, dtype: object

## SPORTS SIMULATIONS

In [36]:

# Extract the unique states: (runs, wickets)
states = sorted(list(set(zip(bbb_df['prevstate'], bbb_df['state']))))

print(len(states))
print(states)

50
[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 6), (0, 99), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 6), (1, 99), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 6), (2, 99), (3, 0), (3, 1), (3, 2), (3, 4), (3, 6), (3, 99), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 6), (4, 99), (5, 1), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 6), (6, 99), (99, 0), (99, 1), (99, 2), (99, 3), (99, 4), (99, 5), (99, 6), (99, 99)]

In [37]:
# Extract the unique states:
states = sorted(bbb_df['state'].unique())

# Create a mapping of states to indices
state_to_index = {state: index for index, state in enumerate(states)}

# Initialize the transition matrix
transition_matrix = np.zeros((len(states), len(states)))

# Iterate through the data and update the transition matrix
for i in range(len(bbb_df) - 1):
    current_state = bbb_df.iloc[i]['state']
    next_state = bbb_df.iloc[i+1]['state']
    transition_matrix[state_to_index[current_state], state_to_index[next_state]] += 1

# Normalize the transition matrix
row_sums = transition_matrix.sum(axis=1, keepdims=True)
transition_matrix = transition_matrix / np.where(row_sums != 0, row_sums, 1)

print("Transition Matrix:")
print(transition_matrix.shape)
print()
print(transition_matrix)
print()
print(states)

Transition Matrix:
(8, 8)

[[0.38812267 0.3248418  0.05549245 0.0019471  0.1239656  0.
  0.0572773  0.04835307]
 [0.32484076 0.39585987 0.06050955 0.00207006 0.10780255 0.
  0.0616242  0.04729299]
 [0.31992149 0.37193327 0.07458292 0.00392542 0.11874387 0.
  0.05201178 0.05888126]
 [0.23809524 0.4047619  0.0952381  0.         0.16666667 0.
  0.02380952 0.07142857]
 [0.33867833 0.3483965  0.05247813 0.00291545 0.14237123 0.
  0.06219631 0.05296404]
 [0.         1.         0.         0.         0.         0.
  0.         0.        ]
 [0.29737336 0.3630394  0.06472795 0.00187617 0.12007505 0.
  0.10225141 0.05065666]
 [0.44470314 0.33876601 0.04656577 0.00582072 0.07799767 0.00116414
  0.04074505 0.04423749]]

[0, 1, 2, 3, 4, 5, 6, 99]

In [40]:

## Code as a function.
"""
def create_transition_matrix(data, states, state_to_index):
    transition_matrix = np.zeros((len(states), len(states)))

    for i in range(len(data) - 1):
        current_state = (data.iloc[i]['tr'], data.iloc[i]['wkt'])
        next_state = (data.iloc[i+1]['tr'], data.iloc[i+1]['wkt'])
        transition_matrix[state_to_index[current_state], state_to_index[next_state]] += 1

    transition_matrix = transition_matrix / transition_matrix.sum(axis=1, keepdims=True)

    return transition_matrix

- The next version fixes for the definition of the transition states


def create_transition_matrix(data, states, state_to_index):
    transition_matrix = np.zeros((len(states), len(states)))

    for i in range(len(data) - 1):
        current_state = data.iloc[i]['tr'] if data.iloc[i]['wkt'] != 1 else 99
        next_state = data.iloc[i+1]['tr'] if data.iloc[i+1]['wkt'] != 1 else 99
        transition_matrix[state_to_index[current_state], state_to_index[next_state]] += 1

    row_sums = transition_matrix.sum(axis=1, keepdims=True)
    transition_matrix = transition_matrix / np.where(row_sums != 0, row_sums, 1)

    return transition_matrix

"""

"\ndef create_transition_matrix(data, states, state_to_index):\n    transition_matrix = np.zeros((len(states), len(states)))\n\n    for i in range(len(data) - 1):\n        current_state = (data.iloc[i]['tr'], data.iloc[i]['wkt'])\n        next_state = (data.iloc[i+1]['tr'], data.iloc[i+1]['wkt'])\n        transition_matrix[state_to_index[current_state], state_to_index[next_state]] += 1\n\n    transition_matrix = transition_matrix / transition_matrix.sum(axis=1, keepdims=True)\n\n    return transition_matrix\n\n- The next version fixes for the definition of the transition states\n\n\ndef create_transition_matrix(data, states, state_to_index):\n    transition_matrix = np.zeros((len(states), len(states)))\n\n    for i in range(len(data) - 1):\n        current_state = data.iloc[i]['tr'] if data.iloc[i]['wkt'] != 1 else 99\n        next_state = data.iloc[i+1]['tr'] if data.iloc[i+1]['wkt'] != 1 else 99\n        transition_matrix[state_to_index[current_state], state_to_index[next_state]] += 1\n\n    row_sums = transition_matrix.sum(axis=1, keepdims=True)\n    transition_matrix = transition_matrix / np.where(row_sums != 0, row_sums, 1)\n\n    return transition_matrix\n\n"

In [39]:

# Defining the transition matrix using the 'state' variable

def create_transition_matrix(data, states, state_to_index):
    transition_matrix = np.zeros((len(states), len(states)))

    for i in range(len(data) - 1):
        current_state = data.iloc[i]['state']
        next_state = data.iloc[i+1]['state']
        transition_matrix[state_to_index[current_state], state_to_index[next_state]] += 1

    row_sums = transition_matrix.sum(axis=1, keepdims=True)
    transition_matrix = transition_matrix / np.where(row_sums != 0, row_sums, 1)

    return transition_matrix

In [41]:
### Trial on creating a transition matrix by Tags Right-Spin vs Right-Pace vs Left-Spin vs Left-Pace

In [42]:

dfdets(bbb_df)

(17489, 32)

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'inn.num', 'm.num', 'm.tbov', 'tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'state', 'prevstate']

,bow,bat,bat_order,b.num,inning,tm_bat,tm_bow,city,date,competition,...,name,fname,battype,bowltype,bowlarm,bowlcat,bowlcat.l2,lpos,state,prevstate
1,MJ Santner,Shubman Gill,2,7.5,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,0
2,MJ Santner,Shubman Gill,2,7.6,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4
3,RA Jadeja,Shubman Gill,2,8.1,2nd innings,GT,CSK,Ahmedabad,2023-03-31,IPL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [45]:

print(bbb_df.columns.values.tolist())

['bow', 'bat', 'bat_order', 'b.num', 'inning', 'tm_bat', 'tm_bow', 'city', 'date', 'competition', 'mtype', 'tr', 'wkt', 'over', 'fpp', 'fmid', 'fdth', 'inn.num', 'm.num', 'm.tbov', 'tm', 'tm_abbr', 'name', 'fname', 'battype', 'bowltype', 'bowlarm', 'bowlcat', 'bowlcat.l2', 'lpos', 'state', 'prevstate']

In [46]:

bbb_df.inning.unique()

array(['2nd innings', nan, '1st innings'], dtype=object)

In [47]:

print(state_to_index)
print(bbb_df.inning.unique())

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 99: 7}
['2nd innings' nan '1st innings']

In [48]:

# Filter the data for the first and second innings
first_innings_data = bbb_df[bbb_df['inning'] == '1st innings']
second_innings_data = bbb_df[bbb_df['inning'] == '2nd innings']

# Create transition matrices for the first and second innings
first_innings_transition_matrix = create_transition_matrix(first_innings_data, states, state_to_index)
second_innings_transition_matrix = create_transition_matrix(second_innings_data, states, state_to_index)

In [ ]:

# This function simulates the match ball-by-ball and uses the 'state' variable we create above

"""
def simulate_ball_by_ball(transition_matrix, state_to_index, states, num_balls, target=None):
    current_state = 0
    simulation = []
    runs = 0
    wickets = 0

    for ball in range(num_balls):
        next_state_probs = transition_matrix[state_to_index[current_state]]
        next_state_index = np.random.choice(range(len(states)), p=next_state_probs)
        next_state = states[next_state_index]
        simulation.append(next_state)
        current_state = next_state

        if next_state == 99: 
            wickets += 1
        else: 
            runs += next_state

        # Stop the simulation if the target is reached or the team has lost all wickets
        if target is not None:
            if runs >= target or wickets == 10:
                break

    return simulation, runs, wickets



### This version uses the state variable to run simulation(s) 

def simulate_ball_by_ball(transition_matrix, state_to_index, states, num_balls, target=None):
    current_state = states[0]  # Start from the first state
    simulation = []
    runs = 0
    wickets = 0

    for ball in range(num_balls):
        next_state_probs = transition_matrix[state_to_index[current_state]]
        next_state_index = np.random.choice(range(len(states)), p=next_state_probs)
        next_state = states[next_state_index]
        simulation.append(next_state)
        current_state = next_state
        if next_state != 99:
            runs += next_state
        else:
            wickets += 1

        # Stop the simulation if the target is reached or the team has lost all wickets
        if target is not None:
            if runs >= target or wickets == 10:
                break

    return simulation, runs, wickets

"""

In [49]:

"""
### This version uses the palyers information and updates it for the runs scored and the balls faced

def simulate_ball_by_ball(transition_matrix, state_to_index, states, num_balls, players, target=None):
    current_state = 0
    current_batsman_index = 0
    runs = 0
    wickets = 0

    for ball in range(num_balls):
        next_state_probs = transition_matrix[state_to_index[current_state]]
        next_state = np.random.choice(states, p=next_state_probs)
        players[current_batsman_index]['balls_faced'] += 1
        players[current_batsman_index]['runs'] += next_state
        runs += next_state
        if next_state == 99:
            wickets += 1
            current_batsman_index += 1
        if target is not None and (runs >= target or wickets == 10 or ball == num_balls - 1):
            break
        current_state = next_state

    return runs, wickets, players
"""

In [53]:
def simulate_ball_by_ball(transition_matrix, state_to_index, states, batting_order):
    current_state = 0
    simulation = []
    runs = 0
    wickets = 0
    batsman_index = 0

    for ball in range(len(batting_order) * 6):  # Each batsman faces 6 balls
        # End the simulation if all wickets have fallen
        if batsman_index >= len(batting_order):
            break

        next_state_probs = transition_matrix[state_to_index[current_state]]
        next_state_index = np.random.choice(range(len(states)), p=next_state_probs)
        next_state = states[next_state_index]
        simulation.append((batting_order[batsman_index], next_state))
        current_state = next_state
        runs += next_state

        if next_state == 99:  # Wicket
            wickets += 1
            batsman_index += 1

        if ball % 6 == 0 and ball != 0:  # End of over
            batsman_index = (batsman_index + 1) % len(batting_order)

    return simulation, runs, wickets

In [60]:

def simulate_ball_by_ball(transition_matrix, state_to_index, states, batting_order, target ):
    current_state = 0
    simulation = []
    runs = 0
    wickets = 0
    batsman_index = 0
    ball_number = 0

    while batsman_index < len(batting_order):
        next_state_probs = transition_matrix[state_to_index[current_state]]
        next_state_index = np.random.choice(range(len(states)), p=next_state_probs)
        next_state = states[next_state_index]
        simulation.append((batting_order[batsman_index], next_state))
        current_state = next_state
        runs += next_state if next_state != 99 else 0
        ball_number += 1

        if next_state == 99 or ball_number == 120:  # A wicket fell or over completed
            batsman_index += 1
            ball_number = 0  # reset ball count for the next batsman

        if runs >= target or wickets == 10:  # Stop if target is reached or all out
            break

    return simulation, runs, wickets

In [62]:

# Get the batting order
batting_order_first_innings = batting_first_team['name'].tolist()
batting_order_second_innings = bowling_first_team['name'].tolist()

# Simulate the first innings
simulated_first_innings, first_innings_total_runs, first_innings_total_wickets = simulate_ball_by_ball(first_innings_transition_matrix, state_to_index, states, batting_order_first_innings)

target = first_innings_total_runs + 1

# Simulate the second innings
simulated_second_innings, second_innings_total_runs, second_innings_total_wickets = simulate_ball_by_ball(second_innings_transition_matrix, state_to_index, states, batting_order_second_innings)

NameError: name 'target' is not defined

In [56]:

# Print the results
print("Simulated First Innings:")
pprint(simulated_first_innings)
print("Total Runs (1st Innings):", first_innings_total_runs)
print("Total Wickets (2nd Innings):", first_innings_total_wickets)

print("\nSimulated Second Innings:")
print(simulated_second_innings)
print("Total Runs (2nd Innings):", second_innings_total_runs)
print("Total Wickets (2nd Innings):", second_innings_total_wickets)

# Determine the match result
if second_innings_total_runs >= target:
    print("\nSecond team won!")
elif second_innings_total_wickets == 10 or len(simulated_second_innings) == num_balls:
    print("\nSecond team lost!")

Simulated First Innings:
[('DP Conway', 1),
 ('DP Conway', 0),
 ('DP Conway', 0),
 ('DP Conway', 4),
 ('DP Conway', 0),
 ('DP Conway', 6),
 ('DP Conway', 4),
 ('RD Gaikwad', 0),
 ('RD Gaikwad', 0),
 ('RD Gaikwad', 0),
 ('RD Gaikwad', 1),
 ('RD Gaikwad', 6),
 ('RD Gaikwad', 1),
 ('AM Rahane', 1),
 ('AM Rahane', 4),
 ('AM Rahane', 4),
 ('AM Rahane', 2),
 ('AM Rahane', 2),
 ('AM Rahane', 4),
 ('S Dube', 99),
 ('MM Ali', 0),
 ('MM Ali', 0),
 ('MM Ali', 1),
 ('MM Ali', 0),
 ('MM Ali', 1),
 ('AT Rayudu', 0),
 ('AT Rayudu', 1),
 ('AT Rayudu', 1),
 ('AT Rayudu', 0),
 ('AT Rayudu', 4),
 ('AT Rayudu', 0),
 ('RA Jadeja', 0),
 ('RA Jadeja', 0),
 ('RA Jadeja', 0),
 ('RA Jadeja', 0),
 ('RA Jadeja', 0),
 ('RA Jadeja', 99),
 ('DL Chahar', 6),
 ('DL Chahar', 1),
 ('DL Chahar', 1),
 ('DL Chahar', 99),
 ('TU Deshpande', 0),
 ('TU Deshpande', 1),
 ('M Theekshana', 0),
 ('M Theekshana', 99),
 ('Akash Singh', 0),
 ('Akash Singh', 1),
 ('Akash Singh', 0),
 ('Akash Singh', 1),
 ('BA Stokes', 4),
 ('BA Stokes', 4),
 ('BA Stokes', 0),
 ('BA Stokes', 0),
 ('BA Stokes', 1),
 ('BA Stokes', 99),
 ('M Pathirana', 1),
 ('M Pathirana', 1),
 ('M Pathirana', 0),
 ('M Pathirana', 2),
 ('M Pathirana', 1),
 ('M Pathirana', 4),
 ('MJ Santner', 99),
 ('RS Hangargekar', 1),
 ('RS Hangargekar', 2),
 ('RS Hangargekar', 4),
 ('RS Hangargekar', 6),
 ('RS Hangargekar', 1),
 ('SSB Magala', 0),
 ('SSB Magala', 0),
 ('SSB Magala', 4),
 ('SSB Magala', 4),
 ('SSB Magala', 0),
 ('SSB Magala', 1),
 ('DP Conway', 1),
 ('DP Conway', 1),
 ('DP Conway', 1),
 ('DP Conway', 4),
 ('DP Conway', 0),
 ('DP Conway', 0),
 ('RD Gaikwad', 6),
 ('RD Gaikwad', 1),
 ('RD Gaikwad', 1),
 ('RD Gaikwad', 1),
 ('RD Gaikwad', 0),
 ('RD Gaikwad', 4),
 ('AM Rahane', 6),
 ('AM Rahane', 1),
 ('AM Rahane', 1),
 ('AM Rahane', 2),
 ('AM Rahane', 4),
 ('AM Rahane', 0),
 ('S Dube', 6),
 ('S Dube', 6),
 ('S Dube', 1),
 ('S Dube', 1),
 ('S Dube', 1),
 ('S Dube', 0),
 ('MM Ali', 1),
 ('MM Ali', 1),
 ('MM Ali', 6),
 ('MM Ali', 0),
 ('MM Ali', 0),
 ('MM Ali', 0),
 ('AT Rayudu', 4),
 ('AT Rayudu', 99),
 ('RA Jadeja', 1),
 ('RA Jadeja', 1),
 ('RA Jadeja', 0)]
Total Runs (1st Innings): 856
Total Wickets (2nd Innings): 7

Simulated Second Innings:
[('Shubman Gill', 1), ('Shubman Gill', 0), ('Shubman Gill', 1), ('Shubman Gill', 2), ('Shubman Gill', 0), ('Shubman Gill', 0), ('Shubman Gill', 0), ('WP Saha', 0), ('WP Saha', 1), ('WP Saha', 4), ('WP Saha', 2), ('WP Saha', 1), ('WP Saha', 4), ('V Shankar', 1), ('V Shankar', 0), ('V Shankar', 0), ('V Shankar', 0), ('V Shankar', 2), ('V Shankar', 0), ('HH Pandya', 0), ('HH Pandya', 1), ('HH Pandya', 2), ('HH Pandya', 2), ('HH Pandya', 0), ('HH Pandya', 0), ('DA Miller', 0), ('DA Miller', 1), ('DA Miller', 1), ('DA Miller', 0), ('DA Miller', 2), ('DA Miller', 4), ('R Tewatia', 2), ('R Tewatia', 0), ('R Tewatia', 4), ('R Tewatia', 4), ('R Tewatia', 0), ('R Tewatia', 0), ('MD Shanaka', 0), ('MD Shanaka', 0), ('MD Shanaka', 0), ('MD Shanaka', 0), ('MD Shanaka', 1), ('MD Shanaka', 0), ('Rashid Khan', 0), ('Rashid Khan', 0), ('Rashid Khan', 4), ('Rashid Khan', 0), ('Rashid Khan', 0), ('Rashid Khan', 0), ('Noor Ahmad', 1), ('Noor Ahmad', 0), ('Noor Ahmad', 4), ('Noor Ahmad', 0), ('Noor Ahmad', 1), ('Noor Ahmad', 0), ('MM Sharma', 6), ('MM Sharma', 4), ('MM Sharma', 0), ('MM Sharma', 1), ('MM Sharma', 6), ('MM Sharma', 0), ('Mohammed Shami', 1), ('Mohammed Shami', 2), ('Mohammed Shami', 6), ('Mohammed Shami', 6), ('Mohammed Shami', 0), ('Mohammed Shami', 1), ('A Manohar', 0), ('A Manohar', 1), ('A Manohar', 1), ('A Manohar', 1), ('A Manohar', 1), ('A Manohar', 1), ('AS Joseph', 1), ('AS Joseph', 0), ('AS Joseph', 1), ('AS Joseph', 4), ('AS Joseph', 0), ('AS Joseph', 1), ('J Yadav', 1), ('J Yadav', 1), ('J Yadav', 4), ('J Yadav', 4), ('J Yadav', 99), ('J Little', 0), ('B Sai Sudharsan', 4), ('B Sai Sudharsan', 4), ('B Sai Sudharsan', 1), ('B Sai Sudharsan', 4), ('B Sai Sudharsan', 2), ('B Sai Sudharsan', 1), ('Yash Dayal', 0), ('Yash Dayal', 6), ('Yash Dayal', 0), ('Yash Dayal', 0), ('Yash Dayal', 1), ('Yash Dayal', 0), ('Shubman Gill', 0), ('Shubman Gill', 0), ('Shubman Gill', 0), ('Shubman Gill', 0), ('Shubman Gill', 0)]
Total Runs (2nd Innings): 230
Total Wickets (2nd Innings): 1

NameError: name 'target' is not defined

In [59]:

def create_scorecard(simulation):
    scorecard = defaultdict(lambda: {'runs': 0, 'balls': 0, 'out': False})

    for batsman, runs in simulation:
        scorecard[batsman]['runs'] += runs if runs != 99 else 0
        scorecard[batsman]['balls'] += 1
        if runs == 99:
            scorecard[batsman]['out'] = True

    # Convert to DataFrame
    scorecard_df = pd.DataFrame(scorecard).T
    scorecard_df.index.name = 'Batsman'
    scorecard_df.reset_index(inplace=True)

    return scorecard_df

# Create scorecards for both innings
scorecard_first_innings = create_scorecard(simulated_first_innings)
scorecard_second_innings = create_scorecard(simulated_second_innings)

# Print the scorecards
print("First Innings Scorecard:")
print(scorecard_first_innings)
print("\nSecond Innings Scorecard:")
print(scorecard_second_innings)

First Innings Scorecard:
           Batsman runs balls    out
0        DP Conway   22    13  False
1       RD Gaikwad   21    12  False
2        AM Rahane   31    12  False
3           S Dube   15     7   True
4           MM Ali   10    11  False
5        AT Rayudu   10     8   True
6        RA Jadeja    2     9   True
7        DL Chahar    8     4   True
8     TU Deshpande    1     2  False
9     M Theekshana    0     2   True
10     Akash Singh    2     4  False
11       BA Stokes    9     6   True
12     M Pathirana    9     6  False
13      MJ Santner    0     1   True
14  RS Hangargekar   14     5  False
15      SSB Magala    9     6  False

Second Innings Scorecard:
            Batsman runs balls    out
0      Shubman Gill    4    12  False
1           WP Saha   12     6  False
2         V Shankar    3     6  False
3         HH Pandya    5     6  False
4         DA Miller    8     6  False
5         R Tewatia   10     6  False
6        MD Shanaka    1     6  False
7       Rashid Khan    4     6  False
8        Noor Ahmad    6     6  False
9         MM Sharma   17     6  False
10   Mohammed Shami   16     6  False
11        A Manohar    5     6  False
12        AS Joseph    7     6  False
13          J Yadav   10     5   True
14         J Little    0     1  False
15  B Sai Sudharsan   16     6  False
16       Yash Dayal    7     6  False

In [50]:

num_balls = 120

# Simulate the first innings
simulated_first_innings, first_innings_total_runs, first_innings_total_wickets = simulate_ball_by_ball(first_innings_transition_matrix, state_to_index, states, num_balls)

# Calculate the target for the second team
target = first_innings_total_runs + 1

# Simulate the second innings
simulated_second_innings, second_innings_total_runs, second_innings_total_wickets = simulate_ball_by_ball(second_innings_transition_matrix, state_to_index, states, num_balls, target=target)

# Print the results
print("Simulated First Innings:")
print(simulated_first_innings)
print("Total Runs (1st Innings):", first_innings_total_runs)
print("Total Wickets (2nd Innings):", first_innings_total_wickets)

print("\nSimulated Second Innings:")
print(simulated_second_innings)
print("Total Runs (2nd Innings):", second_innings_total_runs)
print("Total Wickets (2nd Innings):", second_innings_total_wickets)

# Determine the match result
if second_innings_total_runs >= target:
    print("\nSecond team won!")
elif second_innings_total_wickets == 10 or len(simulated_second_innings) == num_balls:
    print("\nSecond team lost!")

TypeError: simulate_ball_by_ball() missing 1 required positional argument: 'players'